@font-face {
font-family: 'clear_sans';
src: url('../fonts/regular/ClearSans-Regular-webfont.eot');
src: url('../fonts/regular/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/regular/ClearSans-Regular-webfont.woff') format('woff'),
     url('../fonts/regular/ClearSans-Regular-webfont.ttf') format('truetype'),
     url('../fonts/regular/ClearSans-Regular-webfont.svg#clear_sansbold') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'clear_sansbold';
src: url('../fonts/bold/ClearSans-Bold-webfont.eot');
src: url('../fonts/bold/ClearSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/bold/ClearSans-Bold-webfont.woff') format('woff'),
     url('../fonts/bold/ClearSans-Bold-webfont.ttf') format('truetype'),
     url('../fonts/bold/ClearSans-Bold-webfont.svg#clear_sansbold') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'clear_sansmedium';
src: url('../fonts/medium/ClearSans-Medium-webfont.eot');
src: url('../fonts/medium/ClearSans-Medium-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/medium/ClearSans-Medium-webfont.woff') format('woff'),
     url('../fonts/medium/ClearSans-Medium-webfont.ttf') format('truetype'),
     url('../fonts/medium/ClearSans-Medium-webfont.svg#clear_sansbold') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'clear_sansmediumitalic';
src: url('../fonts/mediumitalic/ClearSans-MediumItalic-webfont.eot');
src: url('../fonts/mediumitalic/ClearSans-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/mediumitalic/ClearSans-MediumItalic-webfont.woff') format('woff'),
     url('../fonts/mediumitalic/ClearSans-MediumItalic-webfont.ttf') format('truetype'),
     url('../fonts/mediumitalic/ClearSans-MediumItalic-webfont.svg#clear_sansbold') format('svg');
font-weight: normal;
font-style: normal;
}
body {
	font-family: 'clear_sans';
	background-color: #F1F2F2;
}
h1,h2,h3,h4,h5 {
	font-family: 'clear_sans';
}
p {
	font-size: 0.9rem
}
ul {
    list-style-type: none;
    margin-left: 0
}
.blissful-blog {
	color: #586E77;
}
.blissful-blog header {
    background-color: #FFF;
    margin-bottom: 1rem;
}
.blissful-blog section.top-header {
    border-bottom: 3px solid #FF334D;
    padding: 8px;
}
.blissful-blog .main-nav ul {
    list-style-type: none;
    margin: 0;
}
.blissful-blog .main-nav ul li {
	display: inline-block;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    border-bottom: 2px solid transparent;
}
.blissful-blog .main-nav ul li:hover {
	color: #E94432;
	border-bottom-color: #E94432;
}
.blissful-blog .top-header h1 {
    line-height: 1;
}
.blissful-blog .top-header h1 img {
    max-width: 110px;
}
.blissful-blog .top-header input[type="text"] {
    margin-bottom: 0;
    border-radius: 19px;
    width: 18rem;
    padding: 5px 10px;
    height: inherit;
    font-size: 0.9rem;
    border: none;
    box-shadow: none;
    margin-top: 13px;
    color: #586E77;
    background: #F1F1F2 url(../img/arrow.png) 97% 5px no-repeat;
    background-size: 6%;
}
.blissful-blog .mainft {
    position: relative;
    overflow: hidden;
    padding-bottom: 5rem;
}
.blissful-blog .mainft img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blissful-blog .mainft h2 {
    color: #FFF;
    line-height: 1.1;
    margin-bottom: 0.3rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.blissful-blog .mainft .wrap {
    position: relative;
    margin-left: 2rem;
    width: 40%;
}
.blissful-blog section.masthead {
    background-color: #E9ECED;
    padding-bottom: 1rem;
}
.blissful-blog .mainft .wrap.title {
    margin-top: 7.6%;
}
.blissful-blog main[aria-role="main"] {
    background-color: #FFF;
}
.blissful-blog main[aria-role="main"] h3 {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.blissful-blog .wrap.title h6 {
    text-transform: uppercase;
    color: #FFF;
    font-size: 0.8em;
}
.blissful-blog .wrap.title h4 {
    font-size: 1.2rem;
    color: #FFF;
    margin-bottom: 0.3rem;
}
.blissful-blog .wrap.title h5 {
    color: #FFF;
    font-size: .9em;
    font-style: italic;
}
.blissful-blog .mainft span.share {
    left: 0
}
.blissful-blog ul.blogs-list {
    padding-bottom: 2rem;
    width: 100%;
    float: left;
}
.blissful-blog span.share {
    display: block;
    position: absolute;
    bottom: 0;
}
.blissful-blog .mainft span.icon {
    float: left;
}
.blissful-blog span.icon {
    display: block;
    background-color: #939598;
    position: relative;
    color: #FFF;
    padding: 0.3rem .5rem;
    font-size: 1.5rem;
    line-height: 0;
}
.blissful-blog .mainft span.txt {
    float: left;
}
.blissful-blog span.txt {
    color: #939598;
    display: block;
    position: relative;
    padding: 0.3rem .5rem 0;
}
.blissful-blog ul.blogs-list li {
    width: 48%;
    float: left;
    margin-right: 2%;
    margin-bottom: 1.4rem;
    position: relative;
    height: 24rem;
}
.blissful-blog ul.blogs-list li:nth-child(2) {
    margin-right: 0
}
.blissful-blog ul.blogs-list li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 18rem;
    object-fit: cover;
}
.blissful-blog ul.blogs-list li .wrap.title {
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 10%;
    background-color: #FFF;
    padding: 1rem;
    height: 10rem;
}
.blissful-blog .wrap.title.green h4,
.blissful-blog .wrap.title.green h6 {
    color: #189569
}
.blissful-blog .wrap.title.pink h4,
.blissful-blog .wrap.title.pink h6 {
    color: #FF334D
}
.blissful-blog ul.blogs-list li .wrap.title h4 {
    font-size: 1rem;
}
.blissful-blog ul.blogs-list li .wrap.title h5 {
    color: #939598;
    font-size: 0.7rem;
}
.blissful-blog ul.blogs-list li .wrap.title h6 {
font-size: 0.7rem;
}
.blissful-blog ul.blogs-list li .wrap.title h2 {
    font-size: 1.2rem;
    color: #000;
    line-height: 1.3;
}
.blissful-blog ul.blogs-list li span.share {
    right: 0
}
.blissful-blog ul.blogs-list li span.icon,
.blissful-blog ul.blogs-list li span.txt {
    float: right;
}
.blissful-blog .blog-article .masthead .mainft {
    height: 310px;
    padding: 0;
}
.blog-article-wrap {
    width: 96%;
    margin-top: -3rem;
    position: relative;
    background-color: #FFF;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    float: right;
    padding-bottom: 4rem;
}
.blog-article h2 {
    font-size: 2rem;
    line-height: 1.3;
    color: #000;
    width: 80%;
}
.blissful-blog .blog-article .wrap.title h6 {
    font-size: 0.7rem;
    margin-bottom: 1rem;
}
.blissful-blog .wrap.title h5 {
    color: #939598;
    font-size: 0.85rem;
    margin: 1rem 0 1.5rem;
}
.blog-article p {
    color: #000;
}
.blog-article section.article {
    background-color: #E6E7E8;
    position: relative;
}
.blog-article .sidebar h5 {
    background-color: #7C8C94;
    padding: 1rem;
    color: #FFF;
    margin-bottom: 0;
    width: 100%;
    float: left;
}
.blog-article .sidebar ul {
    float: left;
    width: 100%;
}
.blog-article .sidebar ul li h5 {
    background-color: #FFF;
    padding: 1rem;
    text-align: left;
    color: #000;
    height: 90px;
    overflow: hidden;
    margin-top: -90px;
    position: relative;
    font-size: 1.05rem;
}
.blog-article .sidebar ul li {
    width: 100%;
    float: left;
    margin-top: 1rem;
}
.blog-article .sidebar {
    margin-bottom: 2rem;
}
.blog-article-wrap img {
    width: 100%;
    float: left;
    margin-bottom: 1rem;
}
.blog-article-wrap p.quote {
    font-family: 'clear_sansmediumitalic';
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 2rem 0;
}
.blissful-blog .blog-article span.share {
    top: 0;
    bottom: initial;
}
.blissful-blog .blog-article span.icon {
    padding: 0.2rem .7rem;
}
.blissful-blog .wrap.title.green h4 > a , .blissful-blog .wrap.title.green h6 > a {
    color: #189569;
}
.blissful-blog ul.blogs-list li .wrap.title h2 > a{
    color: #000;
}
.blissful-blog .wrap.title h6 > a{
    text-transform: uppercase;
    color: #FFF;
    font-size: 0.8em;
}
.blissful-blog .mainft h2 > a{
    color: #FFF;
    line-height: 1.1;
    margin-bottom: 0.3rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/
.pager > li{
    text-align: center;
}
.pager > li > a.round{
    border-radius: 1000px;
} 
footer .tft {
    background: #1BB2A6;
    padding: 2rem 0 1rem;
}

footer .bft {
    background: #196B64;
    padding: 10px 0;
    color: #FFF;
    font-family: clear_sans_thinregular;
}

footer .tft h5 {
    color: #FFF;
    font-size: .9rem;
}

footer .tft ul li a {
    font-size: .8rem;
    color: #FFF;
}

footer .tft ul li a:hover {
    text-decoration: underline;
}

footer .tft ul.right li {
    text-align: right;
    color: #fff;
}

footer .tft ul.right {
    width: 100%;
    margin-top: 1rem;
}
footer .tft ul.right span {
    font-size: .8rem;
}

footer .bft span {
    font-size: .7rem;
    color: #fff;
}


ul.socials li {
    width: 33px;
    height: 34px;
    display: inline-block;
    margin-right: 5px;
    float: right;
}

ul.socials li:nth-child(1) {
    background: url(../img/socials.png) -4px -3px no-repeat
}

ul.socials li:nth-child(2) {
    background: url(../img/socials.png) -40px -3px no-repeat
}

ul.socials li:nth-child(3) {
    background: url(../img/socials.png) -77px -3px no-repeat
}

ul.socials li:nth-child(4) {
    background: url(../img/socials.png) -114px -3px no-repeat
}
.sidebar > ul > li >img {
    min-height: 300px;
}
@media screen and (max-width: 740px) {
.blissful-blog .top-header input[type="text"] {
    width: 8rem;
}
.blissful-blog .blogs-list span.txt {
font-size: 0.8rem;
}
.blissful-blog span.icon {
padding: 0.3rem .4rem;
font-size: 1rem;
}
.blissful-blog ul.blogs-list li .wrap.title h6 {
    font-size: 0.6rem;
    margin-bottom: 0;
}
.blissful-blog ul.blogs-list li .wrap.title h2 {
    font-size: 1rem;
    margin: 3px 0;
}
.blissful-blog ul.blogs-list li .wrap.title {
    width: 90%;
    left: 5%;
}
.blissful-blog .mainft {
    padding-bottom: 2rem;
}
.blissful-blog .mainft .wrap {
    margin-left: 1rem;
    width: 80%;
}
.blissful-blog span.share {
    bottom: -3px;
}
}

@media screen and (max-width: 640px) {
.blog-article-wrap {
    float: none;
    width: 93%;
    margin: -3rem auto 1rem;
}
.blissful-blog .blog-article .masthead .mainft {
    height: 250px;
}
.blog-article .columns.sidebar {
    float: none;
}
.blog-article .sidebar ul li {
    width: 48%;
    margin-right: 3%;
}
.blog-article .sidebar ul li:nth-child(2n) {
    margin-right: 0
}
.blog-article .show-for-small-only.sidebar h3 {
    margin-top: -90px;
    font-size: 1.4rem;
    color: #000;
    height: 90px;
    background-color: #FFF;
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 0;
    padding: 1rem;
    text-align: left;
}
.ads {
    display: none;
}
.blog-article .sidebar h5 {
    margin-top: 1.5rem;
}

}

@media screen and (max-width: 500px) {
.blissful-blog ul.blogs-list li {
    width: 90%;
    float: none;
    margin: 0 auto 1.4rem;
    position: relative;
    height: 24rem;
    box-shadow: 3px 3px 10px rgba(204, 204, 204, 0.3);
}
.blissful-blog ul.blogs-list li:nth-child(2) {
    margin-right: auto;
}
.blissful-blog main[aria-role="main"] h3 {
    margin-bottom: 1rem;
}
.blissful-blog .blog-article .masthead .mainft {
    height: 200px;
}
.blog-article .sidebar ul li {
    height: 250px;
}
.blog-article .show-for-small-only.sidebar h3 {
    font-size: 1rem;
    padding-top: 0.9rem;
    height: 92px;
}
}