/*
created by ashok on 03/12/2015
3:24 PM
*/

.content{
    min-height: 700px; 
}

.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.note-editor {
    padding: 0px;
}
