
<div class="modal fade usersAdd" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Categoty</h4>
            </div>
            <form class="form" name="addUsersForm" ng-submit="addUsersFn()">
                <div class="modal-body">
                    <div class="form-group clearfix pull-in">
                        <div class="col-sm-6">
                            <label>
                                User Type
                                <span class="error" ng-show="addUsersForm.user_type.$error.required" style="color:RED">*</span>
                                <span class="valid" ng-show="addUsersForm.user_type.$valid" style="color:#31B404">*</span>
                            </label>
                            <select ng-model="user.user_type" name="user_type" class="form-control" required>
                                <option value="1">Admin</option>
                                <option value="2">Vendor</option>
                                <option value="3">Member</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label>
                                Name
                                <span class="error" ng-show="addUsersForm.name.$error.required" style="color:RED">*</span>
                                <span class="valid" ng-show="addUsersForm.name.$valid" style="color:#31B404">*</span>
                            </label>
                            <input type="text" name="name" class="form-control" ng-model="user.name" required>
                        </div>
                    </div>
                    <div class="form-group clearfix pull-in">
                        <div class="col-sm-6">
                            <label>
                                Email
                                <span class="error" ng-show="addUsersForm.email.$error.required" style="color:RED">*</span>
                                <span class="valid" ng-show="addUsersForm.email.$valid" style="color:#31B404">*</span>
                            </label>
                            <input type="email" name="email" class="form-control" ng-model="user.email" required>
                        </div>
                        <div class="col-sm-6">
                            <label>
                                Photo
                            </label>
                            <input type="file" accept="image/*" name="photo" class="form-control" image="user.photo" />
                        </div>
                    </div>
                    <div class="form-group clearfix pull-in">
                        <div class="col-sm-4 pull-right">
                            <div ng-show="user.photo">
                                <img class="form-control" ng-src="{{user.photo.dataURL}}" style="height: 100px; width: 100px;" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" ng-disabled="addUsersForm.$invalid" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>