<!-- Start Page Header -->
<div class="page-header">
    <h1 class="title">Users</h1>
</div>
<!-- End Page Header -->

<!-- START CONTAINER -->
<div class="container-widget">
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-md-12">
            <button type="button" ui-sref="app.users.add" class="btn btn-info pull-right">Add User</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-title">
                    User List
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover" ng-show="users.length">
                        <thead>
                            <tr>
                                <td class="text-center">#</td>
                                <td>Name</td>
                                <td>Email</td>
                                <td>Active Status</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="usr in users">
                                <td class="text-center">{{$index + 1}}</td>
                                <td>{{usr.name}}</td>
                                <td>{{usr.email}}</td>
                                <td>
                                    <span ng-show="usr.active == 0">No</span>
                                    <span ng-show="usr.active == 1">Yes</span>
                                </td>
                                <td>
                                    <button class="btn btn-xs btn-primary" type="button" ui-sref="app.users.edit({id:usr.id})" tooltip="Edit User"><i class="fa fa-edit"></i></button>
                                    <button class="btn btn-xs btn-danger" ng-confirm-click confirmed-click="deleteUsersFn(usr.id)" type="button"  tooltip="Delete User"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-right m-t-lg m-b-lg" ng-show="users.length">
                        <!--<div class="col-md-6 text-right" >-->
                        <pagination boundary-links="true" style="margin: 0 0 5px 0;"
                                    total-items="totalCount"
                                    items-per-page="limit"
                                    ng-model="currentPage"
                                    class="pagination-sm"
                                    previous-text="&lsaquo;"
                                    ng-click="getPaginate()"
                                    max-size="maxSize"
                                    next-text="&rsaquo;"
                                    first-text="&laquo;"
                                    last-text="&raquo;">
                        </pagination>
                    </div>
                </div>
            </div>
        </div
    </div>  
</div>
<!-- END CONTAINER -->

<div ui-view=""></div>
