
<div class="modal fade subCategoryAdd" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Sub Categoty</h4>
            </div>
            <form class="form" name="addSubCategoryForm" ng-submit="addSubCategoryFn()">
                <div class="modal-body">
                    <div class="form-group clearfix pull-in">
                        <div class="col-sm-4">
                            <label>
                                Category
                                <span class="error" ng-show="addSubCategoryForm.category_id.$error.required" style="color: RED">*</span>
                                <span class="valid" ng-show="addSubCategoryForm.category_id.$valid" style="color: #31B404">*</span>
                            </label>
                            <select ng-options="category.id as category.name for category in categories track by category.id"
                                    ng-model="subcategory.category_id" name="category_id" class="form-control" required></select>
                        </div>
                        <div class="col-sm-4">
                            <label>
                                Name
                                <span class="error" ng-show="addSubCategoryForm.name.$error.required" style="color:RED">*</span>
                                <span class="valid" ng-show="addSubCategoryForm.name.$valid" style="color:#31B404">*</span>
                            </label>
                            <input type="text" name="name" class="form-control" ng-model="subcategory.name" required>
                        </div>
                        <div class="col-sm-4">
                            <label>
                                Description
                            </label>
                            <textarea name="description" class="form-control" ng-model="subcategory.description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" ng-disabled="addSubCategoryForm.$invalid" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>