<!-- Start Page Header -->
<div class="page-header">
    <h1 class="title">Sub Category</h1>
</div>
<!-- End Page Header -->

<!-- START CONTAINER -->
<div class="container-widget">
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-md-12">
            <button type="button" ui-sref="app.subcategory.add" class="btn btn-info pull-right">Add Sub Category</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-title">
                    Sub Categoty List
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover" ng-show="subcategories.length">
                        <thead>
                            <tr>
                                <td class="text-center">#</td>
                                <td>Name</td>
                                <td>Category</td>
                                <td>Description</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sc in subcategories">
                                <td class="text-center">{{$index + 1}}</td>
                                <td>{{sc.name}}</td>
                                <td>{{sc.category.name}}</td>
                                <td>{{sc.description}}</td>
                                <td>
                                    <button class="btn btn-xs btn-primary" type="button" ui-sref="app.subcategory.edit({id:sc.id})" tooltip="Edit Sub Category"><i class="fa fa-edit"></i></button>
                                    <button class="btn btn-xs btn-danger" ng-confirm-click confirmed-click="deleteSubCategoryFn(sc.id)" type="button"  tooltip="Delete Sub Category"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div
    </div>  
</div>
<!-- END CONTAINER -->

<div ui-view=""></div>
