/*default pink ff3399
  default purple #673AB8
  notification purple #7E57C2
  message purple D1C4E9
  */
.alert-box {
  padding: 1.3rem;
  border-width: 0 0 0 0.35rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem; }
  .alert-box.radius {
    border-radius: 0.6rem; }
  .alert-box.primary {
    border-left-color: #446cb3;
    background-color: #8da6d4; }
    .alert-box.primary strong {
      color: #446cb3; }
  .alert-box.secondary {
    border-left-color: #adb2bd;
    background-color: #ced1d7; }
    .alert-box.secondary strong {
      color: #adb2bd; }
  .alert-box.info {
    border-left-color: #89c4f4;
    background-color: #b8dcf8; }
    .alert-box.info strong {
      color: #89c4f4; }
  .alert-box.alert {
    border-left-color: #f22613;
    background-color: #f77d71; }
    .alert-box.alert strong {
      color: #f22613; }
  .alert-box.success {
    border-left-color: #87d37c;
    background-color: #b7e5b0; }
    .alert-box.success strong {
      color: #87d37c; }
  .alert-box.warning {
    border-left-color: #f89406;
    background-color: #fbbf69; }
    .alert-box.warning strong {
      color: #f89406; }
.hoverDiv{
  position: absolute;
    top: 12%;
    left: 40%;
    width: 30%;
    z-index: 100;
}
.newmsg {
    background-color: #25A8DF !important;
    border: none!important;
    padding: 10px 14px !important;
    color: #fff!important;
    position: absolute;
    bottom: 5%;
    right: 5%;
    cursor: inherit;
}
#login{
  margin: 90px auto;
  max-width: 800px;
  

}
#register{
  margin: 90px auto;
  max-width: 800px;

}
#section{
  padding:0;
}
#section-header{
  padding:0 !important;
}
#menu-card{
  margin-bottom: 5px;
}
#menu-header{
  
  padding: 0;
  margin: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
    box-shadow: none;
}
.select2-search__field{
  margin: 0 !important;
  padding: 2px !important;
}
.noMessage{
  display:none !important;
}
.noMessage:first-child{
  display: inline-block !important;
}
.ninety{
  width:90%;
}
.ten{
  width:10%;
  float: right;
}
#message_center {
    padding: 20px;
    margin: 10px auto;
}

#menu-header > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none;
    border-bottom: 2px solid #ff3399 !important;
    color: #673AB8 ;
    background-color: transparent;
    cursor: default;
    opacity: 1;
}
#menu-header > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #673AB8 !important;
    
}
#menu-header a{
  color: #673AB8;
  border-bottom: 2px solid #ff3399 !important;
}
#cards-section{
  padding-top: 5px;
}
#section-body{
  padding-top: 5px;
  margin-top: 8px;
}
#profile-card{
  max-width:250px;
  max-height: 300px;
  
}
#profile-card{
  max-width:250px;
  max-height: 300px;
  padding: 0;
}
#profile-card-body{
  object-fit: cover;
  padding: 0;
}
#profile-card-body img{
  width:100%;
  height: 100%;
}
#profile-card-body h3{
  color: #fff;
  position: absolute;
  font-weight: 500;
  margin-top:3px;
  margin-left: 4px;
}
#profile-bar a{
  text-decoration: none;
  right: 10px;
    bottom: 8px
}
#profile-bar h4{
  color: #000;
  font-weight: 500;
  margin-bottom:3px;
  font-size: 15px;
  margin-left: 4px;
}
#profile-bar h4 span{
  font-weight: 900;
  color: #000;
  font-size: 25px ;
}

#notification-card>.card-body a{
  text-decoration: none;
}
#notification-card-div{
  max-height: 300px;
}
#progress{
  height: 10px;
  margin-bottom: 10px 
}
.notifs>li span{
  color: #4caf50;
}
#message-box{
  height:20%;
}
.alert-callout.alert-success:before {
    background: #7E57C2!important;
}
.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.my-gallery figcaption {
  display: none;
}
.facebook{
  background-color: #3a5795 !important;
  border: none!important;
  color: #fff!important;
}
.facebookcircle{
  background-color: #3a5795 !important;
  border: none!important;
  padding: 10px 14px !important;
  color: #fff!important;
}
.twitter{
  background-color: #55acee!important;
  border: none!important;
  color: #fff!important;
}
.google{
  background-color: #DC4E41!important;
  border: none!important;
  color: #fff!important;
}
.googlecircle{
  background-color: #DC4E41!important;
  border: none!important;
  padding: 8px 8px !important;
  color: #fff!important;
}
.twitter:active, .twitter:hover{
  background-color: #66B4F0!important;
  border-color: #66B4F0!important;
  color: #fff!important;

}
.facebook:active, .facebook:hover{
  background-color: #4E68A0!important;
  border-color: #4E68A0!important;
  color: #fff!important;
}
.google:active, .google:hover{
  background-color: #E06054!important;
  color: #fff!important;
}
.card-body h2{
  margin-top: 5px;
}
.card-body{
  padding-top: 5px;
}
#main-table{
  margin-top: 30px;
}
#gallery-images img{
  width:240px;
  height:160px;
  margin-bottom: 10px;
}
#gallery-images ul{
  margin:0;
  padding: 0;
}
#gallery-images li{
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  padding-right: 10px;
}
#gall-back{
  margin:5px;
}
#tag-search {
  margin:5px auto;
}
.vid-container{
  margin: 15px 40px;
}
.upload-nav{
  margin:10px auto;
}
#upload-tabs{
  margin: 2px auto;
}
#gall li {
  position:relative;
}
#open_modal{
   left: 100px;
    position:absolute;
    text-align:center;
    top: 60px;   
}
#delete_image{
  right: 10px;
    position:absolute;
    text-align:center;
    top: 5px;  
}
.grid:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 730px;
  clear: both;
}
.grid-item { 
  height: 130px;
    margin:0 auto; 
}
.grid-item:nth-child(3n+0) {
     height: 160px; 
     margin:0 auto; 
}
#gallery {
  position:relative;
}
#gallery_delete{
  right: 3px;
    position:absolute;
    z-index: 10;
    color:#fff;
    text-align:center;
    top: 5px;  
}
#gallery_view{
    position:absolute;
    text-align:center;
    color:#fff;
    z-index: 10;
    font-weight: 700 !important;
    font-family: 'clear_sansregular';
    top:42%;
    left:100px; 
}
#thumb_name{
    position:absolute;
    text-align:center;
    color:#fff;
    z-index: 10;
    font-family: 'clear_sansregular';
    font-weight: 800;
    font-size: 18px;
    text-decoration: overline;
    top: 40%;
    left:0;
    right:0;
}
#thumb_name:hover, #thumb_name:active{
  text-decoration: underline;

}
#image_count{
    position:absolute;
    text-align:center;
    z-index: 10;
    color:#fff;
    font-family: 'clear_sansregular';
    bottom:2% !important;
    right:2%; 
}
#gall_image{
  z-index: -99;
  -webkit-filter: contrast(0.5);
  -moz-filter: contrast(0.5);
  -o-filter: contrast(0.5);
  -ms-filter: contrast(0.5);
  filter: contrast(0.5);
}
#gall{
    background: #FFF;
    padding: 0.5rem;
    overflow-y: hidden;
    height: 60%;
    margin-bottom: 1.5rem;
}
#gall li{
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}


.placard {
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
  border-radius: 2px;
  margin-top:15px;
   }
  .placard .title {
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 300; }
  .placard .content {
    padding: 5px 10px;
    font-weight: 300;
    min-height:30px;
    border-radius: 0 0 2px 2px; }
  .placard p {
    margin-top:8px;
    color: #4D4D4E;
    font-size: 14px;
    margin-bottom: 0; }
  .placard .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1.3rem; }
  .placard a {
    color: #CCCCCC;
   /* margin-right: 1.3rem;*/
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none; }
  .placard a h4 {
    font-size: 16px;
  }
  .placard a.link {
    position: inherit;
    width: 25px;
    height: 25px;
    margin: 0;
    /* right: 2px; */
    float: right;
    bottom: 54px;
    color: #CCCCCC;
    z-index: 99;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none; 
}
.breaker{
  margin-top: 15px;
}
  .placard a {
    font-size: 16px;
    color: #222222 !important;
    font-family: clear_sansregular;
    margin-top: 5px;
  }
  .placard .image {
    position: relative;
  }
    .placard .image .title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1.3rem;
      color: #fff; }
    .placard .image img {
      min-height: 70px; 
        border-radius: 2px 2px 0 0; }

.placard .content h5 a {
    color: #6D6E70;
    font-size: 0.95rem;
    font-family: 'clear_sansregular';
    margin-bottom: 0;
}
.placards{
  width: 100%;
}
.plac_cards > div{
  float: left;
  margin:10 auto;
  width: 25%;
}
 
.slide{
  text-align:center;
  margin-top: 3%;
}
.top-bar .toggle-topbar.menu-icon a {
  color: #000 !important;
  margin-top: 14%;
}

.top-bar.expanded .title-area {
    background: #fff;
}
div.cat-li div ul.stars {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 5px;
}
div.cat-li div ul.stars li {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 0 2px 0 0;
    box-shadow: none;
    margin-bottom:6px;
    color: #D0D2D3;
    line-height: 1;
    font-size: 15px;
}
.circle{
  border-radius: 50%;
}
div.cat-li div ul.stars li.active {
    color: #92BFE6;
}
#search {
    background-image: url(icon-search.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    margin-top:2%;
    text-indent: 20px;
    
    -webkit-transition: all 0.2s;
    -moz-transition: all 2s;
    transition: all 0.2s;
    
}

#search:focus {
    /* Picked a random icon from Google */
    background-position: -20px center;
    text-indent: 0;
   
}
#form_center{
  width: 50%;
  padding: 20px;
  margin:10px auto;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff !important;
    background-color: #FF4081 !important;
    opacity: .98 !important;
}
/*.tab_height{
  height: 280px;
}*/

/*.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    color: inherit;
    background-color: transparent;
    border-bottom: 4px solid #00A89B;
}*/
/*#nav_login:hover{
  border-bottom: 4px solid #00A89B;
}*/
/*#nav_register{
  border-bottom: 4px solid #00A89B;
  top: 5%;
  margin-top: 20%;
  margin-left: 10px;

}*/
#home_row{
      max-width: 80.5rem;
}

.modalBackground{
  background-color: #00A89B;
  position: absolute;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: -99;
  top: 0;
  left: 0;
  width: 36%;
  height: 100%;
}
.oauths{
  position: absolute;
  top: 350%;
}
.white{
  color:#fff !important;
}
.pink{
  color:#ff3399 !important; 
}
.grey{
  color:#555555!important;
}
.grey_background{
  background-color:#555555!important;
}
.green{
  color: #00A89B!important;
}
.green_background{
  background-color: #00A89B!important;
}
.black{
  color:#000!important;
}
.white_background{
  background-color: #fff !important;
}
.pink_background{
  background-color:#ff3399 !important; 
}
.media-body{
  padding: 5px;
}
.avatarm{
  margin:8px;
}
.center{
  margin: 0 auto;
}
.header_row{
  margin: 0 auto;
  max-width: 95.5rem;
  min-height: 60px;
  width: 100%;
}
.list_button{
  padding: 9px 20px;
    height: 34px;
    background-color: #00A89B;
    margin-top: -6px;
    display: block;
}
li>a, .navbar-default.navbar .dropdown-menu li>a {
    font-size: 14px;
    padding: 12px 14px;
}
.navbar .navbar-nav>li>a {
    color: inherit;
    padding-top: 12px;
    padding-bottom: 12px;
}
.sm{
  font-size: 15px !important;
}
.show-login{
position: relative;
}
.show-register{
position: relative;
}
.reveal-modal{
  padding-bottom: 0;
}
.messagecontent{
  padding-bottom: 0;
  margin-bottom: 0;
}
.special-img{
  height: 40px;
  width: 40px;
}
.right{
  float: right;
}
.left{
  float: left;
}
.avatar{
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
#header {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

#header {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.noti_bubble {
    position: absolute;
    top: 20px;
    right: 12%;
    padding: 1px 5px 1px 5px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 0.55em;
    border-radius: 100%;
    box-shadow: 1px 1px 1px gray;
}
#container{
    margin-bottom: 30px;
}
.lg {
    font-size: 50px;
    line-height: 50px;
}
.md{
    font-size: 25px !important;
}
.header_mail{
  padding: 15px 15px;
  line-height: 3;
}
/*.dbody ul.tabs {
    border-bottom: 1px solid #ccc;
}*/
.dbody .tabs .tab-title.active > a {
    background-color: #fff;
    color: #6D6E70;
    border-bottom: 4px solid #ff3399;
}

.tabs dd > a, .tabs .tab-title > a{
    outline: none;
}
.dbody .tabs .tab-title > a {
    padding: 0.6rem 2rem;
    font-family: 'clear_sanslight';
}
.dbody ul.tabs {
    margin-top: 0 !important;
}
section.dbody:before {
    
    height: 46px;
    background: #FFF;
    border-bottom: 1px solid #ccc;
    position: absolute;
}
.pimg:hover{
    border-bottom: none;

}
.avtar{
  width: 50px;
  border-radius: 50%;
  height: 50px;
}
main[role="main"] {
    min-height: 60%;
}
.gallery.gal_link {
    background-color: #F9AE3F;
}
#gal_card{
    bottom: 20px;
    position: absolute;
    text-decoration: none;
    font-size: 0.9rem;
    color:#695B5B;
}
#gal_name {
    position: absolute;
    text-align: center;
    color: #fff;
    z-index: 10;
    font-family: 'clear_sansregular';
    font-weight: 800;
    font-size: 15px;
    top: 15%;
    left: 25%;
    right: 0;
}
.gallery ul li {
    display: inline-block;
    float: left;
    width: 24%;
}
#notif_sm{
    position: absolute;
    float: left;
    top: 14%;
    right: 30%;
}
.profile{
  width:50%;
  background-color: #fff;
  margin-bottom: 10px;
  left: 25%;
}
.profile img{
  max-width: 256px;
}
.profile p {
    margin-top: 8px;
    color: #4D4D4E;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    right: 5%;
    width: 40%;
    top: 2%;
    margin-bottom: 0;
}
.noti_bubble_sm {
    position: absolute;
    top: 20px;
    right: 9%;
    padding: 1px 5px 1px 5px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 0.55em;
    border-radius: 100%;
    box-shadow: 1px 1px 1px gray;
}
#featuredImage{
  width: 65px;
  height: 65px;
  padding: 0;
  margin-left: 15px
}
.feat_input{
  margin-top: 5%;
}
.nav li a{
  text-transform: none !important;
}
.taggy{
  display: inline-block;
  border-radius: 25px;
  background-color: #00A89B;
  font-size: 13px;
  color: #fff;
  margin-left: 5px;
   
  /*display: flex;*/
  /*justify-content: center; /* align horizontal */*/
  /*align-items: center;*/
}
.taggy img {
    width: 35px;
    border-radius: 50%;
    height: 35px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
}
.taggy i{
  margin-right: 5px;
  font-style: normal !important;
}
.lead{
  display: table;
}
.to{
  display: table-cell;
  vertical-align: middle;
}
@media only screen and (min-width: 40.0625em) {
.f-dropdown li {
    border-bottom: none !important;
    height: 55px !important;
    padding: 5px 20px !important;
    font-size: 13px !important;
}
.fifty{
  width:50%;
}
.f-dropdown li a{
    padding: 5px 10px !important;
    font-size: 13px !important;
}
.f-dropdown {
  outline: none;
}

}


/*#list_button {
    padding: 1px 22px;
    height: inherit;
    background-color: #00A89B !important;
    margin-top: 10px;
    color: #fff !important;
    display: block;
    text-align: center;
    margin-left: 15px;
    max-height: 40px;
    max-width: 170px;
}*/

/*.slick-prev:after {
  content: ">";
  color: red;
  font-size: 30px;
}
.slick-next:before {
  content: "<";
  color: red;
  font-size: 30px;
}*/
/*.slide_container {
    margin: auto;
    padding: 20px;
    width: 80%;
}*/


/*.grid-item:nth-child(2n+0) {
  height:160px;
  }*/
/*#open_modal {
    position: absolute;
    left: 110px;
    top: 60px;
}*/
/*
weird grey #e5e6e6
.message-unread{
background: #D1C4E9!important;
}*/
@media(max-width: 768px){

html, body {
    margin: 0;
    padding: 0;
}
.right{
  margin-top: 5px !important;
}
#form_center{
  width: 100% !important;
  }
.plac_cards > div{
  float: left;
  margin:10 auto;
  width: 100%;
}
.profile{
  width:100%;
  background-color: #fff;
  margin-bottom: 10px;
  left: 0%;
}
#gal_card {
    bottom: 0px;
}
#gal_name {
    position: absolute;
    text-align: center;
    color: #fff;
    z-index: 10;
    font-family: 'clear_sansregular';
    font-weight: 800;
    font-size: 15px;
    top: 30%;
    left: -6%;
    right: 0;
}
.noti_bubble {
    position: absolute;
    top: 20px;
    right: 86%;
    /* left: 10%; */
    padding: 1px 5px 1px 5px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 0.55em;
    border-radius: 100%;
    box-shadow: 1px 1px 1px gray;
}

section.v-list {
    float: left;
    width: 100%;
    position: relative;
}
section.inbox {
    float: left;
    width: 100%;
    position: relative;
}
.gallery ul li {
    display: inline-block;
    float: left;
    width: 100%;
}
section.ad img{
    width: 100%;
    position: relative;
}
section.ftarticle {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}
section.ftarticle img{
    width: 100%;
}

section.gallery {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.dbody .tabs .tab-title > a {
    padding-left: 0 !important;
    font-size: 15px;
}
.tab-title > a {
     margin-right: 10px;
}
.dbody ul.tabs {
    margin:0;
}
.tab-title > a{
    outline: none;
    width: 25%;
    font-size: 15px;
}
.tab-title{
    width: 20%;
}
.header-nav-profile .dropdown .profile-info {
    float: right;
}
#cards-section{
  margin-top: 30px;
}
#nav-tabs a{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 10px;

}
#nav-tabs{
  padding: 0;
}

#profile-card{
  margin: 10px auto;
  
}
#nav-tabs li{
    float:none!important;
    display:inline-block;
     /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

#nav-tabs, .nav-pills {
    text-align:center;
}
div.cat-li div ul.stars li {
  margin: 0 1px 0 0;
}

}

/*background: url('/img/lo.jpg') no-repeat center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/