input[type=file].invalid{ 
  position: relative;
  color: #fff;
  background: #f44336;
}

input[type=file].invalid:hover:after{
  content: "File is invalid";
  
  position: absolute;
  right: -6em;
  bottom: 2em;
  z-index: 99;
  width: 12em;
  font-weight: bold;
  color: #fff;
  padding: 0.5em;
  background-color: #f44336;
  border: 1px solid #fff;
}

/* Data Driven Error Messages */

input[type=file].invalid.maxSize:hover:after{
  content: "File is too large"; 
}

input[type=file].invalid.maxSize[data-max-size]:hover:after{
  content: "File is too large, must be less than (" attr(data-max-size) ")"; 
}

input[type=file].invalid.type:hover:after{
  content: "File is wrong type"; 
}

input[type=file].invalid.type[data-type]:hover:after{
  content: "File type must be: " attr(data-type); 
}
