

html {
	height: 100%;
}

/*form styles*/
#msform {
	width: 60%;
	margin: 50px auto;
	position: relative;
}
#msform fieldset {
	background: white;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
	padding: 20px 30px;
	border: 1px solid #f07d71;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input{
	border: none;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	width: 30%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
	font-weight: 500;
	display: inline-block;
}
#msform textarea{
	border: 1px solid #ccc;
	color: #2C3E50;
	width: 100%
}
#msform select{
	width: 40%;
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 10px;

}
.nav-wrap{
	padding: 1rem 0;
	text-align: center;
}
.fs-thanks{
	margin-top: 40px;
}
/*buttons*/

#msform .action-button {
	width: 100px;
	background: #f07d71 !important;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 5px 10px;
	margin: 10px auto;
	position: relative;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #f07d71;
}
.first-btn{
	margin-left: 38% !important;
}
.second-btn{
	margin-left: 28% !important;
}
/*headings*/
.fs-title {
	font-size: 20px;
	color: #f07d71;
	font-weight: 400;
	margin-bottom: 10px;
	text-align: center;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
#msform p{
	text-align: center;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;

}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 50%;
	margin: 0 auto 5px auto;
	text-align: center;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #f07d71;
	color: white;
}
.intro-img{
	border-radius: 50%;
}
.form-password{
	width:100% !important;
}
.form-signin-heading{
	margin-top:0.5rem;
	text-align: center;
}

.note-editable {
  text-align: left;
}
/* Adjust form for smaller screens */
@media screen and (max-width: 52.5em) {
	/*form styles*/
	/*mobile screens*/
	#msform {
		width:100%;
	}
	#msform input{
		width: 100%;
	}
	#msform select{
		width: 100%;
	}
	.first-btn{
		margin-left: 28% !important;
	}
	.second-btn{
		margin-left: 0 !important;
	}
}


