/* new home edits */
main[role="main"] {
    padding-bottom: 2rem;
    width: 100%;
    float: left;
}

.blissful-home .top-header {
    border-bottom: 3px solid #FF334D;
}
.blissful-home .top-header h1 img {
    max-width: 110px;
}
.blissful-home .top-header input[type="text"]#find {
    margin-bottom: 0;
    border-radius: 19px;
    width: 18rem;
    padding: 5px 10px;
    height: inherit;
    font-size: 0.9rem;
    border: none !important;
    box-shadow: none;
    margin-top: 10px;
    color: #586E77;
    background: #F1F1F2 url(/app/client/img/arrow.png) 97% 5px no-repeat !important;
    background-size: 6% !important;
    margin-left: 1rem;
}
.blissful-home ul.title-area {
    margin-top: 10px;
}
.badge {
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 3px;
    min-width: 10px;
    padding: 4px 5px;
    font-size: 9px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #e9048b;
    border-radius: 10px;
}
.intro img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.intro {
    height: 350px;
    overflow: hidden;
    position: relative;
}
.intro-search-wrap {
    margin-top: 3.7rem;
    background-color: rgba(19, 31, 37, 0.75);
    padding: 1rem 2rem;
    width: 100%;
    float: left;
}
.intro-search-wrap h2 {
    width: 100%;
    margin: auto;
    float: none;
    text-align: center;
    color: #FFF;
    line-height: 1.2;
    font-size: 2rem;
}
.intro-search-wrap input[type="text"] {
    border: none !important;
    background-color: #FFF !important;
    width: 87%;
    height: 3rem;
    float: left;
    font-size: 1rem;
    padding-left: 1.5rem;
    font-family: clear_sans_thinregular !important;
}

.intro-search-wrap select {
    border: none !important;
    background-color: #FFF !important;
    width: 87%;
    height: 3rem;
    float: left;
    font-size: 1rem;
    padding-left: 1.5rem;
    font-family: clear_sans_thinregular !important;
}

.intro-search-wrap input[type="submit"] {
    float: left;
    background-color: #FF334D !important;
    color: #FFF;
    font-size: 1rem;
    border: none !important;
    width: 13%;
    height: 3rem;
}
.intro-search-wrap form {
    margin-top: 1rem;
    width: 100%;
    float: left;
}
.intro-search-wrap ul {
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.intro-search-wrap ul li {
    display: inline-block;
    margin: 0;
    width: 32%;
}
.intro-search-wrap ul li h5, .intro-search-wrap ul li h6 {
	color: rgba(242, 242, 242, 0.6);
}
.intro-search-wrap ul li h5 {
	font-size: 0.9rem;
	margin-bottom: 0
}
.intro-search-wrap ul li h6 {
	font-family: clear_sans_thinregular !important;
	font-size: 0.8rem;
    margin: 0;
}
.intro-search-wrap ul li span {
    font-size: 2rem;
    color: rgba(242, 242, 242, 0.6);
    float: left;
    margin-right: 10px;
    margin-top: -3px;
}
.intro-summary ul li {
    display: inline-block;
    width: 32.5%;
}
section.intro-summary {
    width: 100%;
    float: left;
    background-color: #F2F2F2;
    color: #0D2C3A !important;
    padding: 2rem 0;
}
.intro-summary ul li h3 {
    font-size: 1rem;
    margin: 0;
    font-family: clear_sans_mediumregular !important;
    float: left;
    width: 100%;
    text-align: center;
}
.intro-summary ul li p {
    font-size: 0.9rem;
    font-family: clear_sans_thinregular !important;
    float: left;
    /*width: 60%;*/
    height: 46px;
    overflow: hidden;
    margin-bottom: 0;
}
.blissful-hex {
    background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="66.906px" height="73.733px" viewBox="0 0 66.906 73.733" enable-background="new 0 0 66.906 73.733" xml:space="preserve"><g><g><path fill="none" stroke="#FF344E" stroke-width="4" stroke-miterlimit="10" d="M60.212,15.997L38.147,3.258c-2.905-1.677-6.483-1.677-9.388,0L6.694,15.997C3.789,17.674,2,20.773,2,24.127v25.478c0,3.354,1.789,6.453,4.694,8.13l22.065,12.739c2.905,1.677,6.483,1.677,9.388,0l22.065-12.739c2.905-1.677,4.694-4.776,4.694-8.13V24.127C64.906,20.773,63.116,17.674,60.212,15.997z"/></g></g></svg>') no-repeat;
    width: 4rem;
    height: 4rem;
    display: inherit;
    margin: 10px auto;
    background-size: contain;
}
.intro-summary ul {
    margin: 0;
}
.prd-ft h2,
.packages h2,
.testimonials h2,
.ft-blogs h2,
.vendor-cat h2 {
    color: #586E77;
    font-size: 1.7rem;
    text-align: center;
}
.prd-ft h3,
.packages h3,
.testimonials h3,
.ft-blogs h3,
.vendor-cat h3 {
    color: #586E77;
    font-size: 1.2rem;
    text-align: center;
    font-family: clear_sans_thinregular !important;
}
section.prd-ft,
section.packages,
section.testimonials,
section.ft-blogs,
section.vendor-cat {
    width: 100%;
    float: left;
    padding: 2rem 0;
}
section.prd-ft,
section.packages,
section.vendor-cat {
	background-color: #FFF;
}
section.testimonials {
	background-color: #F2F2F2;
}
section.ft-blogs {
	background-color: #CEEEEC;
}

.prd-ft ul li, .packages ul li, .testimonials ul li, .vendor-cat ul li {
    float: left;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 1.5rem;
    position: relative;
}
.prd-ft ul li {
    box-shadow: 1px 1px 5px #EAEAEA;
    height: 250px;
}
.vendor-cat ul li {
	box-shadow: 1px 1px 5px #EAEAEA;
    height: 250px;
}
.prd-ft .wrap,
.vendor-cat .wrap {
    padding: 10px 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFF;
}
footer {
    width: 100%;
    float: left;
}
.prd-ft ul li h4 {
    color: #586E77;
    font-size: .9rem;
    margin: 0px;
    height: 22px;
    overflow: hidden;
}
.prd-ft ul li h6 {
    color: #FF334D;
    font-size: 1.3rem;
    margin: 0;
    font-family: clear_sanslight !important;
}
.packages ul li {
    height: 320px;
    position: relative;
}
.prd-ft img,
.packages img,
.blogs img,
.vendor-cat img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.prd-ft ul li:nth-child(3n),
.packages ul li:nth-child(3n),
.testimonials ul li:nth-child(3n),
.vendor-cat ul li:nth-child(3n) {
	margin-right: 0
}
.packages ul li:nth-child(4) {
	width: 100%;
}
.prd-ft ul,
.packages ul,
.testimonials ul,
.ft-blogs ul,
.vendor-cat ul {
    float: left;
    width: 100%;
    margin-top: 1rem;
}
.packages ul li .wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1rem;
    text-align: center;
}
.packages ul li:nth-child(1) .wrap {
    background-color: rgba(135, 96, 170, 0.7);
}
.packages ul li:nth-child(2) .wrap {
    background-color: rgba(136, 140, 55, 0.7);
}
.packages ul li:nth-child(3) .wrap {
    background-color: rgba(58, 53, 59, 0.7);
}
.packages ul li:nth-child(4) .wrap {
    background-color: rgba(29, 195, 227, 0.7);
    left: initial;
    bottom: initial;
    right: 0;
    top: 0;
    height: 100%;
    width: 33%;
    padding: 10% 1rem 0;
}
.packages ul li h3 {
	font-family: clear_sans_mediumregular !important;
	color: #FFF;
}
.packages ul li p {
	font-family: clear_sanslight !important;
	color: #FFF;
	font-size: 0.9rem;
}
.title {
    text-transform: uppercase;
}
.testimonials ul {
    margin-top: 4rem;
}
.testimonials ul li {
	background-color: #FFF;
	text-align: center;
}
.testimonials ul li h6 {
	margin-bottom: 1rem;
	color: #586E77;
	font-size: .9rem;
}
.testimonials ul li img {
    width: 4rem;
    margin: -2rem 0 1rem;
}
.testimonials ul li p {
	font-family: clear_sans_thinregular !important;
	margin: 0;
	color: #586E77;
	font-size: 0.9rem;
	font-style: italic;
}
section.hiw {
    width: 100%;
    float: left;
    position: relative;
    max-height: 400px;
    padding: 2rem 0;
    color: #FFF;
}
section.hiw img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hiw ul li img {
    width: 3.5rem;
    position: relative;
}
.hiw ul {
    margin: 2rem 0 0;
}
.hiw ul li:nth-child(3) img {
    margin-left: 15px;
}
.hiw ul li {
    display: inline-block;
    width: 33%;
    text-align: center;
    vertical-align: top;
}
.hiw ul li p {
	font-family: clear_sans_thinregular !important;
	width: 80%;
    display: block;
    margin: auto;
}
.hiw ul li h6 {
    color: #FFF;
    font-size: 1.1rem;
    margin: 0 0 3px;
}
.hiw ul li h3 {
    font-size: 2.2rem;
    color: #FFF;
    margin: 0;
}
.hiw h3 {
    text-align: center;
    color: #FFF;
    font-size: 1.5rem;
    font-family: clear_sanslight !important;
}
.ft-blogs ul li {
    float: left;
    width: 48%;
    margin-right: 4%;
    height: 260px;
    overflow: hidden;
}
.ft-blogs ul li:last-child {
	margin-right: 0
}
.ft-blogs img {
    width: 45%;
    float: left;
    height: 100%;
    object-fit: cover;
}
.ft-blogs ul li .wrap {
    padding: 3rem 2rem 1rem 1rem;
    float: left;
    width: 55%;
    background-color: #FFF;
    height: 100%;
}
.ft-blogs ul li .wrap h4 {
    color: #586E77;
    font-size: 1.1rem;
}
.ft-blogs ul li .wrap p {
	font-family: clear_sanslight !important;
	font-size: 0.9rem;
	color: #586E77;
}
.vendor-cat ul li .wrap h4 {
    font-size: 1rem;
    color: #0D2C3A;
    margin: 0;
    height: 24px;
    overflow: hidden;
}
#homepg a.button {
    font-size: 0.9rem;
    width: 14rem;
    background-color: #FF334D;
    display: block;
    margin: auto;
    font-family: clear_sanslight !important;
}

#homepg a.hiw-button{
    background-color: #fff;
    border-radius: 400px;
    color: #ff334d;
    font-size: 1.1rem;
    font-weight: bolder;
}

#homepg a.button:hover {
	background-color: #E53855;
}
#homepg a.hiw-button:hover,#homepg a.hiw-button:active{
    background-color: #E53855;
    color: #fff;
}
.cont-browse {
	width: 100%;
	float: left;
}
/*
span.typed-intro{
  animation: type 2s linear 2s;
}
span.typed-intro:nth-of-type(2){
  animation: type 2s linear 4s;

}
span.typed-intro:nth-of-type(3){
  animation: type 2s linear 6s;
}
span.typed-intro:nth-of-type(4){
  animation: type2 2s steps(60, end);
}
*/
span.typing-cursor{
  animation: blink 1s infinite;
}
/*@keyframes type{ 
  0%{width: 0;}
  50%{width: 100;}
  100%{ width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} */

@keyframes blink{
  to{opacity: .0;}
}
/*tablets only*/
@media only screen and (min-width:501px) and (max-width:768px){
section.hiw {
    max-height: initial;
}
.hiw ul li {
    width: 32.5%;
}

.top-bar {
    height: 3.8125rem;
}
.intro-summary ul li {

    vertical-align: top;
}
}
/* small screens */
@media only screen and (max-width:500px) {
.prd-ft ul li h4 {
    font-size: .81rem;
    height: inherit;
    min-height: 30px;
}
.prd-ft ul li h6 {
    font-size: .8rem;
}
.packages ul li:nth-child(4) {
    width: 48%;
}
.packages ul li .wrap {
    width: 100%;
    top: 0 ;
}
.packages ul li,.prd-ft ul li,.vendor-cat ul li{
    width: 48%;
    margin-right: 2%;
    height: 240px;
}
.testimonials ul li{
    width: 100%;
    margin:8px auto;
}
.prd-ft ul li:nth-child(even),.packages ul li:nth-child(even),.vendor-cat ul li:nth-child(even){
    margin-right: 0;
}
.prd-ft ul li:nth-child(3n),.packages ul li:nth-child(3n),.vendor-cat ul li:nth-child(3n){
    margin-right: 2%;
}
.blissful-home .top-header input[type="text"]#find {
    margin: 10px auto;
}
.vendor-cat ul li {
    height: 50px;
}
.vendor-cat img {
    display: none;
}
.intro-search-wrap h2 {
    font-size: 1.5rem;
}
.top-bar {
    height: 4.3rem;
}
.intro-search-wrap ul,
section.intro-summary {
	display: none;
}
.intro-search-wrap input[type="text"] {
	width: 80%;
}
.intro-search-wrap select {
    font-size: 0.8rem;
    padding-left: 0.6rem;
    width: 80%;
}
.intro-search-wrap input[type="submit"] {
	width: 20%;
}

section.prd-ft, section.packages, section.testimonials, section.ft-blogs, section.vendor-cat {
	padding: 2rem 0 1rem;
}
.prd-ft ul, .packages ul, .testimonials ul, .ft-blogs ul, .vendor-cat ul {
	margin-bottom: 0;
}
.hiw ul li {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}
section.hiw {
	max-height: initial;
}
.packages ul li:nth-child(4) .wrap {
    left: 0;
    bottom: 0;
    right: initial;
    top: initial;
    height: initial;
    width: 100%;
    padding: 1rem;
}
.testimonials ul li {
    padding: 0 0.5rem 0.5rem 0.5rem;
    margin-bottom: 3rem !important;
    float: left;
}
.ft-blogs ul li {
    height: 250px;
    margin-bottom: 1rem;
}
.ft-blogs ul li .wrap {
    position: absolute;
    padding: 1rem 1.5rem 1rem 1rem;
    float: left;
    width: 100%;
    background-color: rgba(25, 39, 46, 0.56);
    height: 100%;
    overflow: hidden;
    text-rendering: optimizeLegibility;
    color: #fff;

}
.ft-blogs ul li .wrap h4 {
    color: #fff;
    text-align: center;
}
.ft-blogs ul li .wrap p {
    display: none;
    /*color: #fff;
    text-overflow: ellipsis;*/
    /* Required for text-overflow to do anything */
    /*white-space: nowrap;*/
}
.packages ul li p{
    display: none;
}

.ft-blogs img {
    width: 100%;
}

}
