<!-- START TOP Header-->
<div id="top" class="clearfix">

    <!-- Start App Logo -->
    <div class="applogo">
        <a href="" ui-sref="app.dashboard" class="logo">Blis Ful</a>
    </div>
    <!-- End App Logo -->

    <!-- Start Sidebar Show Hide Button -->
    <a href class="sidebar-open-button" sidebar-open-button><i class="fa fa-bars"></i></a>
    <a href class="sidebar-open-button-mobile" sidebar-open-button-mobile><i class="fa fa-bars"></i></a>
    <!-- End Sidebar Show Hide Button -->



    <!-- Start Top Right -->
    <ul class="top-right">

        <li class="dropdown link">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle profilebox">
                <img src="{{me.photo|| '../app/common/img/profileimg.png'}}" alt="img">
                <b>{{me.name}}</b>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-list dropdown-menu-right">
                <li><a href="#"><i class="fa falist fa-user"></i>Profile</a></li>
                <li class="divider"></li>
                <li><a href ng-click="doLogoutFn()"><i class="fa falist fa-key"></i>Logout</a></li>
            </ul>
        </li>

    </ul>
    <!-- End Top Right -->

</div>
<!-- END TOP Header-->
