<div class="sidebar clearfix">

    <ul class="sidebar-panel nav">
        <!--<li class="sidetitle">MAIN</li>-->
        <li>
            <a href="" ui-sref="app.dashboard">
                <span class="icon"><i class="fa fa-home"></i></span>Dashboard
            </a>
        </li>
        <li ng-if="me.type == 'admin'">
            <a href="" ui-sref="app.category"> 
                <span class="icon color6"><i class="fa fa-envelope-o"></i></span>Category 
            </a>
        </li>
        <li ng-if="me.type == 'admin'">
            <a href="" ui-sref="app.subcategory"> 
                <span class="icon color6"><i class="fa fa-envelope-o"></i></span>Sub Category 
            </a>
        </li>
        <!--        <li ng-if="me.user_type == 1">
                    <a href="" ui-sref="app.users"> 
                        <span class="icon color6"><i class="fa fa-envelope-o"></i></span>Users 
                    </a>
                </li>-->
        <li>
            <a href="" ui-sref="app.products"> 
                <span class="icon color6"><i class="fa fa-envelope-o"></i></span>Products 
            </a>
        </li>
    </ul>

</div>