@font-face {
  font-family: 'titillium_webitalic';
  src: url('../fonts/titilliumweb-italic-webfont.woff2') format('woff2'),
       url('../fonts/titilliumweb-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'titillium_weblight_italic';
  src: url('../fonts/titilliumweb-lightitalic-webfont.woff2') format('woff2'),
       url('../fonts/titilliumweb-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'titillium_webbold';
  src: url('../fonts/titilliumweb-bold-webfont.woff2') format('woff2'),
       url('../fonts/titilliumweb-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'titillium_websemibold';
  src: url('../fonts/titilliumweb-semibold-webfont.woff2') format('woff2'),
       url('../fonts/titilliumweb-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'titillium_webregular';
  src: url('../fonts/titilliumweb-regular-webfont.woff2') format('woff2'),
       url('../fonts/titilliumweb-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'titillium_weblight';
  src: url('../fonts/titilliumweb-light-webfont.woff2') format('woff2'),
       url('../fonts/titilliumweb-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dosisbold';
  src: url('../fonts/dosis-bold-webfont.woff2') format('woff2'),
       url('../fonts/dosis-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dosissemibold';
  src: url('../fonts/dosis-semibold-webfont.woff2') format('woff2'),
       url('../fonts/dosis-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dosismedium';
  src: url('../fonts/dosis-medium-webfont.woff2') format('woff2'),
       url('../fonts/dosis-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dosislight';
  src: url('../fonts/dosis-light-webfont.woff2') format('woff2'),
       url('../fonts/dosis-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dosisextralight';
  src: url('../fonts/dosis-extralight-webfont.woff2') format('woff2'),
       url('../fonts/dosis-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dosisbook';
  src: url('../fonts/dosis-book-webfont.woff2') format('woff2'),
       url('../fonts/dosis-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'titillium_webregular';
  color: #0D2C3A;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: 'titillium_webregular';
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.5em;
}
p {
  font-size: 0.95em;
  color: #848484
}
ul {
    margin: 0;
    list-style-type: none;
}
.masthead {
  background: url(../img/theball.jpg) no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 2em;
}
.masthead:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(94, 189, 199, 0.3);
}
h1.logo {
    float: left;
    width: 8rem;
    height: 3rem;
    line-height: 0.7;
}
nav ul {
    float: right;
    margin: 1rem 0 0;
}
nav ul li {
    list-style-type: none;
    display: inline;
    color: #FFF;
    margin-left: 1rem;
    font-family: 'titillium_websemibold';
}
nav {
    padding: 1rem 0 0;
    z-index: 1;
    position: relative;
    margin-bottom: 2em;
    border-bottom: thin solid rgba(255, 255, 255, 0.5);
}
.homep-intro {
    position: relative;
    color: #FFF;
    text-align: center;
    margin-bottom: 2em;
}
.homep-intro > div > div {
    display: block;
    margin: auto;
    float: none;
}
.homep-intro > div > div form {
    width: 90%;
    display: block;
    margin: auto;
}
.homep-intro select {
    border-radius: 2px;
    border: none;
    margin-top: 1rem;
}
.homep-intro a.button {
    width: 100%;
    border-radius: 2px;
    background-color: #292B37;
    font-family: 'dosissemibold';
    font-size: 1rem;
}
.homep-intro h2 {
    font-family: 'dosissemibold';
    font-size: 3.78em;
}
.homep-serv {
  position: relative;
}
.homep-serv ul {
    width: 100%;
    background-color: #FFF;
    list-style-type: none;
    margin: 0 0 1rem 0;
    border-radius: 3px;
    padding: 1rem;
}
.homep-serv ul li {
    display: inline-block;
    text-align: center;
    width: 16%;
    padding: 0.5rem 0;
}
.homep-serv ul li:not(:last-child) {
  border-right: thin solid #DEDDDD;
}
.homep-serv i {
    color: #DEDDDD;
    font-size: 1.3em;
}
.homep-serv ul li h6 {
    font-size: 0.85rem;
}
.hiw {
    padding: 2rem 0;
    background: url(../img/honeycomb-b.jpg) repeat;
}
.hiw ul {
    background-color: #FFF;
    border-radius: 3px;
    padding: 1rem 0;
    width: 99%;
    float: left;
}
.hiw h3 {
    text-align: center;
    font-family: 'dosissemibold';
    color: #FFF;
    margin-bottom: .6em;
}
.hiw ul li {
    display: inline-block;
}
.hiw ul li h4 {
    font-size: 1.1rem;
    font-family: 'titillium_websemibold';
}
.hiw ul li .wrap {
    float: left;
    width: calc(100% - 88px);
    margin-left: 12px;
}
.hiw ul li .wrap h6 {
  font-family: 'dosissemibold';
  color: #5EBDC7;
  font-size: 1.1em;
  margin-bottom: 0.1em;
}
.homep-videos .button {
  text-align: center;
  font-family: 'dosissemibold';
  background-color: #5EBDC7;
  border-radius: 2px;
  width: 14rem;
  margin-left: calc(50% - 7rem);
  font-size: 1em;
  margin-top: 2rem;
}
.homep-stats {
    background-color: #F3F4F4;
    padding: 3rem 0;
    text-align: center;
}
.homep-videos {
    padding: 2rem 0 3rem;
}
.f1 {
    background-color: #292B37;
    color: #FFF;
    padding: 2.5rem 0 2rem;
}
.f2 {
    background-color: #090916;
    padding: 0.8rem 0;
    color: #FFF;
    font-size: 0.9rem;
}
.f2 p {
    margin: 0;
    opacity: .7;
}
.f1 ul li {
    font-size: 0.9em;
    opacity: .9;
    margin-bottom: 7px;
}
img.f-logo {
    opacity: .7;
}
.hiw img {
    float: left;
}
.homep-stats i {
    font-size: 4em;
    margin-bottom: 10px;
    color: #5EBDC7;
}
.homep-videos ul li {
    position: relative;
    width: 31%;
    height: 18rem;
}
.homep-videos ul li:not(:last-child) {
  margin-right: 2%;
}
.homep-videos ul li img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}
.homep-videos ul li .wrap {
    position: absolute;
    bottom: 1rem;
    color: #FFF;
    z-index: 2;
}
.homep-videos ul li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 44, 58, 0.5);
    z-index: 1;
}
.homep-videos h3 {
  text-align: center;
  font-size: 1.6rem;
  font-family: 'dosissemibold';
  margin-bottom: .6em;
}
ul.socials {
    float: right;
}
ul.socials li {
  display: inline-block;
  margin-left: .5rem;
  background-color: #918A8F;
  width: 2.2rem;
  text-align: center;
  
  padding: 8px 0 5px;
  border-radius: 50%;
}
ul.socials li i {
    font-size: 1.3em;
}
.homep-stats ul li:not(:last-child) {
    border-right: thin solid #DEDDDD;
}
.catpg-intro {
  background: url(../img/honeycomb-b.jpg) repeat;
}
.catpg-intro h2 {
    color: #FFF;
    font-family: 'dosissemibold';
    line-height: 1.3;
}
.ucase {
  text-transform: uppercase;
}
#vencategory-pg .catpg-intro {
    padding-bottom: 4rem;
}
.catpg-intro form {
    background-color: #FFF;
    padding: 2rem 1rem;
    border-radius: 3px;
    margin-bottom: 3rem;
}
.catpg-intro .button,
.vencatpg-filters .button {
    border-radius: 3px;
    background-color: #0D2C3A;
    width: 100%;
    font-family: 'dosissemibold';
    font-size: 1rem;
    margin-bottom: 0;
}
.catpg-intro select,
.vencatpg-filters select,
.vencatpg-filters input {
    border-radius: 3px;
    color: #7C8C94;
    border-color: #DEDDDD;
    box-shadow: none;
}
.catpg-list,
.vencatpg-filters {
    border-top: 4.5rem solid #5EBDC7;
    background-color: #F3F4F4;
}
.vencatpg-filters form.filters {
    margin-top: -7rem;
    background-color: #FFF;
    padding: 2rem 1rem;
    border-radius: 3px;
}
.catpg-list > div > div {
    position: relative;
}
.catpg-list hr {
    border: 1px solid #FFF;
    position: absolute;
    top: -5.8rem;
    left: 10%;
    width: 80%;
}
.catpg-list h3 {
    width: 80%;
    position: absolute;
    top: -4rem;
    font-family: 'dosissemibold';
    color: #FFF;
    left: 10%;
    font-size: 1.5em;
}
ul.vendors {
    margin-top: -1.2rem;
    position: relative;
}
span.ist-bk {
    position: absolute;
    top: 1rem;
    left: 1.05rem;
}
.catpg-list .vendors > li,
.venues > li {
  background-color: #FFF;
  border: thin solid #DEDDDD;
  border-radius: 3px;
  padding: 0;
  margin-bottom: 1rem;
  box-shadow: 0px 1px 1px #DEDDDD;
  width: 32.4%;
  margin-right: 1rem;
}
.venues > li {
    padding: 1rem;
    position: relative;
}
.catpg-list .vendors > li:nth-child(3n),
.venues > li:nth-child(3n) {
    margin-right: 0;
}
.prof-wrap, .pdesc-wrap {
    padding: 1rem;
    width: 100%;
    float: left;
}
.pdesc-wrap {
  border-top: thin solid #DEDDDD;
}
.vendors .prof-wrap h5,
.venues .vwrap h5 {
  font-family: 'dosissemibold';
  margin-bottom: 0;
}
.vendors .prof-wrap h6 {
  color: #5EBDC7;
  margin-bottom: 0;
}
.venues .vwrap h6 {
  margin-bottom: 0;
  float: left;
}
.venues ul.stars li {
  color: #5EBDC7;
}
.venues .vimg {
    height: 153px;
    overflow: hidden;
}
.venues .vimg img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.venues .vwrap {
    padding-top: 6px;
}
ul.stars {
    margin: 0;
    float: left;
}
.venues ul.stars {
  float: right;
}
ul.stars li {
    display: inline-block;
}
span.reviews {
    margin-left: 8px;
    font-size: 0.9rem;
    color: #838484;
}
.pdesc-wrap a.button,
.venues .vwrap a.button {
    width: 100%;
    border-radius: 3px;
    font-family: 'dosissemibold';
    font-size: 1.1rem;
    background-color: #5EBDC7;
    margin-bottom: 0;
}
.venues .vwrap a.button {
    margin-top: 1rem;
}
.vendors img.profile {
    border-radius: 50%;
    width: 5rem;
    float: right;
}
.w1 {
    float: left;
    width: 80%;
}
.w2 {
    width: 20%;
    float: left;
}
.calculator h3 {
    font-family: 'dosissemibold';
    text-align: center;
    margin-bottom: 1.3rem;
}
.calculator {
    padding: 2rem 0 4rem;
    background-color: #F3F4F4;
}
.calculator > div > div {
    background-color: #FFF;
    border-radius: 3px;
    padding: 2rem 2rem 3rem;
}
.calculator select {
    border-radius: 3px;
    border-color: #DEDDDD;
    color: #7C8C94;
}
span.cost {
    font-size: 2rem;
    text-align: center;
    display: block;
    font-family: 'dosissemibold';
    color: #5EBDC7;
}
.calculator p {
    text-align: center;
    color: #838484;
}
.calculator .button, .join-blissful .button {
    background-color: #0D2C3A;
    width: 15rem;
    border-radius: 3px;
    font-family: 'dosissemibold';
    font-size: 1rem;
    display: block;
}
.join-blissful .button {
  margin: 2rem 0;
}
.calculator .button {
  margin: auto;
}
.contentpg-intro,
.vendorpg-intro
 {
  background: url(../img/honeycomb-b.jpg) repeat;
  padding-bottom: 2rem;
}
.contentpg-intro h2,
.vendorpg-intro h2 {
    color: #FFF;
    font-family: 'dosissemibold';
    line-height: 1.3;
}
.contentpg-main,
.vendorpg-main {
    border-top: 4.5rem solid #5EBDC7;
    background-color: #F3F4F4;
}
.contentpg-main .wrapper {
    margin-top: -4rem;
    background-color: #FFF;
    padding: 2rem;
    border-radius: 3px;
    margin-bottom: 4rem;
}
.vendorpg-main .wrapper {
  margin-top: -5.5rem;
  margin-bottom: 4rem;
}
.contentpg-main .wrapper section.intro {
    padding-bottom: 2rem;
}
section.join-blissful {
    padding: 2rem 0;
}
section.intro h3 {
    font-family: 'dosissemibold';
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}
section.stats ul li {
    display: inline-block;
    width: 24%;
    text-align: center;
}
section.stats span.blissful-stat {
    background: url(../img/hexa.svg) no-repeat;
    background-size: contain;
    display: block;
    font-size: 2rem;
    width: 6.5rem;
    margin: 0 auto 5px;
    height: 7rem;
    font-family: 'dosismedium';
    color: #5FBDC7;
    line-height: 3.45;
}
section.stats ul li h6 {
  font-family: 'dosissemibold';
  color: #5FBDC7;
  font-size: 1.1rem;
}
section.stats {
    padding: 1.5rem 0;
    border-top: thin solid #5FBDC7;
    border-bottom: thin solid #5FBDC7;
}
section.join-blissful h4,
section.reviews h4 {
  font-family: 'dosissemibold';
  text-transform: uppercase;
  font-size: 1.3em;
}
h4.cat, h5.loc {
  color: #FFF;
}
h4.cat {
    font-size: 1.2em;
    margin-bottom: 5px;
}
.vendorpg-intro h5.loc {
    font-size: 1em;
    font-family: 'titillium_websemibold';
    text-align: left;
}
.vendorpg-intro > div > div {
  position: relative;
}
.vendorpg-intro h5 {
  color: #FFF;
  font-size: 1.1em;
  text-align: right;
}
.vendorpg-intro ul.stars li,
.vendorpg-intro span.reviews {
  color: #FFF
}
.vendorpg-intro .wrapper {
    float: right;
    padding-top: 3.7rem;
}
.vendorpg-main img.profile {
    border-radius: 50%;
    box-shadow: 1px 1px 1px #868686;
    margin-right: 1rem;
}
.verify img {
    max-width: 4rem;
    border-radius: 3px;
}
.vendorpg-act .button {
    float: right;
    text-align: center;
    font-family: 'dosissemibold';
    background-color: #0D2C3A;
    border-radius: 3px;
    width: 12rem;
    margin-left: calc(50% - 7rem);
    font-size: 1em;
    margin-top: 1.8rem;
}
.vendorpg-main section.intro {
    margin: 2rem 0;
}
.vendorpg-main section.intro p {
    margin: 2rem 0;
}
section.reviews h4 {
    float: left;
    margin-right: 1rem;
}
span.vendorpg-reviews {
    float: left;
    display: block;
    margin-top: 1px;
    color: #5FBDC7;
}
span.vendorpg-reviews span.reviews {
  color: #5FBDC7; 
}
.vendorpg-main {
    padding-bottom: 4rem;
}
section.gallery {
    padding: 2rem 0;
    border-top: thin solid rgba(95, 189, 199, 0.5);
    border-bottom: thin solid rgba(95, 189, 199, 0.5);
    margin-bottom: 2rem;
}
li.slick-slide {
    margin-right: 1rem;
}
button.slick-prev.slick-arrow {
    position: absolute;
    left: -2rem;
    top: 3rem;
    color: transparent;
    width: 5px;
}
button.slick-prev.slick-arrow:before {
    content: "<";
    position: absolute;
    left: 0;
    top: 0.3rem;
    font-size: .5em;
    color: #b9b9b9;
    font-family: 'titillium_weblight';
    transform: scale(3, 12);
}
button.slick-next.slick-arrow {
  position: absolute;
  right: -1rem;
  top: 0;
  color: transparent;
  width: 3rem;
  background-color: #F3F4F4;
  height: 100%;
}
button.slick-next.slick-arrow:before {
  content: ">";
  position: absolute;
  right: 1.5rem;
  top: 3.4rem;
  font-size: .5em;
  color: #b9b9b9;
  font-family: 'titillium_weblight';
  transform: scale(3, 12);
}
ul.slick-initialized.slick-slider {
    max-width: 95%;
    margin: auto;
}
.review {
    float: left;
    width: 100%;
    padding: 1rem 0 3rem;
    position: relative;
}
.review:not(:last-child):after {
    content: "";
    position: absolute;
    left: 40%;
    bottom: 0;
    width: 20%;
    border-bottom: thin solid rgba(132, 132, 132, 0.4);
}
.review h5 {
    color: #848484;
    font-family: 'dosissemibold';
    font-size: 1.1em;
    margin-bottom: 0;
}
.review h6 {
  font-size: 0.9em;
  color: #848484;
}
section.reviews .review h4 {
  width: 100%;
  color: #848484;
  font-family: 'dosisbold';
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1.1em;
}
section.venue-detz {
    /*border-top: thin solid rgba(95, 189, 199, 0.5);*/
    /*padding: 2rem 0;*/
    margin-bottom: 1rem;
}
.venue-detz dd {
    display: inline-block;
    width: 49.8%;
    margin-bottom: .5rem;
}
.venue-detz dd h6 {
    margin-bottom: 0.3rem;
    font-family: 'titillium_websemibold';
}
.venue-detz dl {
    margin-bottom: 0;
}
section.reviews {
    width: 60%;
    float: left;
    margin-right: 5%
}
section.vendor-map {
    /*float: left;*/
    /*width: 35%;*/
    height: 26rem;
    border-bottom: thin solid rgba(95, 189, 199, 0.5);
    padding-bottom: 1rem;
}
section.ads {
    /*float: left;*/
    /*width: 35%;*/
    margin-top: 1rem
}
section.ads span {
    text-align: center;
    display: block;
    padding: 9rem 0;
    background-color: #5FBDC7;
    color: #FFF;
    font-size: 2em;
}
.flex-wrap {
    display: flex;
    width: 100%;
    float: left;
}
.inner-flex {
    width: 35%;
    display: flex;
    flex-direction: column;
    order: 2;
}
.vendor-map iframe {
    pointer-events: none;
}
form.filters {
    margin-top: 2rem;
}
.vendor-list-map {
    height: 27rem;
    margin-top: -7rem;
    border-radius: 3px;
    overflow: hidden;
    pointer-events: none;
}
.filters .switch-paddle::after {
  border-radius: 45%;
}
.filters input + .switch-paddle {
    border-radius: 41px;
}
.filters .switch-paddle {
  background: #5FBDC7;
}
.filters .switch-active {
    left: 0.5rem;
}
.filters input:checked ~ .switch-paddle::after {
    left: 2.25rem;
}
.filters input:checked ~ .switch-paddle {
    background: #b3b3b3;
}
.filters label.ibk {
    float: left;
    margin-right: 1rem;
    margin-top: 2px;
    color: #848484;
    font-family: 'titillium_websemibold';
    position: relative;
}
.filters label.ibk:before {
  content: "";
  position: absolute;
  top: 2px;
  left: -1.8rem;
  width: 1.5rem;
  height: 1.5rem;
  background: url(../img/badge-outline.svg) 0 0 no-repeat;
}
.filters .switch {
    float: right;
}
.vencatpg-filters > div > div {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: thin solid rgba(94, 189, 199, 0.5);
}
.vencatpg-list {
  background-color: #F3F4F4;
  padding-bottom: 3rem;
}
#dashboard {
  background: url(../img/honeycomb-b.jpg) repeat;
}
.dheader nav {
  border-bottom: 3px solid #0D2C3A;
  background-color: #5FBDC7;
  margin-bottom: 0;
}
.dheader nav ul li img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-color: #FFF;
    margin-top: -1rem;
}
.dashboard-main header {
    color: #FFF;
    padding: 1rem 0;
}
.user .dashboard-main header {
    background-color: #F15A29;
}
.vendor .dashboard-main header {
    background-color: #25A8DF;
}
.dashboard-main header ul {
  float: right;
  margin-top: 5px;
}
.dashboard-main header ul li {
    display: inline-block;
    margin-left: 1rem;
    font-family: 'titillium_websemibold';
}
.dashboard-main header h3 {
    font-family: 'dosissemibold';
    font-size: 1.5em;
    float: left;
    margin-right: 1rem;
    margin-bottom: 0;
    margin-top: 4px;
}
.user .dashboard-main header a.button,
.vendor .dashboard-main header a.button {
    font-family: 'dosissemibold';
    border-radius: 3px;
    margin-left: 2rem;
    margin-bottom: 0;
}
.user .dashboard-main header a.button {
  background-color: #25A8DF;
}
.vendor .dashboard-main header a.button {
  background-color: #F15A29;
}
.sum-dquotes table tbody td a.button {
  font-family: 'dosissemibold';
  border-radius: 3px;
  margin: 0.5rem auto;
  background-color: #25A8DF;
  padding: 0.6rem 1rem;
  display: block;
  width: 8.5rem;
}
ul.sum-dstats li {
    background-color: #FFF;
    float: left;
    width: 32%;
    padding: 2rem 1rem 1rem;
    border-radius: 4px;
    position: relative;
    box-shadow: 1px 1px 1px #949494;
}
ul.sum-dstats li:not(:last-child) {
    margin-right: 2%;
}
ul.sum-dstats {
    margin-top: 2rem;
}
ul.sum-dstats li h5 {
    color: #7C8C94;
    font-family: 'titillium_webbold';
    text-align: center;
    font-size: 1em;
    margin-bottom: 0;
}
.sum-dstats i.fa {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #0D2C3A;
}
ul.sum-dstats li h2 {
    text-align: center;
    font-family: 'dosisbold';
    font-size: 3.2em;
    margin: 0;
}
ul.sum-dstats li:not(:first-child) h2 {
  color: #5FBDC7;
}
ul.sum-dstats li:first-child h2 {
  color: #EF4136;
}
.dashboard-main section.wrapper {
    background-color: rgba(208, 235, 238, 0.4);
    padding-bottom: 2rem;
}
.sum-dquotes thead {
    background: #5FBDC7;
    color: #FFF;
    border: none;
}
.sum-dquotes {
    margin-top: 2rem;
}
.sum-dquotes table {
    border-collapse: collapse;
    color: #6E6F71;
}
.sum-dquotes table thead th:first-child {
    border-top-left-radius: 5px;
    font-family: 'dosisbold';
    padding-left: 1rem;
    font-size: 1.1em;
}
.sum-dquotes table thead th:last-child {
    border-top-right-radius: 5px;
    float: right;
    font-size: 0.8em;
    padding-right: 1rem;
    padding-top: 13px;
}
.sum-dquotes table tbody {
    border: none;
    background-color: #F1F2F2;
}
.sum-dquotes table tbody tr:nth-child(even) {
    background-color: #FFF;
}
.sum-dquotes table tbody th,
.sum-dquotes table tbody td {
    padding: 0.3rem 1rem 0.3rem;
}
.sum-dquotes tbody tr:first-child {
    height: 2rem;
}
span.loc {
    font-family: 'titillium_websemibold';
    font-size: 0.85em;
    margin-left: 0.5rem;
}
.brd-dmsg {
    position: relative;
    height: 300px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.brd-dmsg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
.brd-dmsg h5 {
    position: relative;
    color: #FFF;
    text-align: center;
    font-family: 'titillium_websemibold';
    font-size: 1.65em;
    padding-top: 9%;
}
.brd-dmsg a.button {
    position: relative;
    font-family: 'dosissemibold';
    background-color: #0D2C3A;
    border-radius: 3px;
    width: 12rem;
    font-size: 1em;
    margin: auto;
    display: block;
}
.cal-wrapper {
    margin-top: 2rem;
    height: 19.5rem;
}



@media screen and (max-width: 40em) {
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.3em;
}
.hiw ul li:not(:last-child) {
  margin-bottom: 1rem;
}
.homep-stats ul li:not(:last-child) {
  border-right: none;
  border-bottom: thin solid #DEDDDD;
  margin-bottom: 1rem;
}
.hiw img {
    width: 15%;
}
.hiw ul li .wrap {
    width: 80%;
}
.homep-videos ul li {
  width: 100%;
  margin-bottom: 1rem
}
.homep-videos ul li:not(:last-child) {
  margin-right: 0;
}
.homep-videos ul {
    margin-top: 1.2rem;
}
.homep-videos .button {
    margin-top: 1rem;
}
.homep-videos {
  padding-bottom: 2rem;
}
ul.socials {
    float: left;
    margin-top: 2rem;
    padding-top: 1.2rem;
    border-top: thin solid #918A8F;
    width: 100%;
}
.f1 {
  padding-bottom: 1rem;
}
.catpg-list .vendors > li,
.venues > li {
  width: 100%;
  margin-right: 0;
}
section.stats ul li {
    display: block;
    width: 80%;
    margin-bottom: 2rem;
}
.join-blissful .button {
    width: 10rem;
}
button.slick-next.slick-arrow,
button.slick-prev.slick-arrow {
  display: none !important;
}
.vendorpg-intro .wrapper {
    float: left;
    padding-top: 0;
}
.vendorpg-intro h5 {
    text-align: left;
}
section.intro, section.gallery {
    float: left;
    width: 100%;
}
.vendorpg-main section.intro {
    margin: 0;
}
span.verify {
    display: none;
}
.vendorpg-act .button {
    margin-top: 1.75rem;
    margin-bottom: 0;
}
.vendorpg-intro,
.dheader {
    padding-top: 2rem;
}
.inner-flex {
  order: 1;
  width: 100%;
}
section.reviews {
    order: 2;
    margin: 2rem 0 0;
    width: 100%;
}
.flex-wrap {
    flex-direction: column;
}
.vendorpg-main {
    padding-bottom: 2rem;
}
.sum-dquotes table tbody td {
    display: block;
    width: 100%;
    float: left;
}
ul.sum-dstats li:not(:last-child) {
  margin-right: 0
}
ul.sum-dstats li {
  width: 100%;
}
.sum-dquotes table tbody td a.button {
  width: 90%;
}
.brd-dmsg {
  height: 200px;
}

}