.ui-loader{
	display: none;
}
.combodate select{
	padding: .2rem 1rem;
}
.bid-card a{
	margin-bottom: 0;
}
@media only screen and (max-width:40.0625em) {
	.lSSlideOuter .lSPager.lSGallery {
		display:none;
	}
}