body {
padding: 30px 0;
}

textarea {
    min-height: 200px;
}

.deleted {
    opacity: 0.65;
}
main[role=main] {
    margin-top: 2.8125rem;
}
.forum-img{
	border-radius: 50%;
	width: 80px;
	height: 80px;
}
.forum-post-img{
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.forum-user-dets p{
	margin-bottom: 0;
	text-align: center;
}
.forum-user-dets img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width:40.0625em) {
	.forum-img{
		width:50px;
		height: 50px;
	}
}