@font-face {
    font-family: 'clear_sansregular';
    src: url('../fonts/regular/ClearSans-Regular-webfont.eot');
    src: url('../fonts/regular/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/regular/ClearSans-Regular-webfont.woff') format('woff'),
    url('../fonts/regular/ClearSans-Regular-webfont.ttf') format('truetype'),
    url('../fonts/regular/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sansbold';
    src: url('../fonts/bold/ClearSans-Bold-webfont.eot');
    src: url('../fonts/bold/ClearSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bold/ClearSans-Bold-webfont.woff') format('woff'),
    url('../fonts/bold/ClearSans-Bold-webfont.ttf') format('truetype'),
    url('../fonts/bold/ClearSans-Bold-webfont.svg#clear_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sans_mediumregular';
    src: url('../fonts/medium/ClearSans-Medium-webfont.eot');
    src: url('../fonts/medium/ClearSans-Medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/medium/ClearSans-Medium-webfont.woff') format('woff'),
    url('../fonts/medium/ClearSans-Medium-webfont.ttf') format('truetype'),
    url('../fonts/medium/ClearSans-Medium-webfont.svg#clear_sans_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sanslight';
    src: url('../fonts/light/ClearSans-Light-webfont.eot');
    src: url('../fonts/light/ClearSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/light/ClearSans-Light-webfont.woff') format('woff'),
    url('../fonts/light/ClearSans-Light-webfont.ttf') format('truetype'),
    url('../fonts/light/ClearSans-Light-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sans_thinregular';
    src: url('../fonts/thin/ClearSans-Thin-webfont.eot');
    src: url('../fonts/thin/ClearSans-Thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/thin/ClearSans-Thin-webfont.woff') format('woff'),
    url('../fonts/thin/ClearSans-Thin-webfont.ttf') format('truetype'),
    url('../fonts/thin/ClearSans-Thin-webfont.svg#clear_sans_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'clear_sanslight';
}

.row {
    max-width: 70.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'clear_sanslight';
}

ul {
    margin-left: 0;
    list-style-type: none;
}

img {
    width: 100%;
}

p {
    margin-bottom: 1rem;
    font-size: 0.95rem;
}

.top-bar {
    background: #FFFFFF !important;
    height: 70px;
}

.top-bar-section ul.left {
    margin-left: 1rem;
}

ul.title-area {
    padding-top: 8px;
}

.top-bar-section input {
    padding: 18px 20px;
    width: 350px;
}

.top-bar-section ul li > a {
    font-family: 'clear_sansregular';
    color: #666766;
    font-size: 15px;
}

.top-bar-section ul li {
    background: transparent !important;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background: transparent;
}

.top-bar-section button {
    padding: 9px 20px;
    height: inherit;
    background-color: #00A89B;
    margin-top: -6px;
    display: block;
    font-family: 'clear_sans_thinregular';
}

.top-bar-section ul li:hover:not(.has-form) > a {
    background-color: transparent !important;
    color: #666766;
    background: transparent !important;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    padding: 15px 0.9375rem 0;
}

section.slideshow ul, section.slideshow ul li {
    position: relative;
    height: 100%;
}

section.slideshow ul li img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caption {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 42.3rem;
    margin: auto;
    left: calc(50% - 22.1rem);
    text-align: center;
    top: calc(50% - 53px);
}

section.slideshow h2 {
    font-family: 'clear_sans_mediumregular';
}

section.slideshow h2, section.slideshow p {
    color: #FFFFFF;
}

section.slideshow p {
    font-family: 'clear_sansregular';
}

section.cat1,
section.cat2 {
    padding: 2rem 0;
    background: rgba(231, 230, 220, 0.4);
}

main[role="main"] {
    padding: 0;
    background: rgba(231, 230, 220, 0.7);
}

section.cat1 h2, section.cat1 h3 {
    text-align: center;
    color: #4D4C4D;
}

section.cat1 h2 {
    font-size: 2rem;
}

section.cat1 h3 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

section.cat1 ul li,
section.cat2 ul li,
ul.cat-li li {
    float: left;
    width: 32%;
    margin-right: 2%;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.11);
    border-radius: 3px;
    margin-bottom: 20px;
    transition: opacity 0.5s ease;
}

section.cat1 ul li:nth-child(3n),
section.cat2 ul li:nth-child(3n),
ul.cat-li li:nth-child(3n) {
    margin-right: 0%
}

section.cat1 ul li:nth-child(1) .s-wrap,
section.cat2 ul li:nth-child(1) .s-wrap {
    border-color: #EA008A;
}

section.cat1 ul li:nth-child(2) .s-wrap,
section.cat2 ul li:nth-child(2) .s-wrap {
    border-color: #FCB415;
}

section.cat1 ul li:nth-child(3) .s-wrap,
section.cat2 ul li:nth-child(3) .s-wrap {
    border-color: #29AAE2;
}

section.cat1 ul li:nth-child(4) .s-wrap,
section.cat2 ul li:nth-child(4) .s-wrap {
    border-color: #29AAE2;
}

section.cat1 ul li:nth-child(5) .s-wrap,
section.cat2 ul li:nth-child(5) .s-wrap {
    border-color: #F15B26;
}

section.cat1 ul li:nth-child(6) .s-wrap,
section.cat2 ul li:nth-child(6) .s-wrap {
    border-color: #D9E026;
}

.s-wrap {
    border-left: 5px solid #FFFFFF;
    padding: 5px 10px 2rem;
    background: #FFFFFF;
    position: relative;
    /*height: 120px;*/
}

.s-wrap h4 {
    font-size: 16px !important;
    font-family: clear_sansregular !important;
    margin-top: 5px !important;
}

.s-wrap p {
    color: #4D4D4E;
    font-size: 14px;
    margin-bottom: 0;
}

.cat1 ul li a, .cat2 ul li a {
    display: block;
    padding: 0;
}

.cat1 ul, .cat2 ul {
    margin-top: 1rem;
    float: left;
}

.s-wrap a.link {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 0;
    bottom: 10px;
    color: #CCCCCC;
    font-size: 1.1rem;
}

section.cbreaker {
    height: 240px;
    overflow: hidden;
    position: relative;
}

.cbreaker img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cbreaker h3 {
    color: #FFFFFF;
    text-align: center;
    margin-top: 100px;
    font-size: 2rem;
    font-family: 'clear_sans_thinregular';
}

footer .tft {
    background: #1BB2A6;
    padding: 2rem 0 1rem;
}

footer .bft {
    background: #196B64;
    padding: 10px 0;
    color: #FFFFFF;
    font-family: 'clear_sans_thinregular';
}

footer .tft h5 {
    color: #FFFFFF;
    font-size: 0.9rem;
}

footer .tft ul li {
    font-family: 'clear_sans_thinregular';
}

footer .tft ul li a {
    font-size: 0.8rem;
    color: #FFFFFF;
}

footer .tft ul li a:hover {
    text-decoration: underline;
}

footer .tft ul.right li {
    text-align: right;
}

footer .tft ul.right {
    width: 100%;
    margin-top: 1rem
}

footer .bft span {
    font-size: 0.7rem;
}

ul.socials li {
    width: 33px;
    height: 34px;
    display: inline-block;
    margin-right: 5px;
    float: right;
}

ul.socials li:nth-child(1) {
    background: url(../img/socials.png) -4px -3px no-repeat;
}

ul.socials li:nth-child(2) {
    background: url(../img/socials.png) -40px -3px no-repeat;
}

ul.socials li:nth-child(3) {
    background: url(../img/socials.png) -77px -3px no-repeat;
}

ul.socials li:nth-child(4) {
    background: url(../img/socials.png) -114px -3px no-repeat;
}

select {
    background-color: transparent;
    height: 2rem;
    padding: 0.2rem 1rem;
}

.cat-filters {
    background: #FFFFFF;
    border: thin solid rgba(166, 168, 171, 0.34);
}

.c-header h2 {
    color: #929497;
    font-size: 1.6rem;
    font-family: 'clear_sansregular';
}

.v-header h2 {
    color: #929497;
    margin-top: -4px;
    font-size: 1.4rem;
    font-family: 'clear_sansregular';
}

section.c-header,
section.v-header {
    padding: 1rem 0;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
}

.c-header > .row,
.v-header > .row {
    border-left: 4px solid rgba(231, 230, 220, 0.4);
    padding-top: 0.4rem;
}

.c-header .row .row {
    position: relative;
    z-index: 1;
}

section.c-header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(231, 230, 220, 0.68);
    z-index: 0;
}

.lightblue .c-header > .row,
.lightblue .v-header > .row {
    /*border-color: #92BFE6;*/
    position: relative;
}

.c-desc {
    /*color: #929497;*/
    color: rgba(128, 131, 134, 0.9);
    font-family: 'clear_sanslight';
    font-size: 1.1rem;
}

.c-header img,
.v-header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cat-filters h5,
.ven-main h5 {
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    color: #FFFFFF;
    margin: 0;
    font-family: 'clear_sans_thinregular';
}

.lightblue .cat-filters h5,
.lightblue .ven-main h5 {
    background: #92BFE6;
}

.filter-wrap {
    padding: 1rem;
}

ul.cat-loc {
    padding-bottom: 5px;
}

ul.cat-loc {
    border-bottom: thin solid #C5C6C8;
}

/*ul.cat-feat {
    border-bottom: thin solid #C5C6C8;
}*/
ul.cat-feat {
    padding-bottom: 2rem
}

.cat-feat input[type="checkbox"] + label,
.cat-cap input[type="checkbox"] + label {
    width: 73%;
}

.cat-feat input[type="checkbox"],
.cat-cap input[type="checkbox"] {
    margin-left: 10%;
    margin-bottom: 10px;
}

.cat-filters label {
    color: #808184;
    font-family: 'clear_sans_thinregular';
}

.cat-filters h6 {
    font-size: 0.9rem;
    color: #808184;
    font-family: 'clear_sansregular';
}

.cat-loc select {
    margin-top: 10px;
}

.lightblue .s-wrap {
    border-color: #92BFE6;
}

.cat-li .s-wrap h5 {
    color: #6D6E70;
    font-size: 1rem;
    font-family: 'clear_sansregular';
    margin-bottom: 5px;
    /*height: 42px;*/
}

.cat1 ul li:hover,
.cat2 ul li:hover,
.cat-li li:hover {
    opacity: 0.9;
}

.cat1 ul li:hover .s-wrap,
.cat2 ul li:hover .s-wrap,
.cat-li li:hover .s-wrap {
    background: #F9F8F8;
}

.v-loc {
    color: #6D6E70;
    font-size: 0.85rem;
}

ul.cat-li li ul.stars {
    margin-left: 0;
    margin-top: 10px;
}

ul.stars li,
ul.cat-li li ul.stars li {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 0 2px 0 0;
    box-shadow: none;
    color: #CBEDEB;
    line-height: 1;
    font-size: 15px;
}

ul.stars li.active,
ul.cat-li li ul.stars li.active {
    color: #32BAAF;
}

.breadcrumbs {
    border: none;
    background-color: transparent;
    margin-bottom: 0.3rem;
}

.breadcrumbs > * a {
    color: #6D6E70;
}

.breadcrumbs > *.current a {
    color: #1BB2A6;
}

main ul li ul {
    margin-left: 0
}

ul.h-rev li {
    float: left;
    line-height: 1;
}

ul.h-rev > li:first-child {
    margin-right: 1rem;
}

.h-rev ul.stars {
    margin-top: 5px;
}

.h-rev ul.stars {
    margin-top: 5px;
}

.h-rev li span {
    display: inline-block;
    padding-right: 0.5rem;
    color: #929497;
    font-size: 0.9rem;
    font-family: 'clear_sansregular';
}

.v-header button {
    margin-bottom: 0;
    padding: 0.6rem 2rem;
    float: right;
    background: #00A89B;
    font-size: 0.875rem;
    font-family: 'clear_sanslight';
}

.v-contact {
    right: 1rem;
}

.v-contact.bfxd {
    position: fixed;
    right: 1rem;
    z-index: 2;
}

.desc-wrap .desc {
    padding-top: 1rem;
}

.desc-wrap p {
    font-size: 0.95rem;
}

.desc-wrap {
    float: left;
    background-color: #F1F1F2;
    border: thin solid rgba(166, 168, 171, 0.17);
    margin-bottom: 1rem;
}

.desc-wrap h6,
.misc-wrap h6 {
    font-size: 0.9rem;
    color: #808184;
}

.services {
    border-top: thin solid #FFFFFF;
    padding: 1rem 0;
    float: left;
    width: 100%;
}

.services ul,
.misc-wrap ul {
    margin-left: 1.1rem;
}

.services ul li {
    font-size: 0.9rem;
    width: 50%;
    float: left;
    margin-bottom: 0.3rem;
}

.misc-wrap ul li {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
}

.misc-wrap {
    float: left;
    background-color: #FFFFFF;
    width: 100%;
    border: thin solid rgba(166, 168, 171, 0.28);
    margin-bottom: 2rem;
}

.feat {
    padding-top: 1.5rem;
}

.ame {
    border-top: thin solid rgba(197, 198, 200, 0.5);
    padding-top: 1rem;
}

#vendor {
    color: #808184;
    font-family: 'clear_sans_thinregular';
}

#vendor h3 {
    color: #808184;
    font-family: 'clear_sans_thinregular';
}

.v-desc-wrap p {
    margin-bottom: 0;
}

.v-desc-wrap li {
    font-size: 0.95rem;
    margin-bottom: 0.5rem;
}

.v-desc-wrap li span {
    font-family: 'clear_sansregular';
    display: block;
}

.slides ul li {
    margin: 10px 0;
}

.v-desc-wrap {
    padding-top: 2rem;
    margin: 3rem 0;
    border-top: thin solid #CCC;
}

section.prof {
    background-color: #929497;
    padding: 1rem 0;
}

.prof ul li {
    display: inline-block;
    margin-right: 1.5rem;
    color: #FFFFFF;
    font-family: 'clear_sans_thinregular';
    font-size: 0.9rem;
}

.prof ul li.pname {
    font-size: 1.1rem;
}

.prof ul {
    margin-bottom: 0;
}

.dbody {
    position: relative;
}

.dbody ul.tabs {
    margin-left: 26%;
}

.dbody ul.tabs {
    margin: 1.5rem 0 0 26%;
}

.dbody .tabs .tab-title > a {
    padding: 0.6rem 2rem;
    font-family: 'clear_sanslight';
}

section.dbody:before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    background: #FFF;
    position: absolute;
}

.dbody .tabs .tab-title {
    margin-right: 4px;
}

.dbody .tabs .tab-title.active > a {
    background-color: #F1F2F2;
    color: #6D6E70;
}

.dbody .tabs .tab-title > a {
    background-color: #FFFFFF;
    font-size: 0.9rem;
}

.dbody h3 {
    font-size: 1rem;
    padding: 0.5rem;
    color: #FFFFFF;
    margin: 0;
    position: relative;
}

.v-list h3 {
    background: #00A89B;
}

span.link {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.1rem;
    color: #FFF;
}

.dbody .tabs-content ul {
    background: #FFF;
    padding: 0.5rem;
    height: 243px;
    overflow-y: scroll;
    margin-bottom: 1.5rem;
}

.dbody .tabs-content ul li > ul {
    height: initial;
    margin-bottom: 0;
    overflow-y: initial;
}

.v-list ul {
    list-style-position: inside;
    color: #6D6E70;
}

.v-list ul li {
    padding: 0.5rem 0;
    border-bottom: thin solid #A6A8AB;
    font-size: 0.85rem;
    list-style-type: disc;
}

.v-list ul li:first-child {
    padding-top: 0;
}

.v-list ul li:last-child,
.inbox > ul > li:last-child {
    border-bottom: none;
}

.inbox h3 {
    background-color: #25A8DF;
}

.dbody h3:after {
    content: "";
    height: 100%;
    width: 3px;
    background: rgba(255, 255, 255, 0.52);
    position: absolute;
    top: 0;
    left: 0;
}

.inbox ul li ul li {
    display: inline-block;
    font-size: 0.85rem;
}

.inbox > ul > li {
    height: initial;
    border-bottom: thin solid #A6A8AB;
}

li.date {
    float: right;
}

.gallery h3 {
    background-color: #F9AE3F;
}

section.v-list {
    width: 32%;
    float: left;
    margin-right: 2%;
    position: relative;
}

section.inbox {
    float: left;
    width: 64%;
    position: relative;
}

section.gallery {
    float: left;
    width: 60%;
    margin-right: 1%;
    position: relative;
}

.gallery ul li {
    display: inline-block;
    float: left;
    width: 25%;
}

section.ftarticle {
    float: left;
    width: 37%;
}

.ftarticle .dets {
    width: 100%;
    background: gray;
    padding: 2rem 0.5rem;
}

.ftarticle .dets {
    width: 100%;
    background: #00A69C;
    padding: 1.3rem 0.5rem;
    position: relative;
}

.dets span.link {
    bottom: 0.5rem;
    top: initial;
}

.dbody .ftarticle h3:after {
    display: none;
}

.updates h3 {
    margin-top: 1rem;
    background-color: #C0B399;
}

.pimg img {
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

.prof ul li.pimg {
    margin-right: 1rem;
}

section.updates {
    position: relative;
}

.slick-slider {
    margin-bottom: 0 !important
}

span.filter-icon {
    position: absolute;
    right: 1rem;
    top: 1%;
}

.filter-icon span {
    color: #FFF;
    font-size: 0.7rem;
}

.slideshow button {
    background: rgb(244, 66, 54);
    padding: 15px 3rem;
    font-family: 'clear_sans_mediumregular';
    font-size: 1.0rem;
    margin-top: 1.4rem;
}

.lSSlideWrapper.usingCss {
    max-width: 80%;
    margin-right: 2%;
    float: left;
}

ul.lSPager.lSGallery {
    width: 18% !important;
    float: left;
    height: 352px;
}

ul.lSPager.lSGallery li {
    width: 100% !important;
    margin-bottom: 9px;
}

.cat-li li .v-img {
    max-height: 160px;
    overflow: hidden;
}

.v-c-listing {
    position: relative;
}

main#homepg {
    background: transparent !important;
}

.breadcrumbs > * {
    font-family: 'clear_sanslight';
}

/* small screens */
@media only screen and (max-width: 40.0625em) {
    li.name {
        max-width: 200px;
    }

    section.cat1 ul li, section.cat2 ul li, ul.cat-li li {
        width: 100%;
        margin-right: 0;
    }

    section.cat1, section.cat2 {
        padding-bottom: 0
    }

    section.slideshow h2, section.slideshow p {
        width: 90%;
        margin: 1rem auto;
    }

    .cat-filters {
        height: 32px;
        overflow: hidden;
    }

    nav.top-bar.expanded {
        padding-bottom: 1rem;
    }

    .top-bar-section li:not(.has-form) a:not(.button) {
        padding: 8px 0;
    }

    .top-bar-section ul li {
        border-bottom: thin solid rgba(204, 204, 204, 0.36);
    }

    .top-bar-section ul.left li {
        border-bottom: none;
    }

    .top-bar-section ul.left {
        margin-left: 0;
        padding-left: 1rem;
        padding-top: 8px;
    }

    .lSSlideWrapper.usingCss {
        max-width: 100%;
        margin-right: 0;
        float: left;
    }

    ul.lSPager.lSGallery {
        width: 100% !important;
        float: left;
    }

    ul.lSPager.lSGallery li {
        display: inline-block !important;
        width: 23.5% !important;
    }

    .v-contact {
        position: fixed !important;
        z-index: 5;
    }

}

/* large screens */
@media only screen and (min-width: 40.0625em) {
    .top-bar-section ul li {
        border-bottom: 6px solid #FFFFFF;
        height: 70px;
    }

    .top-bar-section ul.right li:hover {
        border-bottom-color: #00A89B;
    }

    .top-bar-section ul.right li:first-child:hover {
        border-bottom-color: #FFFFFF;
    }

    .s-wrap {
        height: 110px;
        overflow: hidden;
    }

    header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        background: #FFF;
        border-bottom: thin solid rgba(231, 231, 231, 0.41);
    }

    main[role="main"] {
        margin-top: 70px;
    }

    /* loader */
    main .loaders .loader {
        box-sizing: border-box;
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 25%;
        max-width: 25%;
        height: 200px;
        align-items: center;
        justify-content: center;
    }

    .ball-clip-rotate > div {
        background-color: transparent;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        margin: 2px;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        border: 2px solid #B5307C;
        border-bottom-color: transparent;
        height: 25px;
        width: 25px;
        background: transparent !important;
        display: inline-block;
        -webkit-animation: rotate 0.75s 0s linear infinite;
        animation: rotate 0.75s 0s linear infinite;
    }

    .loader {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /*background: rgba(231, 230, 220, 0.4);*/
        z-index: 2;
    }

    .loader-inner.ball-clip-rotate {
        position: absolute;
        top: 5rem;
        left: 46%;
    }

    .ld > ul {
        opacity: 0;
    }

    main.ld {
        display: none;
        min-height: 100% !important;
    }

}