
        /* Enhance the look of the textarea expanding animation */
        .animated {
            -webkit-transition: height 0.2s;
            -moz-transition: height 0.2s;
            transition: height 0.2s;
        }

        .stars
        {
            margin-bottom: 0;
            font-size: 24px;
            color: #92BFE6;
        }
        .stars span{
          margin-right: 4px;
        }