<div class="login-form">
    <form ng-submit="doLoginFn()">
        <div class="top">
            <!--<img src="../app/common/img/kode-icon.png" alt="icon" class="icon">-->
            <h1>BlisFul</h1>
        </div>
        <div class="form-area">
            <div class="group">
                <input type="text" class="form-control" placeholder="Email" ng-model="login.email">
                <i class="fa fa-user"></i>
            </div>
            <div class="group">
                <input type="password" class="form-control" placeholder="Password" ng-model="login.password">
                <i class="fa fa-key"></i>
            </div>
            <button type="submit" class="btn btn-default btn-block">LOGIN</button>
        </div>
    </form>
</div>