$input_placeholder_color: #fff;
$error: #f04848;
$white: #fff;
$light_grey: #ccc;
$dark_blue: #0d2c3a;
$facebook_blue:#4267b2;
$google_red:#db4437;
$light_blue:#5eb8c1;
$mid_grey:#7c8c94;
$green:#00a89b;
$orange:#ffbb3f;
input,
[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week] {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #cacaca;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

input:focus,
[type=color]:focus,
[type=date]:focus,
[type=datetime-local]:focus,
[type=datetime]:focus,
[type=email]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
[type=color]:active,
[type=date]:active,
[type=datetime-local]:active,
[type=datetime]:active,
[type=email]:active,
[type=month]:active,
[type=number]:active,
[type=password]:active,
[type=search]:active,
[type=tel]:active,
[type=text]:active,
[type=time]:active,
[type=url]:active,
[type=week]:active {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #5eb8c1;
}

label.switch-paddle {
    border-radius: 13px;
}

.switch input:checked~.switch-paddle:after {
    border-radius: 50%;
}

.switch.small .switch-paddle:after {
    border-radius: 50%;
}

.homep-intro h2 {
    color: #fff;
}

.homep-intro p {
    color: #fff;
}

input.search-input,
input.search-input:focus {
    color: #fff;
    border: none;
    background-color: transparent;
    border-bottom: thin solid hsla(0, 0%, 100%, .5);
    box-shadow: none;
    margin: 0;
}

input.search-input::-webkit-input-placeholder {
    color: $input_placeholder_color;
}

input.search-input:-moz-placeholder {
    /* Firefox 18- */
    color: $input_placeholder_color;
}

input.search-input::-moz-placeholder {
    /* Firefox 19+ */
    color: $input_placeholder_color;
}

input.search-input:-ms-input-placeholder {
    /* IE 10+ */
    color: $input_placeholder_color;
}

input.search-input::-ms-input-placeholder {
    /* Edge */
    color: $input_placeholder_color;
}

input.search-input:placeholder-shown {
    /* Standard one last! */
    color: $input_placeholder_color;
}

input.red_border::-webkit-input-placeholder {
    color: $error;
}

input.red_border:-moz-placeholder {
    /* Firefox 18- */
    color: $error;
}

input.red_border::-moz-placeholder {
    /* Firefox 19+ */
    color: $error;
}

input.red_border:-ms-input-placeholder {
    /* IE 10+ */
    color: $error;
}

input.red_border::-ms-input-placeholder {
    /* Edge */
    color: $error;
}

input.red_border:placeholder-shown {
    /* Standard one last! */
    color: $error;
}

input.red_border {
    border-bottom: 1px solid $error;
}

//google search input
form.filters input#pac-input::-webkit-input-placeholder {
    color: $orange;
}

form.filters input#pac-input:-moz-placeholder {
    /* Firefox 18- */
    color: $orange;
}

form.filters input#pac-input::-moz-placeholder {
    /* Firefox 19+ */
    color: $orange;
}

form.filters input#pac-input:-ms-input-placeholder {
    /* IE 10+ */
    color: $orange;
}

form.filters input#pac-input::-ms-input-placeholder {
    /* Edge */
    color: $orange;
}

form.filters input#pac-input:placeholder-shown {
    /* Standard one last! */
    color: $orange;
}

form.filters input#pac-input {
    color: $orange;
    border-bottom: 1px solid $orange;
}

nav {
    margin-bottom: .8em;
}

nav ul li a {
    color: $white;
}

nav ul li a:hover,
nav ul li a:active,
nav ul li a:focus {
    color: $light_grey;
}

a.facebook {
    background-color: $facebook_blue;
}

a.google {
    background-color: $google_red;
}

a.facebook:focus,
a.facebook:active,
a.facebook:hover {
    background-color: rgba(66, 103, 178, 0.8);
}

a.google:focus,
a.google:active,
a.google:hover {
    background-color: rgba(219, 68, 55, 0.8);
}

a.facebook i,
a.google i {
    font-size: .9rem;
}

a.facebook i:before,
a.google i:before {
    font-size: 1.05rem;
}

a.facebook i:after {
    content: 'Facebook';
    padding-left: 5px;
    font-style: normal;
}

a.google i:after {
    content: 'Google';
    padding-left: 5px;
    font-style: normal;
}

.strike {
    text-decoration: line-through;
}

.logo img {
    margin-bottom: 10px;
}

.homep-intro .button {
    width: 100%;
    border-radius: 2px;
    background-color: #292B37;
    font-family: 'dosissemibold';
    font-size: 1rem;
}

.vendor-card a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
}

footer a,
.cat a {
    color: $white;
}

footer a:focus,
footer a:active,
footer a:hover,
.cat a:focus,
.cat a:active,
.cat a:hover {
    color: $light_grey;
}

.vendorpg-main img.profile {
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
}

.vendorpg-main {
    border-top: 5.5rem solid #5ebdc7;
}

.header-dropdown > a {
    color: #fff;
    font-size: .9rem;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.header-dropdown img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid hsla(0, 0%, 100%, .8);
}

.header-dropdown ul > li a {
    color: #0d2c3a;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a:after {
    border-color: $white transparent transparent;
}

.vendorpg-main .wrapper {
    margin-top: -5rem;
}

.slick-slide img {
    max-width: 300px;
}

//     button.slick-next.slick-arrow:before {
//     top: 45%;
// }
// button.slick-prev.slick-arrow {
//     top: 45%;
// }
.review img {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.reviewer-container {
    float: left;
    margin-right: 5px;
}

.reviewer-container ul.stars {
    width: 100%;
}

.contentpg-intro,
.vendorpg-intro {
    padding-top: 0;
    padding-bottom: .5rem;
}

#post-review-box button.submit-review {
    text-align: center;
    font-family: dosissemibold;
    background-color: #0d2c3a;
    border-radius: 3px;
    font-size: .8rem;
    padding: 8px 20px;
    width: 30%;
    margin: 5px auto;
    display: block;
}

.starrr span {
    margin-right: 5px;
    transition: all .5s ease-in;
}

.starrr span.inactive {
    color: rgba(13, 44, 58, 0.44);
}

.starrr span.light_blue {
    color: $dark_blue;
}

.starrr span:hover {
    color: $dark_blue;
}

//     .review-container {
//     transition: all 1s ease-in;
//     transform: scaleY(0);
// }
// .review-container.visible {
//     transform: scaleY(1);
//     -webkit-transform-origin: center top;
//     -moz-transform-origin: center top;
//     -o-transform-origin: center top;
// }
.error {
    color: $error;
}

.main-socials {
    float: right;
}

.main-socials a {
    font-size: 1.3rem;
    color: #fff;
    margin-right: 5px;
}

.booking-form {
    margin-top: 15px;
}

.booking-form .button {
    display: block;
    text-align: center;
    font-family: dosissemibold;
    background-color: #0d2c3a;
    border-radius: 3px;
    width: 12rem;
    font-size: .9em;
    margin: .5rem auto;
    color: #fff;
}

div#dp-popup {
    z-index: 9999 !important;
    font-family: titillium_webregular !important;
    min-width: 200px;
}

table.jCalendar {
    border: none !important;
}

.booking-success {
    text-align: center;
}

.booking-success span.success-tick {
    text-align: center;
    font-size: 2.5rem;
    border: 2px solid #ccc;
    border-radius: 50%;
    padding: 7px 18px;
    color: green;
    display: block;
    width: 80px;
    margin: 0 auto;
}

.loader {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    z-index: 99;
    border: 0.25rem solid rgba(242, 143, 133, 0.57);
    border-top-color: #F28F85;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

.loader--double {
    border-style: double;
    border-width: .4rem;
}

.section-loader {
    position: absolute;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border-style: double;
    border-width: .4rem;
    width: 30px;
    height: 30px;
    z-index: 99;
    border: 0.25rem solid rgba(242, 143, 133, 0.57);
    border-top-color: #F28F85;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

.section-loader-area {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 98;
    background-color: $white;
    opacity: .3;
}

.button-warning {
    text-align: center;
    font-family: dosissemibold;
    background-color: $error;
    border-radius: 3px;
    font-size: .9em;
    color: #fff;
    padding: 10px 15px;
}

.button-primary {
    text-align: center;
    font-family: dosissemibold;
    background-color: #0d2c3a;
    border-radius: 3px;
    font-size: .9em;
    color: #fff;
    padding: 10px 15px;
}

.button-primary:focus,
.button-primary:active,
.button-primary:hover {
    background-color: rgba(13, 44, 58, 0.86);
}

.button-warning:focus,
.button-warning:active,
.button-warning:hover {
    background-color: rgba(240, 72, 72, 0.86);
}

.login-button {
    display: block;
    margin: 5px auto;
    width: 10rem;
    padding: 10px;
    cursor: pointer;
}

.login-switch .switch-active {
    left: 18%;
}

.form-error {
    color: $error;
}

form.search-form {
    background: none;
    margin: 0;
    padding: 0;
}

.vendors img.profile {
    height: 60px;
    width: 60px;
}

.vendor-list-map {
    margin-top: -4rem;
}

.vencatpg-filters form.filters {
    margin-top: -4rem;
    position: relative;
}

.vencatpg-list {
    position: relative;
}

.filters .slider-handle {
    border-radius: 50%;
}

.capacity-input {
    margin-top: 20px;
    margin-bottom: 8px;
    width: 30px;
    height: 30px;
    font-size: .7rem;
    color: #fff !important;
    text-align: center;
    pointer-events: none;
    border: none;
    border-radius: 50% !important;
    background-color: $light_blue;
}

.capacity-input:nth-of-type(2n) {
    float: right;
}

.budget-input {
    margin-top: 20px;
    margin-bottom: 8px;
    width: 40px;
    height: 40px;
    font-size: .7rem;
    color: #fff !important;
    text-align: center;
    pointer-events: none;
    border: none;
    border-radius: 50% !important;
    background-color: $light_blue;
}

.budget-input:nth-of-type(2n) {
    float: right;
}

.venues .vwrap button {
    margin-top: 1rem;
    width: 100%;
    border-radius: 3px;
    font-family: dosissemibold;
    font-size: 1.1rem;
    background-color: #5ebdc7;
    margin-bottom: 0;
    padding: .85em 1em;
    color: $white;
    cursor: pointer;
}

.venues .distance {
    font-size: .85rem;
    color: $error;
    display: inline-block;
    width: 100%;
}

.venues .vwrap h6 {
    float: left;
    display: inline-block;
    width: 70%;
}

.venues ul.stars {
    float: right;
    display: inline-block;
    width: 30%;
}

.filters label {
    color: $mid_grey;
}

.switch-paddle {
    color: $white !important;
}

.filters .switch {
    margin-top: 20px;
}

ul.pagination {
    text-align: center;
}

.pagination .current {
    border-radius: 8px;
    padding: 3px 6px;
    background-color: $light_blue;
}

.pagination a:hover {
    background-color: transparent;
}

.pagination li:hover {
    background-color: rgba(94, 189, 199, 0.79);
}

.pagination .current a {
    color: $white;
}

.slider-fill {
    background-color: $light_blue;
}

.slider-handle {
    border-radius: 50%;
}

.jobpg-intro {
    max-height: 20vh;
    padding-top: 0;
    padding-bottom: .5rem;
    background: url(/img/honeycomb-b.jpg) repeat;
}

.jobpg-main {
    min-height: 80vh;
    border-top: 4.5rem solid #5ebdc7;
    background-color: #f3f4f4;
}

.jobpg-main .wrapper {
    margin-top: -4rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 3px;
    margin-bottom: 4rem;
    display: inline-block;
    width: 100%;
    overflow-x: hidden;
}

.contentpg-intro,
.vendorpg-intro {
    background: url(/img/honeycomb-b.jpg) repeat;
    padding-bottom: 2rem;
}

.masthead {
    background-image: url(/img/theball.jpg);
    background-size: cover;
}

.catpg-intro {
    background: url(/img/honeycomb-b.jpg) repeat;
}

.steps-column {
    border-bottom: 4px solid $dark_blue;
    margin-bottom: 10px;
    border-radius: 2px;
}

.questions-container {
    position: relative;
    min-height: 330px;
    margin-bottom: 20px;
}

.questions {
    width: 100%;
    display: inline-block;
    position: absolute;
    -webkit-transform: translateX(130%);
    -moz-transform: translateX(130%);
    -o-transform: translateX(130%);
    transform: translateX(130%);
    -webkit-transition: all 1.4s ease-in-out;
    -moz-transition: all 1.4s ease-in-out;
    -o-transition: all 1.4s ease-in-out;
    transition: all 1.4s ease-in-out;
}

.questions.current {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
}

.next-q {
    float: right;
}

.prev-q {
    float: left;
    background-color: $mid_grey;
}

.next-q span,
.prev-q span {
    font-size: 1.1rem;
}

.questions .lead-q {
    text-align: center;
    font-size: 1.3rem;
    font-family: 'titillium_websemibold';
}

.jobpg-main .wrapper h1 {
    font-size: 1.2rem;
}

.option-container {
    max-height: 240px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;
    margin: auto;
    max-width: 320px;
}

.option-select {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 3px auto;
    max-width: 300px;
    height: 40px;
    border: 1px solid $mid_grey;
    transition: all 1s ease-in-out;
}

.option-select.selected {
    color: #fff;
    font-weight: bolder;
    background-color: $mid_grey;
}

.option-select span {
    align-self: center;
    float: left;
    width: 10%;
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid $light_grey;
    border-radius: 4px;
}

.option-select .option-dets {
    align-self: center;
    float: right;
    width: 80%;
    text-align: left;
    padding: 5px 10px;
    font-size: .9rem;
}

.classification-options {
    display: none;
}

.thumbnail-container {
    display: inline-block;
    width: 100%;
}

.wrapper .category-picker {
    display: none;
}

.wrapper .category-thumbnail {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    float: left;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: url(/img/honeycomb-b.jpg) repeat;
}

.wrapper .category-thumbnail.unselected::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 96;
    background-color: $light_grey;
    opacity: .5;
}

.wrapper .category-thumbnail span {
    font-size: .9rem;
    color: #fff;
    position: absolute;
    font-family: 'titillium_webregular';
    text-align: center;
    display: block;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: 98;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.questions p.form-error {
    text-align: center;
    margin: 5px auto;
}

.new_user .intro-img img {
    display: block;
    width: 100px;
    height: 100px;
    border: 2px solid $mid_grey;
    border-radius: 50%;
    margin: 5px auto;
}

.contentpg-main .wrapper {
    width: 100%;
    display: inline-block;
}

.dheader {
    background: url(/img/honeycomb-b.jpg) repeat;
    padding-bottom: 3px;
}

.vendor .dashboard-main header {
    background-color: #5fbdc7;
    padding: .5rem 0;
}

.vendor .dashboard-main header a {
    color: #fff;
}

.dheader nav ul li img {
    margin-top: 0;
}

.dheader nav {
    padding-top: .5rem;
    border-bottom: 1px solid $white;
    background: transparent;
}

.dheader .dheader nav {
    line-height: 1;
}

#dashboard {
    background-color: $light_grey;
}

.form-job {
    padding: 15px;
    margin: 0 auto
}

.job-details-left,
.job-details-right {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #eee;
}

.job-details-left {
    margin-top: -2rem;
}

.job-details-right {
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transform: translateY(-110%);
    transform: translateY(-110%);
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out
}

.job-details-right-visible {
    -webkit-transform: none;
    transform: none
}

.job-details-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative
}

.job-details-inner-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 85%;
    height: 100%;
    padding: 30px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow: auto
}

.bid-section-input {
    position: relative;
    border-radius: 3px;
    padding: .7rem 0;
    border: 1px solid #ccc;
    opacity: 0;
    margin: 8px auto!important;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out
}

#message_center .bid-section-input,
#messages-container .bid-section-input {
    opacity: 1!important
}

.bid-section-input .close-mark {
    position: absolute;
    top: 3px;
    right: 5px;
    z-index: 99;
    font-weight: bolder;
    cursor: pointer
}

.bid-section-input .add-mark,
.bid-section-input .edit-mark {
    position: absolute;
    bottom: 50%;
    right: 15px;
    z-index: 99;
    font-weight: bolder;
    cursor: pointer;
    font-size: .75rem;
    padding: 3px 6px;
    -webkit-transform: translateY(50%);
    transform: translateY(50%)
}

.bid-section-input .edit-mark {
    background-color: #a7a7a7!important
}

.bid-section-input .add-mark {
    background-color: #00c1b2!important
}

.bid-section-input input {
    color: rgba(0, 0, 0, .75);
    margin-bottom: 10px;
    font-weight: bolder
}

.bid-section-input .bid-total {
    margin-top: 9px!important;
    font-weight: bolder;
    color: #000
}

.bid-section-title {
    margin-bottom: 10px!important;
    font-size: .9rem!important;
    border-bottom: 1px solid #000
}

.bid-section-title strong {
    font-size: 1.1rem!important
}

.bid-section-container {
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out
}

.classif-desc>p {
    font-size: 1.1rem!important
}

.classif-desc>p:first-of-type {
    font-size: .92rem!important
}

.bid-tnc {
    border-bottom: 1px solid #000;
    margin: 10px auto!important;
    text-align: center
}

.show-bid-btn {
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 99;
    font-weight: bolder;
    cursor: pointer;
    font-size: .95rem;
    padding: 6px 10px;
    min-width: 10%;
    display: none!important;
    background-color: #a7a7a7!important;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.bid-section-total p {
    text-align: right;
    padding-right: 15px;
    font-size: 1.2rem!important;
    border-top: 1px solid #000
}

.detail-description p {
    margin-bottom: 3px!important
}

.avi {
    padding: 10px 14px;
    border-radius: 50%;
    background: #f07d71;
    color: #fff!important;
    font-weight: 600!important;
}

.job-details-left div>img {
    height: 60px;
    width: 60px;
    margin-right: 20px
}

.job-details-left div:first-child,
.job-details-left div:last-child {
    margin-bottom: 30px;
    border: none
}

.job-details-left div p small {
    font-size: .7rem
}

.job-details-left div p span {
    font-size: 1.15rem
}

.job-details-left div {
    padding: 5px 15px;
    border-bottom: 1px solid hsla(0, 7%, 78%, .65)
}

.job-details-left div span {
    font-size: 1rem;
    color: #808285;
    font-weight: 500
}

.job-details-left div h3 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: #808285
}

.job-details-left div h4 {
    font-size: .9rem;
    color: #808285
}

.job-details-left div p {
    color: #797676;
    font-weight: 400
}

.job-details-right {
    border-top: 3px solid #f07d71
}

.job-details-right div:first-child,
.job-details-right div:last-child {
    margin-bottom: 30px
}

.job-details-right div>div img {
    height: 60px;
    width: 60px;
    margin-right: 20px
}

.job-details-right div>.small-3 {
    padding: 0
}

.job-details-right div>div>div h4 {
    font-size: 1rem;
    color: #808285;
    font-weight: 500
}

.job-details-right div>div>div p {
    font-size: .8rem;
    color: #808285;
    margin-bottom: 0
}

.job-details-right form textarea {
    border: 1px solid #808285;
    font-size: .8rem;
    font-weight: bolder
}

.job-details-right form .button {
    background-color: #f07d71!important;
    color: #fff;
    border-radius: 5px;
    padding: .5rem 1.75rem!important;
    margin-top: 1rem;
    border: none!important
}

.job-details-right form .button.add-item {
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
    font-size: .8rem;
    margin: 10px 0 12px!important;
    background-color: #19736c!important
}

.white_background {
    background-color: $white;
}

.circle {
    border-radius: 50%;
}

.progress_outer {
    border: 1px solid #000;
}

.progress {
    width: 20%;
    background: #DEDEDE;
    height: 20px;
}

.doc-container {
    position: relative;
    border: 1px solid #ccc;
    display: inline-block;
    width: 100%;
}

.doc-icon {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 6px auto !important;
}

.doc-icon-container {
    text-align: center;
}

.doc-icon-container i {
    font-size: 65px;
    color: #dcdbdb;
    line-height: .7rem;
}

.progress_text {
    position: absolute;
    color: #1bb2a6;
    font-size: 12px;
    z-index: 99;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.remove-doc {
    font-size: 0.8rem;
    color: #000;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

.doc-name {
    margin-top: 8px;
}

.doc-size {
    font-size: .8rem;
}

.attachment-container {
    display: inline-block;
    width: 100%;
}

.ongoing > .doc-loader {
    display: block;
}

.doc-loader {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.doc-loader > div {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #f9a9a4;
    border-top: 2px solid #EC736C;
    background: transparent;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

.doc-download {
    margin-bottom: 3px;
}

.profile-img-container img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.spinner {
    margin: 0 auto 0;
    width: 170px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #e9048b;
    margin-left: 15px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.sidebar-notifs {
    position: absolute;
    right: 10%;
    top: 35%;
    padding: 0.1rem 0.4rem;
    border-radius: 50%;
    background: #EC736C;
    font-size: 0.6rem !important;
    display: none;
}

.icon-notifs {
    font-family: 'titillium_webregular';
    position: absolute;
    font-size: 0.85rem;
    right: -10px;
    top: 30%;
    padding: 4px 6px;
    border-radius: 50%;
    background: #EC736C;
    color: #fff;
    display: none;
}

#attachment-file {
    font-size: .85rem;
}

.breaker {
    margin-top: 15px;
}

.breaker_bottom {
    margin-bottom: 15px;
}

.right {
    float: right;
}

.show-jobs-section {
    margin-top: -2rem;
    background-color: $white;
    padding: 10px 15px;
    min-height: 500px;
}

.red {
    color: $error !important;
}

.green {
    color: $green !important;
}

ul.jobs-list h5 {
    font-size: 1.1rem;
}

ul.jobs-list h6 {
    font-size: .9rem;
}

ul.jobs-list>li .small-12 {
    border-right: 1px solid rgba(38, 66, 78, 0.5);
    min-height: 89px;
}

.job-date span {
    font-size: .9rem;
}

.job-budget span {
    font-size: .8rem;
}

.job-actions {
    text-align: center;
}

ul.jobs-list>li .small-12:last-child {
    border-right: none;
}

ul.jobs-list>li {
    border: 1px solid rgba(38, 66, 78, 0.5);
    padding: 10px 15px;
}

.pimg img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.msg-avi {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    border-radius: 50%;
    height: 43px;
    width: 43px;
}

.msg-avi span {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.msg-block {
    padding-top: 10px;
    padding-bottom: 10px;
    border: thin solid $light_grey;
    border-bottom: none;
    min-height: 70px;
    border-radius: 8px;
}

.accordion-navigation:last-of-type .msg-block {
    border-bottom: thin solid $light_grey;
    margin-bottom: 10px;
}

.msg-block.unread {
    background-color: rgba(94, 184, 193, 0.23);
}

.homep-intro h2 {
    font-size: 3.2em;
}

.registration-container {
    position: relative;
    width: 600px;
    overflow: hidden;
    height: 600px;
    float: left;
}

.registration-tab {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
    transition: 1s ease-in-out;
}

.registration-tab.visible {
    -webkit-transform: none;
    transform: none;
}

.select2-search input {
    margin: 0;
}

.feat_input {
    padding-top: 18px;
    font-size: .8rem;
}

.select2-selection ul li {
    font-size: .85rem;
}

.join-section {
    position: relative;
}

.join-section p {
    font-size: 1.2rem;
    font-weight: bold;
}

.join-section .join-img {
    width: 100px;
    height: 100px;
    margin: 20px auto;
}

.join-section .section-divider {
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 99;
    transform: translate(50%, -50%);
    background: #fff;
    font-size: .8rem;
    border-radius: 50%;
    border: thin solid #ccc;
    padding: 7px 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.join-section .line-divider::after {
    content: ' ';
    height: 300px;
    border: 1px solid $mid_grey;
    z-index: 95;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.home-slider .card {
    width: 220px;
    margin-right: 20px;
}

.home-slider .card img {
    max-width: 100%;
}

.home-section h5 {
    font-family: dosissemibold;
    margin-bottom: 20px;
}

.home-slider .card h6 {
    color: $dark_blue;
}

.homep-serv ul {
    text-align: center;
}

.mobile-menu-open {
    font-size: 2rem;
    color: $white;
    float: right;
}

.sum-dquotes table tbody {
    position: relative;
}

.quo h6 {
    font-size: .8rem;
    text-align: center;
}

.user-prof p {
    margin-bottom: 5px;
    font-size: .8rem;
}

.user-prof img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.user-prof .stars {
    margin-left: 5px;
}

.user-navs {
    margin: 20px auto;
}

.user-navs .user-nav-block {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 3rem;
    border-bottom: thin solid $light_grey;
    border-right: thin solid $light_grey;
}

.user-navs .user-nav-block:last-child {
    border-right: none;
}

.user-nav-block i {
    color: $light_blue;
}

.gallery-thumb .thumb_name {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: $white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.36), 0 3px 6px rgba(0, 0, 0, 0.33);
}

.gallery-thumb .image_count {
    position: absolute;
    right: 6px;
    bottom: 6px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.36), 0 3px 6px rgba(0, 0, 0, 0.33);
}

.gallery-thumb .gallery_edit {
    position: absolute;
    bottom: 6px;
    left: 6px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.36), 0 3px 6px rgba(0, 0, 0, 0.33);
}

.gallery-thumb .gallery_delete {
    position: absolute;
    top: 6px;
    right: 6px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.36), 0 3px 6px rgba(0, 0, 0, 0.33);
}

.gallery-thumb img {
    width: 240px;
}

.gallery-thumb {
    width: 240px;
    position: relative;
    color: #fff;
    padding: 0;
    margin: 5px;
    float: left;
    display: block;
}

.gallery-thumb a {
    color: $white;
}

.edit-tabs .content {
    padding: 30px 20px;
    display: none;
    width: 100%;
}

.edit-tabs .content.active {
    display: inline-block;
}

.edit-tabs .content img {
    width: 80px;
    height: 80px;
    padding: 0;
}

.stats-section h5 {
    border-bottom: 1px solid $mid_grey;
    padding-bottom: 5px;
}

.profile-dets {
    margin-bottom: 15px;
}

.profile-dets img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.profile-dets input {
    width: 200px;
    font-size: .75rem;
}

.sum-dstats a {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.shop-home-products {
    margin: 10px auto;
}

.shop-home-products .mainft {
    position: relative;
    min-height: 250px;
    margin: 15px auto;
}

.shop-home-products .mainft > img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 98;
    object-fit: cover;
    height: 100%;
}

.shop-home-products .mainft > .wrap {
    position: relative;
    margin-left: 2rem;
    width: 36%;
    z-index: 99;
}

.shop-home-products .mainft h2 {
    color: #fff!important;
    line-height: 1.1;
    padding-top: 1rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .7);
}

ul.shop-items li img,
.browse-vendors ul li img {
    transition: all .1s ease-in-out;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}

ul.shop-items li {
    width: 28%;
    float: left;
    margin-right: 4%;
    margin-bottom: 1rem;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .32);
    transition: all .2s ease-in;
}

ul.shop-items li h4 {
    color: $mid_grey;
    font-size: 1rem;
    margin-bottom: 2px;
    transition: all .2s ease-in;
    height: 22px;
    overflow: hidden;
}

ul.shop-items li:hover h4 {
    color: $error;
}

ul.shop-items li .wrap {
    padding: 5px 8px;
    border-bottom: 2px solid transparent;
}

ul.shop-items li:hover .wrap {
    border-bottom: 2px solid $error;
}

.item-price .strike {
    font-size: 1rem;
}

.dropdown.menu>li.opens-right>.is-dropdown-submenu {
    z-index: 999;
}

.shop-category-dropdown a {
    color: $white;
}

.shop-category-dropdown .sub-item a {
    color: $mid_grey;
}

.lightslider .slick-slide img {
    max-width: 700px;
}

.lightslider button.slick-next.slick-arrow:before {
    top: 40%;
}

.lightslider button.slick-prev.slick-arrow:before {
    top: 100px;
}

.shopping-cart-title h2,
.shop-item h2 {
    font-size: 1.8rem;
    margin-top: 10px;
}

.show-cart {
    position: absolute;
    top: 22px;
    display: none;
}

.show-cart .shopping-cart {
    font-size: 1.7rem;
    color: #fff;
}

.show-cart .cart-count {
    position: absolute;
    left: 19px;
    bottom: 19px;
    background-color: #f04848;
    border: 1px solid #ccc;
}

.bookmark-form button {
    float: right;
    color: $green;
    cursor: pointer;
}

.msg-block a {
    color: $mid_grey;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 40em) {
    .shop-home-products .mainft {
        min-height: 280px;
    }
    ul.shop-items li:first-of-type,
    ul.shop-items li:nth-of-type(3n+1) {
        clear: both;
        margin-left: 4%;
    }
    .mobile-nav {
        display: none;
    }
    button.slick-next.slick-arrow {
        right: -3rem;
        background-color: transparent;
    }
    .vendr-claim {
        text-align: right;
    }
    section.vendor-map {
        margin-right: 25px;
    }
    .catpg-list .vendors > li,
    .venues > li {
        width: 32%;
        margin-right: 2%;
    }
    .catpg-list .vendors > li:nth-of-type(3n),
    .venues > li:nth-of-type(3n) {
        margin-right: 0;
    }
    .catpg-list .vendors > li:nth-of-type(3n+1),
    .venues > li:nth-of-type(3n+1) {
        clear: both;
    }
}

@media screen and (max-width: 40em) {
    .lightslider .slick-slide img {
        max-width: 400px;
    }
    .sub-prd .imgwrap img {
        padding-top: 1.8rem;
    }
    .shop-home-products .mainft h2 {
        padding-top: 3rem;
    }
    ul.shop-items li {
        width: 100%;
        margin-right: 0;
    }
    .shop-home-products .mainft > .wrap {
        margin: auto;
        width: 100%;
        text-align: center;
    }
    .gallery-thumb img {
        width: 140px;
    }
    .gallery-thumb {
        width: 140px;
    }
    .user-navs .user-nav-block:nth-of-type(2n) {
        border-right: none;
    }
    .user-prof img {
        width: 100px;
        height: 100px;
    }
    ul.jobs-list>li .small-12 {
        border-right: none;
    }
    ul.sum-dstats li h2 {
        font-family: titillium_webbold;
        font-size: 1.1em;
    }
    .mobile-nav {
        position: fixed;
        height: 100%;
        width: 70%;
        z-index: 999;
        top: 0;
        left: 0;
        background-color: $white;
        padding: 30px 20px 8px;
        -webkit-transform: translateX(-150%);
        transform: translateX(-150%);
        transition: 1s ease-in-out;
    }
    .mobile-nav-back {
        background-color: $mid_grey;
        opacity: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 995;
        top: 0;
        right: 0;
        -webkit-transform: translateX(-150%);
        transform: translateX(-150%);
        transition: opacity 1.3s ease-in-out;
    }
    .mobile-nav.opened {
        -webkit-transform: none;
        transform: none
    }
    .mobile-nav-back.opened {
        transform: none;
        opacity: .4;
    }
    .mobile-nav .menu-close {
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .mobile-nav input.search-input {
        color: #000;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid $light_blue;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        -ms-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
    }
    .mobile-nav input.search-input::-webkit-input-placeholder {
        color: $mid_grey;
    }
    .mobile-nav input.search-input:-moz-placeholder {
        /* Firefox 18- */
        color: $mid_grey;
    }
    .mobile-nav input.search-input::-moz-placeholder {
        /* Firefox 19+ */
        color: $mid_grey;
    }
    .mobile-nav input.search-input:-ms-input-placeholder {
        /* IE 10+ */
        color: $mid_grey;
    }
    .mobile-nav input.search-input::-ms-input-placeholder {
        /* Edge */
        color: $mid_grey;
    }
    .mobile-nav input.search-input:placeholder-shown {
        /* Standard one last! */
        color: $mid_grey;
    }
    .mobile-nav img {
        width: 100px;
        height: 100px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .mobile-nav ul {
        margin-top: 15px;
    }
    .mobile-nav li {
        border-bottom: 1px solid #ccc;
        margin-bottom: 8px;
    }
    .mobile-nav form.search-form {
        margin-top: 20px;
    }
    .home-slider .card {
        width: 160px;
        margin-right: 8px;
    }
    .vendor-section {
        border-bottom: 1px solid $mid_grey;
    }
    .job-details-inner-container {
        padding: 0;
    }
    .dheader {
        padding-top: .5rem;
    }
    .wrapper .category-thumbnail {
        width: 100px;
        height: 100px;
    }
    .slick-slide img {
        max-width: 300px;
    }
    .homep-intro h2 {
        font-size: 2.5em;
    }
    input.search-input,
    input.search-input:focus {
        margin-bottom: 10px;
    }
    .vendorpg-act .button {
        margin-left: 0;
        margin-right: 10px;
        max-width: 43%
    }
    section.stats ul li {
        display: inline-block;
        width: 100%;
        margin-bottom: 2rem;
    }
    section.stats {
        border-top: none;
    }
}
