.job-details-right div:first-child, .job-details-right div:last-child {
        margin-bottom: 0;
}
.bid-details{
    margin-top:1rem;
}

div.sub-classifs > div > ul.thumbnails.image_picker_selector, div.sub-classifs > div > ul.thumbnails.image_picker_selector{
    width: 100%;
    height: inherit;
    overflow-x: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

}
div.sub-classifs > div > ul.thumbnails.image_picker_selector li, div.sub-classifs > div > ul.thumbnails.image_picker_selector li   {
    width: auto !important;
    float: none;
    display: inline-block;
    color: #fff;
} 

div.sub-classifs  > div > ul.thumbnails.image_picker_selector li .thumbnail.selected{
    background: none;
    background-color: RGBA(244, 66, 54, 0.52);
}
div.sub-classifs  > div > ul.thumbnails.image_picker_selector li p , div.sub-classifs > div > ul.thumbnails.image_picker_selector li p  {
    margin: 0;
    width: 100%;
    word-wrap: normal;
    text-align: center;
    font-size: 0.7rem;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: normal;
    color: #fff;
    font-weight: bold;
    text-shadow: 0px 1px 1px #000;

}
div.sub-classifs  > div > ul.thumbnails.image_picker_selector li div.thumbnail, div.sub-classifs > div >  ul.thumbnails.image_picker_selector li div.thumbnail  {
    width: 100px;
    height: 100px;
    border: none;
    vertical-align: middle;
    display: table-cell;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
div.sub-classifs  > div > ul.thumbnails.image_picker_selector li div.thumbnail:hover, div.sub-classifs > div >  ul.thumbnails.image_picker_selector li div.thumbnail:hover  {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
div.sub-classifs  > div > ul.thumbnails.image_picker_selector li div.thumbnail{
    background-color: #F44236;
}
div.sub-classifs  > div > ul.thumbnails.image_picker_selector li img, div.sub-classifs > div > ul.thumbnails.image_picker_selector li img  {
    display: none;
}
div.classif-desc > p{
    margin-bottom: 8px !important;
}
.sub-sub-classifs{
    display: none;
}

div.sub-sub-classifs >  ul.thumbnails.image_picker_selector > li > div.thumbnail  {
    background-color: #E91F63;
}
div.sub-sub-classifs:nth-of-type(2) >  ul.thumbnails.image_picker_selector > li > div.thumbnail  {
    background-color: #9C28B0;
}

div.sub-sub-classifs:nth-of-type(3) >  ul.thumbnails.image_picker_selector > li > div.thumbnail  {
    background-color: #3F51B5;
}
div.sub-sub-classifs:nth-of-type(4) >  ul.thumbnails.image_picker_selector > li > div.thumbnail  {
    background-color: #2197F4;
}
div.sub-sub-classifs > ul.thumbnails.image_picker_selector > li > .thumbnail.selected{
    background: none;
    background-color: RGBA(233, 31, 99, 0.52);
    -webkit-animation: AnimationName 23s ease infinite;
-moz-animation: AnimationName 23s ease infinite;
-o-animation: AnimationName 23s ease infinite;
animation: AnimationName 23s ease infinite;
}
div.sub-sub-classifs:nth-of-type(2) > ul.thumbnails.image_picker_selector > li > .thumbnail.selected{
    background: none;
    background-color: RGBA(156, 40, 176, 0.52);
}
div.sub-sub-classifs:nth-of-type(3) > ul.thumbnails.image_picker_selector > li > .thumbnail.selected{
    background: none;
    background-color: RGBA(63, 81, 181, 0.52);
}
div.sub-sub-classifs:nth-of-type(4) > ul.thumbnails.image_picker_selector > li > .thumbnail.selected{
    background: none;
    background-color: RGBA(33, 151, 244, 0.52);
}

div.bid-classifs> ul.thumbnails.image_picker_selector {
    width: auto;
}
div.sub-classifs > ul.thumbnails.image_picker_selector::-webkit-scrollbar, div.sub-classifs > div > ul.thumbnails.image_picker_selector::-webkit-scrollbar { width: 0 !important }
.job-stats{
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #808285;
    margin-bottom: 25px !important;
    background: #fff;
    background-color: white;
    padding: 12px;
    border-bottom:2px solid RGBA(63, 81, 181, 0.52);
}
.job-stats > div{
    border-right: 1px solid #ccc;
    display: inline-block;
    height: 100%;
    min-height: 70px;
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@media (min-width: 40.063em){
    div.sub-classifs > ul.thumbnails.image_picker_selector {
        width: 720px;
    }
    div.bid-classifs> ul.thumbnails.image_picker_selector {
    width: auto;
    }
}