@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot?-9heso');
    src: url('../fonts/icomoon/icomoon.eot?#iefix-9heso') format('embedded-opentype'), url('../fonts/icomoon/icomoon.woff?-9heso') format('woff'), url('../fonts/icomoon/icomoon.ttf?-9heso') format('truetype'), url('../fonts/icomoon/icomoon.svg?-9heso#icomoon') format('svg');
}

.nav-wrap {
    width: 100%;
    margin: 8px auto;
    padding: 5px 10px;
    text-align: center;
}

.nav-wrap button {
    background-color: #FF334D;
    border: 1px solid #FF334D;
    border-radius: 5px;
}

.alert-box.warning {
    margin: 5px auto;
    color: red;
    font-size: 0.8rem;
}

.simform {
    position: relative;
    width: 100%;
    text-align: left;
    font-size: 2.5em;
}

.simform-inner {
    margin: 0 auto;
    padding: 0.1em 0;
    max-width: 860px;
}

.simform .submit {
    display: none;
}


/* Question list style */

.simform ol {
    margin: 0;
    padding: 0 1em 1em 1em;
    list-style: none;
    position: relative;
    -webkit-transition: height 0.6s;
    transition: height 0.6s;
}

.simform-dets {
    padding: 0 1rem;
}


/*.simform ol:before {
	content: '';
	background-color: rgba(0,0,0,0.1);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2.35em;
}*/

.combodate {
    margin: 0.3em 0;
}

.questions h1 {
    font-size: 1.3rem;
}

.questions > li {
    z-index: 1;
    position: relative;
    /*visibility: hidden;*/
    display: none;
    /*height: 0;*/
    -webkit-transition: visibility 0s 0.4s, height 0s 0.4s;
    transition: visibility 0s 0.4s, height 0s 0.4s;
}

.questions > li.current,
.no-js .questions > li {
    /*visibility: visible;*/
    height: auto;
    display: block;
    -webkit-transition: none;
    transition: none;
    padding-bottom: 70px;
}


/* Labels */

.questions li > span {
    display: block;
    overflow: hidden;
}

.questions li > span label {
    display: block;
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.questions li.current > span label,
.no-js .questions li > span label {
    -webkit-transition: none;
    transition: none;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.show-next .questions li.current > span label {
    -webkit-animation: moveUpFromDown 0.4s both;
    animation: moveUpFromDown 0.4s both;
}

@-webkit-keyframes moveUpFromDown {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0);
    }
}

@keyframes moveUpFromDown {
    from {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


/* Input field */

.questions input,
.questions select {
    /*display: block;*/
    margin: 0.3em 0;
    padding: 0.5em 1em 0.5em 0.7em;
    width: calc(100% - 2em);
    border: none;
    border-bottom: 1px solid #BDB9B9;
    background: transparent;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    line-height: 1;
    ;
    -webkit-transition: all .2s;
    -moz-transition: all 2s;
    transition: all .2s;
}

.questions textarea {
    border: 1px solid #BDB9B9;
    background: transparent;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    line-height: 1;
    margin: 1em 0;
    -webkit-transition: all .5s;
    -moz-transition: all 5s;
    transition: all .5s;
}

.questions input:focus,
.questions select:focus,
.questions textarea:focus {
    border-color: #00A89B!important
}

.questions .current input,
.no-js .questions input {
    opacity: 1;
}

.questions input:focus,
.simform button:focus {
    outline: none;
}


/* Next question button */

.next {
    float: right;
    display: inline-block;
    padding: 0.3rem;
    margin-right: 2rem;
    width: 2em;
    height: 2em;
    border: none;
    background: transparent !important;
    color: #fff;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
    /* pointer-events: none; */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.next:hover {
    color: rgba(0, 0, 0, 0.5);
}

.next::after {
    color: rgba(0, 0, 0, 0.4);
    padding: 0.1rem;
    position: absolute;
    top: 0;
    left: 120%;
    width: 100%;
    height: 100%;
    content: "\e600";
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'icomoon';
    line-height: 2;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.prev:hover {
    color: rgba(0, 0, 0, 0.5);
}

.prev {
    display: inline-block;
    padding: 0.3rem;
    margin-left: 2rem;
    width: 2em;
    height: 2em;
    border: none;
    background: transparent !important;
    color: #fff;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
    /* pointer-events: none; */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.prev::after {
    color: rgba(0, 0, 0, 0.4);
    padding: 0.1rem;
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    content: "\e600";
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'icomoon';
    line-height: 2;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: rotate(180deg);
    /* Chrome and other webkit browsers */
    -moz-transform: rotate(180deg);
    /* FF */
    -o-transform: rotate(180deg);
    /* Opera */
    -ms-transform: rotate(180deg);
    /* IE9 */
    transform: rotate(180deg);
}

.next.show {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    pointer-events: auto;
}


/* Progress bar */

.simform .progress {
    position: absolute;
    bottom: 2px;
    width: 0%;
    height: 0.3rem;
    background: #fff;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.simform .progress::before {
    position: absolute;
    bottom: 2px;
    width: 100%;
    height: inherit;
    background: rgba(0, 0, 0, 0.05);
    content: '';
}


/* Number indicator */

.simform .number {
    position: fixed;
    right: 0;
    top: 30px;
    overflow: hidden;
    margin: 0.4em 0;
    width: 30%;
    font-weight: 700;
    font-size: 1rem;
}

.simform .number:after {
    position: absolute;
    left: 50%;
    content: '/';
    opacity: 0.4;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.simform .number span {
    float: right;
    width: 40%;
    text-align: center;
}

.simform .number .number-current {
    float: left;
}

.simform .number-next {
    position: absolute;
    left: 0;
}

.simform.show-next .number-current {
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.simform.show-next .number-next {
    -webkit-animation: moveUpFromDown 0.4s both;
    animation: moveUpFromDown 0.4s both;
}


/* Error and final message */

.simform .error-message,
.simform .final-message {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.simform .error-message {
    padding: 0.4em 3.5em 0 0;
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
    font-style: italic;
    font-size: 0.4em;
}

.final-message {
    top: 50%;
    left: 0;
    padding: 0.5em;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.error-message.show,
.final-message.show {
    visibility: visible;
    opacity: 1;
}

.final-message.show {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}


/* Final hiding of form / showing message */

.simform-inner.hide {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
    transition: opacity 0.3s, visibility 0s 0.3s;
}


/* No JS Fallback */

.no-js .simform {
    font-size: 1.75em;
}

.no-js .questions li {
    padding: 0 0 2em;
}

.no-js .simform .submit {
    display: block;
    float: right;
    padding: 10px 20px;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.4);
}

.no-js .simform .controls {
    display: none;
}

.fullscreen-text {
    padding: 20px !important;
    padding-top: 30px !important;
    border: none !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    height: 100% !important;
    width: 100% !important;
    outline: none !important;
    margin: 0 auto !important;
    display: block !important;
    font-size: 20px !important;
    box-shadow: none !important;
    resize: none !important;
    line-height: 1.6em !important;
    background-color: #fff !important;
    position: fixed;
    top: 0;
    right: 0;
}

.fullscreen-text-controlPanel {
    position: fixed;
    right: 15px;
    top: 0;
    padding-top: 30px;
    padding-right: 20px;
    z-index: 99;
    display: none;
}

.fullscreen-text-controls.close {
    position: absolute;
    width: 23px;
    height: 23px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url("/assets/img/cancel.svg");
}

.intro-img {
    margin: 10px auto;
}

.intro-img img {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
}

.fs-title {
    color: #F28F85;
    font-size: 1.15rem;
}

.fs-desc {
    font-size: 1rem;
}

.fs-desc i {
    font-size: 1.2rem;
}

.green {
    color: #0288D1;
}

.row {
    width: 100%;
    padding: 0.6rem;
}


/* Remove IE clear cross */

input[type=text]::-ms-clear {
    display: none;
}


/* Adjust form for smaller screens */

@media screen and (max-width: 44.75em) {
    .simform {
        font-size: 1.8em;
    }
    ul.thumbnails.image_picker_selector li {
        width: 100% !important;
    }
}

@media screen and (max-width: 33.5625em) {
    .simform {
        font-size: 1.2em;
    }
}

@media (min-width:40.063em) {
    .simform {
        font-size: 1.5em;
    }
    /*    .questions input, .questions select {
    	width: 30%;
    }*/
    .simform .number {
        width: 8%;
    }
    .simform ol {
        padding: 0 1em 2.5em 1em;
    }
    label {
        font-size: 1rem;
    }
    .desc {
        float: left;
        padding: 0.5rem;
        display: inline-block;
        vertical-align: middle;
        text-align: right;
    }
    .det {
        width: 50%;
        float: left;
        padding: 0.5rem;
        display: inline-block;
        vertical-align: middle;
    }
    .desc >span {
        margin: 0.3em 0;
        padding: 0.5em 1em 0.5em 0.7em;
        font-size: 1rem;
    }
    .desc > span > p {
        margin: 0.3em 0;
        padding: 0.5em 1em 0.5em 0.7em;
    }
    .det >label {
        margin: 0.3em 0;
        padding: 0.5em 1em 0.5em 0.7em;
        font-size: 1rem;
    }
    .det >span > input,
    .det >span > select {
        margin: 0;
        padding: 0.1rem 0.4rem;
    }
    .row-8 {
        width: 80%;
        float: left;
    }
    .combodate > select {
        margin: 0;
        font-size: 0.8rem;
    }
    .classification > .classification-desc {
        padding: 0.5rem;
        float: left;
        width: 100%;
    }
    .classification > .classification-desc > p {
        text-align: center;
        font-size: 1rem;
    }
    .prev {
        margin-left: 12rem;
    }
    .next {
        margin-right: 12rem;
    }
}
