#messages-container {
    padding: 10px 0;
    margin-top: -1rem;
}

#messages-container-data {
    margin-top: 10px;
}

#messages-container ul.messages {
    font-size: 12px;
    background: white;
    border-top: 1px solid 1px solid rgba(204, 204, 204, 0.5);
    margin-bottom: 1rem;
}

#messages-container ul.messages li {
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    border-left: 1px solid rgba(204, 204, 204, 0.5);
    border-right: 1px solid rgba(204, 204, 204, 0.5);
    overflow: hidden;
    box-shadow: 2px 0px 0px rgba(204, 204, 204, 0.2);
}


#messages-container ul.messages li a {
    display: block;
    line-height: 20px;
    padding: 10px 0 0;
    position: relative;
    font-size: 100% !important;
}
#messages-container ul.messages li > .msg-block {
    background: white ;
}

#messages-container ul.messages li.unread > div.msg-block {
    background: rgba(236, 115, 108, 0.26) ;
    
}
.msg-block{
    padding: 12px 10px 5px 10px;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
#messages-container ul.messages li .msg-block:hover,
#messages-container ul.messages li .msg-block:active,
#messages-container ul.messages li .msg-block:focus {
    background: rgba(243, 243, 243, .85) !important;
}
#messages-container ul.messages li a .avi {
    line-height: 38px;
    height: 36px;
    width: 36px;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 1rem;
    margin-top: -10px;
    margin-bottom: 14px;
}
#message_center h5 {
    font-family: 'clear_sansregular' !important;
    float: left;
    color: #B36159;
    margin-top: 1rem;
}
input.submit-btn.button.tiny.right {
    margin-top:1rem;
    background-color: #f07d71 !important;
}
input.submit-btn.button.tiny.right:hover {
    background-color: #DC364B !important;
}

@media only screen and (max-width: 40.0625em) {
#messages-container ul.messages li a .avi {
    margin-top: 0;
}


}
@media screen and (max-width: 52.5em) {
    input.submit-btn.button.tiny.right {
        width: 100%;
    }
}