@font-face {
    font-family: 'clear_sansmedium';
    src: url('../fonts/medium/ClearSans-Medium-webfont.eot');
    src: url('../fonts/medium/ClearSans-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/medium/ClearSans-Medium-webfont.woff') format('woff'),
         url('../fonts/medium/ClearSans-Medium-webfont.ttf') format('truetype'),
         url('../fonts/medium/ClearSans-Medium-webfont.svg#clear_sans_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.text-wrap {
    position: relative;
    z-index: 1;
}
ul.credits li h3 {
    border-bottom: none;
    color: #6C7A82;
}
ul.credits {
    margin-left: 0;
    list-style-type: none;
    margin-top: 6rem;
}
ul.credits li {
    width: 31%;
    float: left;
    margin-right: 2%;
    position: relative;
    text-align: center;
    color: #6C7A82;
}
ul.credits li:first-child {
    margin-left: 1.3%;
}
ul.credits li:last-child {
    margin-right: 0;
}
ul.credits li hr {
    width: 40%;
    margin: 0.5rem auto;
}
.credits a.button {
    /*font-family: 'clear_sansmedium';*/
    display: block;
    margin: 1rem auto 0;
    background-color: #00D8BA !important;
    width: 11rem;
    padding: 0.5rem 1rem;
    border: thin solid transparent !important;
}
.credits a.button:hover {
    background-color: #FFF !important;
    color: #00D8BA !important;
    border-color: #00D8BA !important;
}
.credits li:nth-child(2) a.button:hover {
    background-color: transparent !important;
    color: #FFF !important;
    border-color: #FFF !important;
}
.credits span.rcard,
.credits span.lcard,
.credits span.mcard {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: 0;
    background-color: #FFF;
}
.credits li:nth-child(2),
.credits li:nth-child(2) h5 {
    color: #FFF !important;
}
.credits li:nth-child(2) hr {
    border-color: #FFF;
}
.credits li:nth-child(2) span.rcard,
.credits li:nth-child(2) span.lcard,
.credits li:nth-child(2) span.mcard {
    background-color: #FF6500;
}
.credits span.rcard {
    transform: rotate(60deg);
}
.credits span.lcard {
    transform: rotate(-60deg);
}
.credits .text-wrap h3 {
    margin-top: -3rem;
    font-size: 1.4rem;
    margin-bottom: -1rem;
}
.credits .text-wrap h5 {
    font-size: 1.2rem;
    margin-bottom: 2px;
    color: #FF6500;
}
.credits .text-wrap h6 {
    font-size: 0.9rem;
    margin: 3px;
    font-family: 'clear_sansmedium' !important;
    color: #6C7A82;
}
.credits li:nth-child(2) .text-wrap h3, 
.credits li:nth-child(2) .text-wrap h6 {
    color: #FFF !important
}
span.credits-icon {
    background: url(../../img/dashboard/credits-icon.png) 0px 0px no-repeat;
    background-size: 100%;
    display: block;
    width: 4rem;
    height: 5rem;
    margin: auto;
}
section.credits-header {
    color: #586E77;
    padding: 1rem 0 2rem;
}
.credits-header h2 {
    font-family: 'clear_sansmedium' !important;
    font-size: 1.9rem;
    text-align: center;
}
.credits-header h6 {
    font-family: 'clear_sansmedium' !important;
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
}
.credits-header h6:after {
    content: "";
    width: 60%;
    border-bottom: 1px solid #00D8BA;
    position: absolute;
    bottom: -1rem;
    right: 20%;
}
.credits-header p {
    width: 77%;
    text-align: center;
    font-size: 0.9rem;
    margin: 0 auto;
}
section.credits-list {
    padding: 1.5rem 0 1rem;
    position: relative;
    height: calc(400px + 2rem);
}
section.credits-list:before {
    content: "";
    width: calc(100% + 2rem);
    background-color: #E9ECED;
    position: absolute;
    top: 0;
    height: 100%;
    left: -1rem;
}
.faqs {
    padding: 2rem 0;
}
.faqs h3 {
    font-family: 'clear_sansmedium' !important;
    text-align: center;
    font-size: 2rem;
    position: relative;
    border-bottom: none;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.faqs h3:after {
    content: "";
    width: 20%;
    border-bottom: 1px solid #00D8BA;
    position: absolute;
    bottom: 0rem;
    right: 39.5%;
}
.credit-columns {
    margin-top: 2rem;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
}
.credit-columns ul li {
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.credit-columns ul li h5 {
    font-family: 'clear_sansmedium' !important;
}
.credit-columns ul li p {
    font-size: 0.9rem;
    color: #586E77;
}
.credit-columns ul li:after {
    content: "";
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 30%;
    border-bottom: 2px solid rgba(255, 51, 77, 0.9);
}
.credit-columns ul li:nth-child(3):after,
.credit-columns ul li:last-child:after {
    display: none;
}
.credit-columns ul li:last-child {
    margin-bottom: 8rem;
}

@media screen and (max-width: 75em) {
ul.credits {
    margin-top: 2rem;
}
ul.credits li {
    /*width: 100%;*/
    margin: 0 0 2rem;
    background-color: #FFF;
    padding-bottom: 2rem;
    border-radius: 5px;
}
.credits li:nth-child(2) {
    background-color: #FF6500;
}
.credits .text-wrap h3 {
    margin-top: 2rem;
}
span.backgrounds.wrap {
    display: none;
}
}

@media screen and (max-width: 40em) {
ul.credits li {
    width: 100%;
}
.credit-columns {
    margin-top: 2rem;
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
}
section.credits-list {
    padding: 1rem 0;
}
.credit-columns ul li:nth-child(2n):after {
    display: initial;
}
.credit-columns ul li:last-child:after {
    display: none;
}
.credit-columns ul li:last-child {
    margin-bottom: 1rem;
}

}