.dashboard {
    overflow-x: hidden;
    background-color: #0E2D3B !important;
}

.dashboard button,
.dashboard .button {
    background: #F57E71;
}

/**
 Left navigation
**/

.dashboard ul.left-navigation {
    text-align: center;

    color: #EBEEEE;
    padding: 15px 0 15px 0;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.dashboard ul.left-navigation .nav-vcard-container {
    border-bottom: 2px solid #F57E71;
}

.dashboard ul.left-navigation .nav-vcard-container .vcard {
    border: none;
}

.dashboard ul.left-navigation li a {
    border-bottom: 1px solid #173848;
    color: #EBEEEE !important;
    background: transparent;
}

.dashboard ul.left-navigation .tabs dd.active > li,
.tabs .tab-title.active > li,
.dashboard ul.left-navigation li:hover,
.dashboard ul.left-navigation li:active,
.dashboard ul.left-navigation li:focus {
    background-color: #0B2531;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}

/***
    Main content
**/

.dashboard .main-content {
    background-color: #F1F2F2;
    display: flex;
    flex-flow: column;
    height: 100%;
    min-height: 500px;
    width: 80%;
}

.dashboard-main-icons-container {
    margin-top: 10px;
    overflow-x: hidden;
}

.dashboard-main-icons-container ul {
    border-top: 1px solid #F28F85;
}

.dashboard-main-icons-container ul li {
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    /*line-height: 90px;*/
    overflow: hidden;
}

.dashboard-main-icons-container ul li a {
    position: relative;
    color: #F28F85;
    background: #FFF;
    width: 100%;
    display: block;
    height: 100%;
    border: 1px solid transparent;
    border-bottom: 1px solid #F28F85;
    border-left: 1px solid #F28F85;
    transition: background 350ms ease-in-out;
}

.dashboard-main-icons-container ul li:nth-child(3n+3) {
    border-right: 1px solid #F28F85;
}

.dashboard-main-icons-container ul li a:hover,
.dashboard-main-icons-container ul li a:active,
.dashboard-main-icons-container ul li a:focus {
    background: #F28F85;
    color: #fff;
}

/*.dashboard-main-icons-container ul li a i {
    font-size: 100px;

}*/

.dashboard-main-icons-container ul li a i span.counter {
    position: absolute;
    top: 26%;
    right: -1rem;
    background: #000;
    border: 1px solid #000;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    line-height: 2.05;
    z-index: 1;
    width: 30px;
    height: 30px;
    font-size: 0.9rem;
    font-family: clear_sansregular;
}

/**
    Tabs within the content
**/
.dashboard .tabs.inner-content-tabs,
.dashboard ul.tabs.inner-content-tabs {
    background-color: #808285;
    position: relative;
    overflow: visible;
    list-style: none;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.dashboard .tabs.inner-content-tabs > .tab-title,
.dashboard .tabs.inner-content-tabs > li {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.dashboard .tabs.inner-content-tabs a {
    background: none;
    border-right: 1px solid #fff;
    background-color: #808285;
    color: #fff;
    border-bottom: 2px solid #808285;
    box-shadow: 0 2px 0 #808285;
}

.dashboard .tabs.inner-content-tabs a:hover,
.dashboard .tabs.inner-content-tabs a:active,
.dashboard .tabs.inner-content-tabs a:focus,
.dashboard .tabs.inner-content-tabs .active a {
    box-shadow: 0 2px 0 #F28F85;
    border-bottom: 2px solid #F28F85;
}

.dashboard .tabs-content.inner-content-tabs {

}

.dashboard #stats-iframe {
    height: 100%;
    min-height: 830px;
    border: none;
}


.controls {
    display: inline-block !important;
    position: relative !important;
}
@media (max-width: 640px) {
    .dashboard ul.left-navigation,
    .dashboard .main-content {
        width: 100% !important;
    }

    .dashboard-main-icons-container ul li a span.counter {
        right: 10%;
    }
}

