@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'codropsicons';
    src: url('../fonts/codropsicons/codropsicons.eot');
    src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'), url('../fonts/codropsicons/codropsicons.woff') format('woff'), url('../fonts/codropsicons/codropsicons.ttf') format('truetype'), url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

@font-face {
    font-family: clear_sansregular;
    src: url(../fonts/regular/ClearSans-Regular-webfont.eot);
    src: url(../fonts/regular/ClearSans-Regular-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/regular/ClearSans-Regular-webfont.woff) format('woff'), url(../fonts/regular/ClearSans-Regular-webfont.ttf) format('truetype'), url(../fonts/regular/ClearSans-Regular-webfont.svg#clear_sansregular) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: clear_sansbold;
    src: url(../fonts/bold/ClearSans-Bold-webfont.eot);
    src: url(../fonts/bold/ClearSans-Bold-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/bold/ClearSans-Bold-webfont.woff) format('woff'), url(../fonts/bold/ClearSans-Bold-webfont.ttf) format('truetype'), url(../fonts/bold/ClearSans-Bold-webfont.svg#clear_sansbold) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: clear_sans_mediumregular;
    src: url(../fonts/medium/ClearSans-Medium-webfont.eot);
    src: url(../fonts/medium/ClearSans-Medium-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/medium/ClearSans-Medium-webfont.woff) format('woff'), url(../fonts/medium/ClearSans-Medium-webfont.ttf) format('truetype'), url(../fonts/medium/ClearSans-Medium-webfont.svg#clear_sans_mediumregular) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: clear_sanslight;
    src: url(../fonts/light/ClearSans-Light-webfont.eot);
    src: url(../fonts/light/ClearSans-Light-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/light/ClearSans-Light-webfont.woff) format('woff'), url(../fonts/light/ClearSans-Light-webfont.ttf) format('truetype'), url(../fonts/light/ClearSans-Light-webfont.svg#clear_sansregular) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: clear_sans_thinregular;
    src: url(../fonts/thin/ClearSans-Thin-webfont.eot);
    src: url(../fonts/thin/ClearSans-Thin-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/thin/ClearSans-Thin-webfont.woff) format('woff'), url(../fonts/thin/ClearSans-Thin-webfont.ttf) format('truetype'), url(../fonts/thin/ClearSans-Thin-webfont.svg#clear_sans_thinregular) format('svg');
    font-weight: 400;
    font-style: normal
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes pulse {
    50% {
        background: white;
    }
}

@keyframes pulse {
    50% {
        background: white;
    }
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.h1,
.h2,
.h3,
.h4,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: clear_sansregular!important
}

body {
    background: #eee;
    color: rgba(0, 0, 0, 0.45);
    font-size: 100%;
    line-height: 1.25;
}

a {
    color: rgba(0, 0, 0, 0.25);
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus {
    color: rgba(0, 0, 0, 0.6);
}

label {
    display: block;
}

.planning-slide {
    text-align: center;
    margin-top: 150px;
}

.start-slide {
    pointer-events: none;
    z-index: 150;
}

.start-slide--visible {
    pointer-events: auto;
}

.budget-enquiry {
    text-align: center;
    background-color: #eee;
    position: absolute;
    width: 100%;
    height: 100%;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5); */
    -webkit-transform: none;
    transform: none;
    display: flex;
    flex-direction: column;
    will-change: transform;
    z-index: 160;
    pointer-events: auto;
    transition: all .5s ease-in !important;
}

.start-slide--visible .budget-enquiry {
    -webkit-transform: translateY(-103%);
    transform: translateY(-103%);
}


/*.start-slide--animatable .budget-enquiry {
    transition: all 7s ease-in;
}

.start-slide--visible.start-slide--animatable  .budget-enquiry {
    transition: all 7s ease-out;
}*/


/*.sub-classifs:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    will-change: opacity;
    pointer-events: none;
    transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
}

.sub-classifs--visible.sub-classifs:after {
    opacity: 1;
    pointer-events: auto;
}*/

.budget-inner {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

@-webkit-keyframes bounceInUp {
    0% {
        transform: translateY(-30px);
    }
    20% {
        transform: translateY(-30px);
    }
    40% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-30px);
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bounceInUp {
    0% {
        transform: translateY(-30px);
    }
    20% {
        transform: translateY(-30px);
    }
    40% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-30px);
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.bounceInUp {
    -webkit-animation: bounceInUp .5s;
    animation: bounceInUp .5s;
}

.budget-buttons button {
    display: inline-block;
    width: 80px;
    font-size: 1rem;
    padding: 8px;
    color: #f28f85;
    border: 2px solid #f28f85;
    text-align: center;
    outline: none;
    text-decoration: none;
    border-radius: 7px;
    background-color: #fff;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.budget-buttons button:hover,
.budget-buttons button:active {
    background-color: #f28f85;
    color: #fff;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.budget-buttons button:hover span {
    display: none
}

.budget-buttons button:first-of-type:hover:before,
.budget-buttons button:first-of-type:active:before {
    content: "😊"
}

.budget-buttons button:last-of-type:hover:before,
.budget-buttons button:last-of-type:active:before {
    content: "🙁"
}

.change-budget {
    position: absolute;
    right: 30px;
    bottom: 16px;
    background-color: #00A89B;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    border: 1px solid #00A89B;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 13px;
    padding: 6px 8px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.estimate-title {
    width: 35%;
    margin-right: 5%;
    display: inline-block;
    float: left;
    padding: 13px;
}

.estimate-details {
    position: relative;
    width: 60%;
    float: left;
    display: inline-block;
}

.budget-estimate-block {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}

.budget-total {
    color: #484545;
    margin-top: 25px;
    padding-top: 10px;
    width: 60%;
    float: right;
    display: inline-block;
    border-top: 1px solid #484545;
}

.estimate-budget-input {
    z-index: 99;
}

.estimate-suggestion {
    position: absolute;
    font-size: 11px;
    bottom: 15px;
    color: transparent;
    z-index: 90;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.estimate-visible {
    color: #00A89B;
    -webkit-transform: translate(6px, -30px);
    -moz-transform: translate(6px, -30px);
    -o-transform: translate(6px, -30px);
    transform: translate(6px, -30px);
}

.codrops-header {
    margin: 0 auto;
    padding: 3em 1em;
    text-align: center;
    color: rgba(0, 0, 0, 0.35);
}

.codrops-header h1 {
    margin: 0;
    font-weight: 400;
    font-size: 2.5em;
}

.codrops-header h1 span {
    display: block;
    padding: 0 0 0.6em 0.1em;
    font-size: 0.6em;
    opacity: 0.7;
}


/* To Navigation Style */

.codrops-top {
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.69em;
    line-height: 2.2;
}

.codrops-top a {
    display: inline-block;
    padding: 0 1em;
    text-decoration: none;
    letter-spacing: 1px;
}

.codrops-top span.right {
    float: right;
}

.codrops-top span.right a {
    display: block;
    float: left;
}

.codrops-icon:before {
    margin: 0 4px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'codropsicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
    content: "\e001";
}

.codrops-icon-prev:before {
    content: "\e004";
}

.form-signin-heading {
    margin: 5px auto;
    font-size: 1.1rem;
}

section.job-section {
    padding: 3em 0 1em;
    background: #eee;
    text-align: center;
}

section.centered-section {
    background: #eee;
    text-align: center;
    height: 100%;
    position: fixed;
    top: 0;
    margin-left: -50%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

section.new_user-section {
    background: #eee;
    text-align: center;
    height: 100%;
    margin: 0 auto;
}

section.centered-section > div {
    margin-top: 40%;
}

section.centered-section > div.new_user {
    margin-top: 10%;
}

div.password-loader > .loading {
    position: relative;
}

div.info-container > .loading {
    position: absolute;
    top: 50%;
}

.password-loader {
    color: #F75B4A;
}

.action-button {
    color: #fff;
    padding: 0.5rem 0.8rem;
    background-color: #F28F85;
    border-radius: 5%;
    border: none;
    font-size: 1rem;
}

section.related {
    padding: 3em 1em 4em;
    background: #465650;
    color: rgba(0, 0, 0, 0.4);
    font-size: 1.5em;
}

.related > a {
    max-width: 80%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    text-align: center;
    margin: 20px 10px;
    padding: 25px;
    -webkit-transition: color 0.3s, border-color 0.3s;
    transition: color 0.3s, border-color 0.3s;
}

.related a:hover {
    border-color: rgba(0, 0, 0, 0.6);
}

.related a img {
    max-width: 100%;
    opacity: 0.4;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.related a:hover img,
.related a:active img {
    opacity: 1;
}

.related a h3 {
    margin: 0;
    padding: 0.5em 0 0.3em;
    max-width: 300px;
    font-weight: 400;
    font-size: 0.75em;
    text-align: left;
}

ul.thumbnails.image_picker_selector li {
    visibility: visible;
}

ul.thumbnails.image_picker_selector {
    height: 300px;
    margin: 0.5rem auto !important;
    z-index: 1;
}

ul.thumbnails.image_picker_selector li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

ul.thumbnails.image_picker_selector li p {
    width: 70%;
    float: right;
    margin: 0;
    padding: 5px;
    font-size: 1rem;
}

.classifs {
    margin-top: 1rem;
    z-index: 1;
}

.controls {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
    background-color: #F28F85;
    display: none;
    padding: 5px 15px;
}

div.content div.controls {
    display: inline-block;
    position: relative;
}

.sub-classifs {
    width: 100%;
}

div.sub-classifs > ul.thumbnails.image_picker_selector {
    width: 320px;
    height: inherit;
    overflow-x: scroll;
    white-space: nowrap
}

div.sub-classifs > ul.thumbnails.image_picker_selector li {
    width: 101px !important;
    float: none;
    display: inline-block;
}

div.sub-classifs > ul.thumbnails.image_picker_selector li .thumbnail.selected {
    color: rgba(0, 0, 0, 0.45);
    background: url("/assets/img/checkmark_tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% 60%;
}

div.sub-classifs > ul.thumbnails.image_picker_selector li p {
    margin: 0;
    width: 100%;
    word-wrap: normal;
    text-align: center;
    font-size: 0.8rem;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: normal;
}

div.sub-classifs > ul.thumbnails.image_picker_selector li div {
    padding: 0;
}

div.sub-classifs > ul.thumbnails.image_picker_selector li img {
    width: 100px;
    height: 100px;
}

.bottom-dets {
    width: 100%;
}

.bottom-dets input {
    margin-bottom: 0.8rem !important;
}

.bottom-dets textarea {
    width: calc(100% - 2em);
}

.loading--fixed {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loading {
    margin: 10px auto;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 99;
    border: 0.25rem solid rgba(242, 143, 133, 0.57);
    border-top-color: #F28F85;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

.loading--double {
    border-style: double;
    border-width: .5rem;
}

.loading-msg {
    display: block;
    margin: 5px auto;
    text-align: center;
}

.new_user {
    padding-top: 5%;
    text-align: center;
}

.new_user-dets {
    margin: 0.8rem auto;
    width: 100%;
}

.no-load {
    display: none;
    text-align: center;
    font-size: 0.8rem;
    color: red;
}

.info-container {
    display: inline-block;
    padding: 1rem 1.4rem;
    width: 100%;
}

.info-container:after {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    border: 1px solid #cacaca;
    top: 0;
    left: 50%;
    z-index: 1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.info-container-loading:after {
    border: 2px solid #F28F85;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

.info-form,
.info-socials {
    padding: 0.5rem 1.1rem;
}

.info-socials {
    text-align: center;
}

.facebook-signin,
.google-signin {
    padding: 0.5rem 0.6rem;
    display: block;
    width: 80%;
    margin: 5px auto;
    color: #fff;
    font-family: clear_sansbold;
    font-size: 0.92rem;
}

.facebook-signin {
    background-color: #4863ae;
}

.facebook-signin:hover,
.facebook-signin:active {
    background-color: #2871aa;
    color: #fff;
}

.google-signin {
    background-color: #dc4e41;
}

.google-signin:hover,
.google-signin:active {
    background-color: #42A5F5;
    color: #fff;
}

.info-form p,
.info-socials p {
    font-size: 1rem;
}

.info-form p {
    display: none;
}

.info-container-divider {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    color: #555;
    background-color: #fff;
    font-size: 0.7rem;
    padding: 8px 9px;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.iframe-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    z-index: 3;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 40.063em) {
    section {
        padding: 0 2em 3em;
    }
    section.new_user-section {
        padding: 0 2em 3em;
    }
    .info-container-divider {
        top: 35%;
    }
    .new_user-section input {
        text-align: center;
    }
    .info-form p {
        display: block;
        text-align: center;
    }
    .info-socials {
        padding: 3rem 0 5rem;
    }
    .info-form {
        padding-top: 3rem;
    }
    .facebook-signin,
    .google-signin {
        font-size: 0.75rem;
    }
    .info-container:after {
        width: 100%;
        height: 0;
        top: 35%;
        left: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 25em) {
    .codrops-header {
        font-size: 0.8em;
    }
    section.related {
        font-size: 1.2em;
    }
    .codrops-icon span {
        display: none;
    }
}

@media (min-width:40.063em) {
    .budget-estimate-block:first-of-type {
        margin-top: 60px;
    }
    .budget-total {
        margin-top: 45px;
    }
    .info-form {
        float: left;
        width: 50%;
    }
    .info-socials {
        float: right;
        width: 50%;
    }
    ul.thumbnails.image_picker_selector {
        height: inherit;
    }
    ul.thumbnails.image_picker_selector li p {
        text-align: center;
        margin: 0;
        padding: 5px;
        font-size: 1rem;
        width: 100%;
        float: none;
    }
    ul.thumbnails.image_picker_selector li img {
        width: 100%;
        height: inherit;
        border-radius: 0;
    }
    ul.thumbnails.image_picker_selector li {
        width: 20% !important;
        margin: 5px 2% !important;
        display: inline-block;
        float: none !important;
        vertical-align: top;
    }
    div.sub-classifs > ul.thumbnails.image_picker_selector li .thumbnail.selected {
        background-position: 50% 20%;
    }
    section.centered-section > div {
        margin-top: 20%;
    }
    div.sub-classifs > ul.thumbnails.image_picker_selector {
        width: 70%;
    }
    .new_user-dets {
        width: 35%;
    }
}
