
.status-nav { 
	display: inline-block;
	list-style: none; 
	overflow: hidden; 
	font-size: 1rem;
}
.status-nav li { 
	float: left; 
}
.status-nav li a {
	color: #5D5D5D;
	text-decoration: none; 
	padding: 10px 0 10px 65px;
	background: transparent;
	position: relative; 
	display: block;
	float: left;
}
.status-nav li a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid #F1F2F2;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
}
.status-nav li a:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;       
	border-bottom: 50px solid transparent;
	border-left: 30px solid #5D5D5D;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	margin-left: 1px;
	left: 100%;
	z-index: 1; 
}
.status-nav li:first-child a {
	padding-left: 10px;
}
.status-nav li a.active {
	color: #EC736C;
}
.status-nav li a.active:before { 
	border-left: 30px solid #EC736C;
}
.no-bid > p{
	text-align: center;
}
tr.status-card{
	padding: 0.5rem 0.8rem;
    border-bottom: 1px solid #ccc;
    background-color: transparent;

}
.status-avatar{
	width:25%;
}
.status-details{
	width: 45%;
}
.status-actions{
	width: 30%;
	text-align:center;
}
.status-wrapper{
	text-align: center;
}
.status-name{
	font-size: 1rem;
	font-weight: bold;
	text-align: left;
}
.status-location{
	font-size:0.9rem;
}
.status-location img{
	width:15px;
	margin-right:5px;
}

.status-avi img{
	width:65px;
	height: 65px;
	border-radius: 50%;
}
.status-details > div {
	margin:0.25rem 0;
	padding:0.1rem 0.5rem; 
}
.status-tags{
	padding: 0.1rem 0.3rem;
	font-size: 0.8rem;
	color: #fff;
	background-color: #EC736C;
	display: inline-block;
	margin:0.1rem;
}
.status-type{
	padding: 0.25rem 0.4rem;
	font-size: 0.95rem;
	color: #fff;
	background-color: #4CAF50;
	display: inline-block;
	margin:0.1rem;
}
.ratings-text{
	font-size: 0.9rem;
	font-weight: 600;
	display: inline-block;
	vertical-align: middle;
}
.ratings-icons{
	display: inline-block;
	vertical-align: middle;
}
.ratings-wrapper{
	margin:0.5rem auto;
}
ul.h-rev>li:first-child {
	margin-right: 0;
}
.dashboard .button {
    padding: 0.5rem 0.85rem;
}


@media(max-width: 640px){
	.status-nav li a {
		padding: 5px 0 5px 20px;
	}
	.status-nav li a::after,.status-nav li a::before {
		display: none;
	}
	.status-nav {
		font-size: 0.87rem;
	}
	.status-wrapper {
		padding: 0.1rem	0.1rem;
	}
}

@media (min-width:40.063em) { 
	.status-nav li a >span{
		display: none;
	}
	.status-avi{
		padding:0.1rem 0.5rem;
	}


}