.progress_outer {
    border: 1px solid #000;
}

.progress {
    width: 20%;
    background: #DEDEDE;
    height: 20px;
}

.doc-container {
    position: relative;
    border: 1px solid #ccc;
    display: inline-block;
    width: 100%;
}

.doc-icon {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 6px auto !important;
}

.doc-icon-container {
    text-align: center;
}

.doc-icon-container i {
    font-size: 65px;
    color: #dcdbdb;
    line-height: .7rem;
}

.progress_text {
    position: absolute;
    color: #1bb2a6;
    font-size: 12px;
    z-index: 99;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.remove-doc {
    font-size: 0.8rem;
    color: #000;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

.doc-name {
    margin-top: 8px;
}

.doc-size {
    font-size: .8rem;
}

.attachment-container {
    display: inline-block;
    width: 100%;
}

.ongoing > .doc-loader {
    display: block;
}

.doc-loader {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.doc-loader > div {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #f9a9a4;
    border-top: 2px solid #EC736C;
    background: transparent;
    -webkit-animation: loading 2s infinite linear;
}

.doc-download {
    margin-bottom: 3px;
}

.profile-img-container img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.spinner {
    margin: 0 auto 0;
    width: 170px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #e9048b;
    margin-left: 15px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.sidebar-notifs {
    position: absolute;
    right: 10%;
    top: 35%;
    padding: 0.1rem 0.4rem;
    border-radius: 50%;
    background: #EC736C;
    font-size: 0.6rem !important;
    display: none;
}

.icon-notifs {
    font-family: 'clear_sanslight';
    position: absolute;
    font-size: 0.85rem;
    right: -10px;
    top: 30%;
    padding: 4px 6px;
    border-radius: 50%;
    background: #EC736C;
    color: #fff;
    display: none;
}

.breaker {
    margin-top: 15px;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
