
.status-tag{
	padding: 0.1rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #4CAF50;
    display: inline-block;
    margin: 0.8rem 0;
    vertical-align: middle;
}
.status-avatar{
	width:30%;
}
.status-user{
	padding:8px;
	text-align: left;
}
.status-details{
	width: 30%;
	text-align: center;
}
.status-table{
	border:none;
}
.pimg{
	padding: none;
}
.text-muted{
	font-size: 0.65rem;
	font-weight: 400;
}
.status-message{
	width: 70%;
	vertical-align: top;
}
.status-user-avi{
	width: 30%;
    vertical-align: top;
    padding-top: 30px;
    text-align: center;
}
.status-message-table{
	border:none;
	border-bottom: solid 1px #DDDDDD;
}
.accept-button{
	background-color: #4CAF50 !important;
    color: #fff;
    padding: 0.4rem 0.9rem;
    font-size: 0.8rem;
    border:none;
    width: 100%;
    margin-bottom: 0.5rem;
}
.decline-button{
	background-color: #ccc !important;
    color: #000;
    padding: 0.4rem 0.9rem;
    font-size: 0.8rem;
    border:none;
    width: 100%;
    margin-bottom: 0.5rem;
}
.actions-wrapper{
	padding: 0.5rem;
}
.send-message-btn{
	margin-top: 1rem;
    width: 100%;
    background-color: #f07d71 !important;
    float: none !important;
    z-index: 99;
}
.message-user-name{
	text-align: left;
	padding: 8px;
	margin-top:12px;
}
.message-avi{
	float: left;
}
.message-card{
	border:none;
	border-bottom: 1px solid #ccc;
}
@media (min-width:40.063em) { 

.status-avatar{
	width: 15%;
}
.status-details{
	width:50%;
}
.status-details{
	width: 35%;
}
.status-message{
	width:85%;
	vertical-align: top;
}
.status-user-avi{
	width: 15%;
	vertical-align: top;
}
.message-avi{
	float: right;
	margin-top: 1.2rem;
}

}