/*default pink ff3399
  default purple #673AB8
  notification purple #7E57C2
  message purple D1C4E9
  */
@font-face {
  font-family: 'clear_sansregular';
  src: url('../fonts/regular/ClearSans-Regular-webfont.eot');
  src: url('../fonts/regular/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/regular/ClearSans-Regular-webfont.woff') format('woff'),
       url('../fonts/regular/ClearSans-Regular-webfont.ttf') format('truetype'),
       url('../fonts/regular/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'clear_sansbold';
    src: url('../fonts/bold/ClearSans-Bold-webfont.eot');
    src: url('../fonts/bold/ClearSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bold/ClearSans-Bold-webfont.woff') format('woff'),
         url('../fonts/bold/ClearSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/bold/ClearSans-Bold-webfont.svg#clear_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'clear_sans_mediumregular';
    src: url('../fonts/medium/ClearSans-Medium-webfont.eot');
    src: url('../fonts/medium/ClearSans-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/medium/ClearSans-Medium-webfont.woff') format('woff'),
         url('../fonts/medium/ClearSans-Medium-webfont.ttf') format('truetype'),
         url('../fonts/medium/ClearSans-Medium-webfont.svg#clear_sans_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'clear_sanslight';
  src: url('../fonts/light/ClearSans-Light-webfont.eot');
  src: url('../fonts/light/ClearSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/light/ClearSans-Light-webfont.woff') format('woff'),
       url('../fonts/light/ClearSans-Light-webfont.ttf') format('truetype'),
       url('../fonts/light/ClearSans-Light-webfont.svg#clear_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'clear_sans_thinregular';
  src: url('../fonts/thin/ClearSans-Thin-webfont.eot');
  src: url('../fonts/thin/ClearSans-Thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/thin/ClearSans-Thin-webfont.woff') format('woff'),
       url('../fonts/thin/ClearSans-Thin-webfont.ttf') format('truetype'),
       url('../fonts/thin/ClearSans-Thin-webfont.svg#clear_sans_thinregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4{
    font-family: 'clear_sansregular' !important;
}
input{
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
  border-bottom:1px solid #ccc !important;
   -webkit-transition: all 0.2s;
    -moz-transition: all 2s;
    transition: all 0.2s;

}
input.active{
	border-color: transparent;
}
input:focus {
    border-color: #00A89B !important;
    box-shadow: none;

}
textarea{
  display:block;
  border:none;
  border-bottom:1px solid #ccc;
  -webkit-transition: all 0.2s;
    -moz-transition: all 2s;
    transition: all 0.2s;
}
textarea:focus {
    border-color: #00A89B !important;

}

.header_row {
    margin: 0 auto;
    max-width: 106.5rem;
    height: 70px;
    width: 100%;
}
.navbar-brand{
	padding: 10px;
	width: 120px;
	height: 50px;
}
.navbar-brand>img {
    display: block;
    margin: -10px;
}
.navbar-default .navbar-nav > li > a{
    padding: 8px 13px;
    height: inherit;
    color: #fff !important;
    text-transform: none;
    font-size: 13px;
    border-radius: 0;
    background-color: #00A89B;
    margin-top: 17px;
    display: block;
 	font-family: 'clear_sans_thinregular';
    color: #666766;
}
.navbar-default .navbar-nav > li > a:hover, a.active{
	color: #fff !important;
    background-color: #00A89B;
}
.navbar-default .navbar-nav > li > a:not(.btn){
	font-family: 'clear_sansregular';
    font-size: 14px;
	color: #666766 !important;
	background-color: transparent;
	margin-left: 5px;
}

#find {
    background-image: url(icon-search.png);
    background-position: 1px center;
    background-repeat: no-repeat;
   margin:15px 15px;
   width:350px;
    text-indent: 20px;

    -webkit-transition: all 0.2s;
    -moz-transition: all 2s;
    transition: all 0.2s;

}

#find:focus {
    /* Picked a random icon from Google */
    background-position: -20px center;
    text-indent: 0;
    border-color: #00A89B !important;

}
input {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.navbar-default .navbar-nav .dropdown > a {
	margin-top: 5px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background-color: #fff;
}