@font-face {
  font-family: 'clear_sansregular';
  src: url('/fonts/regular/ClearSans-Regular-webfont.eot');
  src: url('/fonts/regular/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/regular/ClearSans-Regular-webfont.woff') format('woff'),
       url('/fonts/regular/ClearSans-Regular-webfont.ttf') format('truetype'),
       url('/fonts/regular/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'clear_sanslight';
  src: url('/fonts/light/ClearSans-Light-webfont.eot');
  src: url('/fonts/light/ClearSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/light/ClearSans-Light-webfont.woff') format('woff'),
       url('/fonts/light/ClearSans-Light-webfont.ttf') format('truetype'),
       url('/fonts/light/ClearSans-Light-webfont.svg#clear_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'clear_sans_thinregular';
  src: url('/fonts/thin/ClearSans-Thin-webfont.eot');
  src: url('/fonts/thin/ClearSans-Thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/thin/ClearSans-Thin-webfont.woff') format('woff'),
       url('/fonts/thin/ClearSans-Thin-webfont.ttf') format('truetype'),
       url('/fonts/thin/ClearSans-Thin-webfont.svg#clear_sans_thinregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
font-family: 'clear_sanslight' !important;
}
h1, h2, h3, h4, h5, h6 {
font-family: 'clear_sanslight';
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.login-btn{
    margin-top:10px;
    font-size: 0.8125rem !important;
}
input[type="checkbox"] {
    margin: 3px 3px 3px 4px !important;
}
.or-social{
    text-align:center;
    margin: 5px 0 5px 0;
}
.facebook{
    padding: 0.475rem 2.5rem 0.375rem 1.75rem !important;
    font-size: 0.8125rem !important;
    background-color: #4863ae;
    border-color: #4863ae;
    margin-bottom: 10px;
}
.facebook:hover{
    background-color: #2871aa;
    border-color: #2871aa;
}
.twitter{
    background-color: #46c0fb;
    border-color: #46c0fb;
}
.twitter:hover{
    background-color: #00c7fb;
    border-color: #00c7fb;
}
.google{
  
    padding: 0.475rem 2.5rem 0.375rem 1.75rem !important;
    font-size: 0.8125rem !important;
    background-color: #2196F3;
    border-color: #2196F3;
}
.google:hover{
    background-color: #42A5F5;
    border-color:#42A5F5;
}