/* Fonts Import */
@font-face {
  font-family: 'clear_sansregular';
  src: url('../../fonts/regular/ClearSans-Regular-webfont.eot');
  src: url('../../fonts/regular/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/regular/ClearSans-Regular-webfont.woff') format('woff'),
       url('../../fonts/regular/ClearSans-Regular-webfont.ttf') format('truetype'),
       url('../../fonts/regular/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'clear_sanslight';
  src: url('../../fonts/light/ClearSans-Light-webfont.eot');
  src: url('../../fonts/light/ClearSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/light/ClearSans-Light-webfont.woff') format('woff'),
       url('../../fonts/light/ClearSans-Light-webfont.ttf') format('truetype'),
       url('../../fonts/light/ClearSans-Light-webfont.svg#clear_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'clear_sans_thinregular';
  src: url('../../fonts/thin/ClearSans-Thin-webfont.eot');
  src: url('../../fonts/thin/ClearSans-Thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/thin/ClearSans-Thin-webfont.woff') format('woff'),
       url('../../fonts/thin/ClearSans-Thin-webfont.ttf') format('truetype'),
       url('../../fonts/thin/ClearSans-Thin-webfont.svg#clear_sans_thinregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: clear_sanslight !important;
}
#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}
.desktop-navigation{
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  bottom: 70px;
  left: 50%;

}
.desktop-navigation a {
  position: relative; 
  left: -50%;
  color:  #fff;
  text-decoration: none;
  font-size: 2rem;
  padding: 0.3rem 1.1rem;
  border-radius: 50%;
  background-color: #ee3149;
}
.desktop-navigation span {
  position: relative; 
  left: -50%;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
}
.slides-navigation {
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    bottom: 0;
    background-color: #ee3149;
    height: 60px;
    width: 100%;
    transition:background-color 2.0s ease;
    margin-top:1.2rem;
}
.slides-navigation a {
  position: absolute;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  margin-top: 8px;
}
.slides-navigation a i {
  font-size: 1.2rem;
  font-style: normal;
  margin: 1px auto;
}
.slides-navigation span {
  position: absolute;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  margin-top: 8px;
  cursor: pointer;
}
.slides-navigation a.prev {
  display: none;
  left: 3%;
}
.slides-navigation a.next {
  right: 3%;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
  display: none;
}
.slides-pagination a {
  border: 2px solid #222;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
  margin: 2px;
  overflow: hidden;
  text-indent: -100%;
}
.slides-pagination a.current {
  background: #222;
}
.container h1 img{
 display: block;
 margin: 3.5rem auto;
 width: 250px;
}
.container h1 div{
 display: block;
 margin: 3.5rem auto;
}
.container p{
  font-size: 1.6rem;
  text-align: center;
  font-family: 'clear_sansregular' !important;
  color: #0E2D3B;
}
.get-started{
  right: 3%;
  font-size: 1rem !important;
  background-color: #ee3149;
  padding: 10px 1.3rem;
  border-radius: 4px;
  transition:background-color 1.6s ease;
}
.job-intro-icon { background: url('job-intro-icons.png') no-repeat top left; width: 78px; height: 86px;  } 
.job-intro-icon.icon-chair { background-position: 0 0; } 
.job-intro-icon.icon-chat { background-position: 0 -96px; } 
.job-intro-icon.icon-edit { background-position: 0 -192px; } 
.job-intro-icon.icon-edit-2 { background-position: 0 -288px; } 
.job-intro-icon.icon-empty-star { background-position: 0 -384px; width: 43px; height: 41px; } 
.job-intro-icon.icon-rating { background-position: 0 -435px; } 
.job-intro-icon.icon-selected-star { background-position: 0 -531px; width: 43px; height: 41px; } 
.job-intro-icon.icon-tent { background-position: 0 -582px; } 
.job-intro-icon.icon-user { background-position: 0 -678px; width: 41px; height: 46px; } 
.job-intro-icon.icon-camera { background-position: 0 -734px; } 
.container .section{
  width:40%;
  margin:0 auto;
}
.container .chat{
  width:60%;
}
/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 2%;
}
.col:first-child { margin-left: 0; }
.col:nth-child(2) div {
 margin:auto; 
}
.col:last-child div {
 float: right; 
}


/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66%; }
.span_1_of_3 { width: 32%; }
.detail-area{
 /* width:50%;*/
  min-height: 200px;
  max-height: 250px;
  min-width: 100px;
  max-width: 480px;
  background: #DADADA;
/*  display: block;
*/  margin: auto;
  padding:1rem;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  flex-direction:column;
}
.detail-area img {
    flex-shrink:0;
    min-width:100%;
    min-height:100%
}
.detail-area .dets{
  margin: auto;
  padding:0.7rem 1rem;
  background: #fff;
  color:rgb(0, 203, 176);
  text-align: center;
  font-weight: 600;
  width:60%;
  
}
.chat-area{
  width:85%;
  min-height: 70px;
  background: #DADADA;
  display: block;
  margin: auto;
  padding:0.4rem 0.8rem;
}
.chat-area p{
  text-align: left;
  font-size: 0.8rem;
}
.stars-area{
  width:85%;
  min-height: 70px;
  display: block;
  margin: auto;
  margin-top:5%;
}
.right{
  float: right !important;
}
.left{
  float: left !important;
}
.breaker-bottom{
  margin-bottom: 1.2rem;
}
.star-container{
  width: 10%;
  margin-right:5% !important;
  float: left !important;
}
.star-container:first-child{
  margin-left: 15% !important;
}
.star-container:last-child{
  margin-right: 15% !important;
}
.section-rating{
  width: 50%; */
    min-height: 200px;
    max-height: 250px;
    min-width: 200px;
    max-width: 220px;
    background: #DADADA;
    /* display: block; */
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}
.section-rating img {
    flex-shrink:0;
    min-width:100%;
    min-height:100%
}

@media only screen and (max-width: 730px) {
  .desktop-only{
    display: none;
  }
  .container .section,.container .chat{
    width: 80%;
  }
  .detail-area{
    width: 85%;
  }
  .small-no-bg{
    background: none;
  }
  .star-container:first-child {
    margin-left: 12% !important;
  }
  
  .container p{
    font-size: 1.2rem;
  }
  .chat-area p {
    font-size: 0.7rem;
  }
  .chat-area {
    width: 70%;
  }
  .section-rating img, .detail-area img {
    display: block;
    max-width: 330px;
    max-height: 190px;
    width: auto;
    height: auto;
  }
  
}
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .stars-area{
   width:100%;
  }

/*  .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
*/
}
@media only screen and (max-width: 320px) {
  .container h1 img {
    width: 150px;
  }
  .detail-area{
    min-height: 150px;
  }
  
  .container h1 div {

      margin: 1.7rem auto;
  }
}