#spopup{
    background:#f3f3f3;
    -moz-box-shadow:inset 0 0 3px #333;
    -webkit-box-shadow:inset 0 0 3px #333;
    box-shadow:inner 0 0 3px #333;
    padding:12px 14px 12px 14px;
    width:100%;
    position:fixed;
    bottom:0;
    display:none;
    z-index:90;
    text-align: center;
}

.spopup-text{
  padding-top: 10px;
  color: #1BB2A6;
  font-size: 1.5rem;
  font-weight: 600;
}
.pagination > li {
  float: left;
}
.warning{
  color: #f44236;
}
.hm{
  text-align: center;
}
.fs-field-label {
  line-height: 1.8em;
}
.fs-fields {
  margin-top:15px !important;
}
.fs-cancel {
    padding: 0.6em 1.5em;
    border-radius: 40px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 14%;
    top: 60%;
    margin: 0 40px 60px 0;
    font-size: 1rem;
}
.fs-cancel:hover {
    background-color: rgba(242, 77, 50, 0.75);;
    color: #fff;
}
.fs-cancel:active{
  color: rgba(0, 0, 0, 0.4);
}
.cancel-f{
  color: rgba(0, 0, 0, 0.4);
  float: left !important;
}
.cred-c{
    padding: 8px 9px 8px 8px;
    border-radius: 50%;
    background: #e9c857;
    color: #fff !important;
    font-weight: 600 !important;

}
.main_content{
    margin-top: 60px;
    padding: 20px;
    background-color: #eee;
}
.noMessage{
  display:none !important;
}
.noMessage:first-child{
  display: inline-block !important;
}
.materialize{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.white{
	color: #fff !important;
}
.white_background{
	background-color: #fff !important;
}
.breaker-bottom{
    margin-bottom:0.25rem;
}
.basic-li span {
 margin-top: 1em;
}
.jobs-list {
    padding:0;
}
.sm{
	font-size: 70%;
}
#thumb_name{
	position: absolute;
    /* padding: 50%; */
    top: 45%;
    /* right: 0%; */
    left: 38%;
    color: #fff;
}
#image_count{
	position: absolute;
    bottom: 20%;
    right: 10%;
    color: #fff;
}
#gallery_edit{
    position: absolute;
    bottom: 20%;
    left: 10%;
    color: #fff;
}
#gallery_delete{
	    position: absolute;
    right: 7%;
    top: 5%;
    color: #fff;
}
#gall_img{
	z-index: -99;
    -webkit-filter: contrast(0.5);
    -moz-filter: contrast(0.5);
    -o-filter: contrast(0.5);
    -ms-filter: contrast(0.5);
    filter: contrast(0.5);
}
.profilebox b{
    color: #404B5F;
}
.thumbnail a, .thumbnail span {
	z-index: 10;
}
.profile-widget a, .profile-widget p, .profile-widget h1, .profile-widget img {
	z-index: 10;
}
#find {
    background-image: url(icon-search.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    margin-top:2%;
    text-indent: 20px;
    
    -webkit-transition: all 0.2s;
    -moz-transition: all 2s;
    transition: all 0.2s;
    
}

#find:focus {
    /* Picked a random icon from Google */
    background-position: -20px center;
    text-indent: 0;
    border-color: #cccccc !important;
   
}

.no_pad{
    padding: 0 !important;
}
.form_pad{
    padding: 7px;
}
.form-horizontal .form-group{
    margin-right: 0;
    padding-right: 15px;
    margin-left: 0;
}
.edit-blade{
    width: 100% !important;
}
.avi{
    border-radius: 50%;
    padding: 15px;
    background-color: rgba(55, 54, 62, 0.39);
    color: #fff;
    vertical-align: middle;
    margin-top: 0.3rem;
}
.avi_2 {
    padding: 15px 19px;
    border-radius: 50%;
    background: #7796B5;
    color: #fff !important;
    font-weight: 600 !important;
}
.top-b {
    border-top:2px solid rgba(55, 54, 62, 0.39);
    padding: 8px 0 !important;
    font-weight: 600;
}
.top-b span{
    margin-top:0 !important;
}
.trans-bg{
background-color: transparent !important; 
}
.tab-content{
    min-height: 650px;
}

.job-details-left, .job-details-right{
margin-top: 15px;
padding:20px;
border-radius: 8px;
border: 1px solid #eee;
width: 48% !important;
}

.avi{
  padding: 15px;
  border-radius: 50%;
  background: #7796B5;
  color: #fff !important;
  font-weight: 600 !important;
}
.job-details-left div > img{
  height: 60px;
  width:60px;
  margin-right: 20px;
}
.job-details-left div:first-child, .job-details-left div:last-child { 
   margin-bottom: 30px;
   border:none;

}

.job-details-left div p small{
  font-size: 0.9rem;
}
.job-details-left div p span{
  font-size: 1.35rem;
}

.job-details-left div{
  padding: 5px 15px;
  border-bottom: 1px solid rgba(204, 196, 196, 0.65);
}
.job-details-left div span{
  font-size: 1.3rem;
  color: #808285;
  font-weight: 500;
}
.job-details-left div h3{
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  color: #808285;
}
.job-details-left div h4{
  font-size: 1.2rem;
  color: #808285;
  
  }
.job-details-left div p{
  color: #797676;
  font-weight: 400;
}
.job-details-right{
  border-top:3px solid #f07d71;
}
.job-details-right div:first-child, .job-details-right div:last-child{
  margin-bottom: 30px;
}
.job-details-right div > div img{
  height: 60px;
  width:60px;
  border-radius: 50%;
  margin-right: 20px;
}
.job-details-right > div > div:first-child{
  border-right: 1px solid #555;
}
.job-details-right div > .small-3{
  padding: 0;
}
.job-details-right div > div > div h4{
  font-size: 1.3rem;
  color: #808285;
  font-weight: 500;
}
.job-details-right div > div > div p{
   font-size: 1.2rem;
    color: #808285;
    margin-bottom: 0;
}
.job-details-right form textarea{
  border:1px solid #808285;
  width: 100%;
}
.job-details-right form .button{
  background-color: #f07d71 !important;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem 1.75rem 0.5rem 1.75rem !important;
  margin-left: 40%;
  border:none !important;
}
@media only screen and (min-width: 40.0625em) {
.edit-blade{
    width: 60% !important;
}
}
@media(max-width: 768px){

.job-details-left, .job-details-right{
    width: 100% !important;
    margin-bottom: 30px;
}
.tab-content{
min-height: 250px;
}

.applogo img {
margin-left: 6rem;
}
}

