/*body {
  border: 1px solid #3BFFFF;
}*/
body, h1, h2, h3, h4, h5, h6 {
  font-family: clear_sanslight !important;
}
main.dashboard {
    margin-top: 0;
    width: 100%;
}
header.dash {
  background: #5D5D5D;
  border-bottom: 4px solid #EC736C;
  position: relative;
}
header.dash .top-bar {
	background: transparent !important;
}
header.dash input#find {
  border: 1px solid #FFF;
  border-radius: 30px;
  width: 15rem;
  padding: 1rem;
  margin-right: 4rem;
  margin-top: 1rem;
  color: #EC736C;
  position: relative;
}
header.dash .top-bar-section ul li {
  border: none;
}
.dashboard .pimg img {
    border-radius: 50%;
    background: #EC736C;
}
.dashboard ul.left-navigation.dash-tabs.tabs.vertical {
  max-width: 100%;
  width: 100%;
  /*margin-left: 5%;*/
  margin-bottom: 0 !important;
}
.dashboard > .medium-2.columns {
    padding: 0;
}
.dashboard > .medium-10.columns {
	background-color: #F1F2F2;
	padding: 0 1rem;
	min-height: 830px;
}
.dashboard h3 {
    font-size: 1.5rem;
    padding-bottom: 20px;
    margin-bottom: 1rem;
    border-bottom: 2px solid #BCBDBF;
}
.dashboard ul.left-navigation li.tab-title {
  text-align: left;
  position: relative;
  transition: background 100ms ease-in-out;
}
.dash-icon,
.jobs-icon,
.msg-icon,
.credit-icon,
.review-icon,
.blog-icon,
.boost-icon,
.shop-icon,
.gallery-icon,
.profile-icon {
  width: 23px;
  height: 23px;
  display: inline-block;
  left: 35px;
  top: 13px;
  position: absolute;
}
.dashboard ul.left-navigation li.tab-title a {
    padding-left: 3.5rem;
    margin-left: 5%;
    width: 90%;
}
main.dashboard .medium-2 > ul {
    float: left;
    color: #FFF;
}
main.dashboard .medium-2 > ul.help {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 3rem;
}
ul.help h5 {
    text-align: center;
    color: #FFF;
    background-color: #06222D;
    padding: 10px 0 5px 0;
    border-bottom: thin solid #E94533;
    margin: 0;
}
ul.help li {
    background: #EC736C;
    padding: 10px;
    position: relative;
}
ul.help li > ul li {
    padding: 0 0 5px;
}
ul.help li > ul {
    margin-left: 3rem;
}
.dashboard ul.left-navigation li.tab-title.active:after {
    border-right: 20px solid #F1F2F2;
    border-bottom: 15px solid transparent;
    position: absolute;
    right: -3%;
    top: 11px;
    content: "";
    border-top: 15px solid transparent;
}
.dashboard ul.left-navigation li.tab-title.active {
    background-color: #0B2531;
}
.tabs dd.active > a,
.tabs dd.active > a:hover,
.tabs .tab-title.active > a,
.tabs .tab-title.active > a:hover {
    background-color: transparent;
}

.tabs dd > a:hover, .tabs .tab-title > a:hover {
    background-color: transparent;
}
.dashboard ul.vcard li {
font-weight: normal;
}
.dashboard ul.left-navigation li.nav-vcard-container:hover {
	background-color: transparent !important;
	border-bottom: 2px solid #F57E71 !important;
  border-top: none !important;
}
.dashboard ul.left-navigation li.fn.dash-prof:hover,
.dashboard ul.left-navigation li.fn.dash-prof ul li:hover {
	background-color: transparent !important;
	border-bottom: none !important;
  border-top: none !important;
}
.dashboard ul.left-navigation li.fn.dash-prof ul li.profile-img-container:hover {
	border: thin solid #FFF !important;
}
li.profile-img-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: thin solid #FFF;
    margin: 10px auto;
}
.dashboard li.edit-prof {
    font-size: 0.75rem;
    margin-top: 10px;
}
i.dash-icon-m,
i.jobs-icon-m,
i.msgs-icon-m,
i.credit-icon-m,
i.boost-icon-m,
i.reviews-icon-m,
i.profile-icon-m,
i.shop-icon-m {
    height: 38px;
    width: 40px;
    display: inherit;
    float: left;
}
.text-center {
    background: #58595B;
    padding: 1rem 0;
}
.text-center h1, .text-center h2 {
	color: #FFF;
}
.text-center h1 {
	font-size: 1.8rem;
	margin-top: 1rem;
}
.text-center h2 {
	font-size: 1.1rem;
	margin-bottom: 1rem;
}
.text-center a.button.alert {
    padding: 11px 2rem;
    height: inherit;
    font-size: 0.8rem;
}
.icon-bar.five-up {
    background: transparent;
}
.avi {
  color: rgba(255, 255, 255, 0.7)!important;
  font-weight: normal !important;
}
i.dash-tel-icon {
    position: absolute;
    width: 40px;
    height: 60px;
}
.dashboard-main-icons-container ul li a i {
    font-size: 4.5rem;
    position: relative;
    padding: 4rem 0;
}
span.dash-titles {
    display: block;
    margin-top: -3rem;
    margin-bottom: 2rem;
}
.dashboard-main-icons-container ul li:last-child a {
    border-right: 1px solid #F28F85;
}
.dashboard-main-icons-container ul li a i.fa-star-o span.counter {
    top: 32%;
}
.dash-stats ul li {
  background-color: #8A989F;
  display: inline-block;
  width: 24.7%;
  padding: 2rem 1rem 1rem;
  color: #FFF;
  border-bottom: 6px solid rgba(11, 37, 49, 0.2);
  margin-right: -2px;
  position: relative;
}
.dash-stats ul li h5 {
    float: right;
    font-size: 3rem;
    color: #FFF;
    margin: 0;
}
.dash-stats ul li span.stats-title {
    position: absolute;
    font-size: 0.8rem;
    width: 7rem;
    bottom: 2rem;
}
.dash-stats ul li i {
    position: absolute;
    font-size: 1.2rem;
    top: 1rem;
}
#find:focus {
    background: #FFF !important;
}
.accordion .accordion-navigation .content.inner-page-target {
    border-top: 1px solid transparent;
}
.accordion .accordion-navigation .content.inner-page-target.active {
  animation: msgbht 1s ease-in-out forwards;
  /*border-color: #f28f85;*/
}
@keyframes msgbht {
  0% { border-color: transparent; }
  100% { border-color: #f28f85; }
}
ul.pagination li.active span,
ul.pagination li a {
    border: thin solid #CCC;
    font-size: 1rem;
    margin-right: -6px;
    border-radius: 0 !important;
    background-color: #FFF;
}
ul.pagination li.active span {
    padding: 0.17rem 0.625rem 0.17rem;
    line-height: 1.9rem;
}
ul.jobs-list > li {
    border-top: 1px solid rgba(38, 66, 78, 0.5);
    border-left: 1px solid rgba(38, 66, 78, 0.5);
    border-right: 1px solid rgba(38, 66, 78, 0.5);
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
    color: #808285;
}
ul.jobs-list > li:nth-child(10) {
  border-bottom: 1px solid rgba(38, 66, 78, 0.5);
  margin-bottom: 1rem;
}
ul.jobs-list > li .small-12 {
    border-right: 1px solid rgba(38, 66, 78, 0.5);
    min-height: 89px;
}
ul.jobs-list > li .small-12:last-child {
    border-right: none;
}
ul.jobs-list > li .job-actions{
  padding-top: 10px;
  text-align: center;
}
ul.jobs-list > li .job-actions button{
  float: none !important;
  margin-top: 10px;
}
#jobs-container-data h5 {
    margin-top: -9px;
    margin-bottom: 5px;
    font-size: 1.05rem;
    font-family: 'clear_sansregular' !important;
}
#jobs-container-data ul.jobs-list h5 {
    margin-top: 0;
    font-size: 1rem;
    color: #586373;
    font-family: 'clear_sansregular' !important;
}
#jobs-container-data ul.jobs-list h6 {
    font-size: 0.9rem;
    color: #808285;
    margin-bottom: 0;
}
span.job-text {
    font-size: 0.85rem;
}
span.jtitle,
span.edate,
span.jbudget {
    font-size: 0.9rem;
    float: left;
    width: 100%;
}
span.edate,
span.jbudget {
  color: #586373;
  font-family: 'clear_sansregular' !important;
  margin-bottom: 6px;
}
span.job-text {
    width: 100%;
    font-size: 0.9rem;
    margin-top: 7px;
    float: left;
}
.dashboard ul.jobs-list button.button {
    float: right;
    font-size: 0.8rem;
    padding: 10px 1rem;
    border-radius: 2px;
}
.pdate {
    width: 100%;
    text-align: right;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}
.sub-nav {
    background: #D7DCDE;
    padding: 1rem;
    margin-top: -1rem;
    width: calc(100% + 2rem);
    margin-left: -1rem;
}
.sub-nav li.small-3.columns {
    padding-left: 0;
    margin-left: 0;
}
.sub-nav li a {
    padding: 0.1875rem 0;
}
div.dataTables_info {
    font-size: 0.85rem;
    color: #26424E;
    margin-bottom: 10px;
    margin-left: 5px;
}
table thead {
    background: #7C8C94;
    color: #FFF;
}
.table > thead > tr > th {
    color: #FFF;
}
#shopproducts-container-data ul li {
    display: inline-block;
    float: left;
}
.credit-banner {
    background-color: #F9D600;
    padding: 10px 1rem;
}
.credit-banner button.buttons {
    margin: 0;
    padding: 10px 1.3rem;
    font-size: 0.7rem;
    float: right;
    background-color: #FF334D;
    border-radius: 2px;
}
.credit-banner button.buttons:hover {
    background-color: #FF6500;
}
.credit-banner .row {
    max-width: 100%;
}
.credit-banner h5 {
    font-size: 1rem;
    color: #26424E;
}
.name h1 img {
    width: 166px;
}
.dashboard #tab-creditbundles h3 {
    border-bottom: none;
}
table thead tr th, table thead tr td {
  font-weight: normal;
}
ul.credit-packages li {
  display: inline-block;
  width: 32%;
  padding: 1rem;
  height: 380px;
  float: left;
  margin-right: 1%;
  border-radius: 3px;
  background-color: #FFF;
  color: #7D8D95;
  transition: all 200ms ease-in-out;
}
ul.credit-packages li:hover {
    transform: scale(1.035);
}
ul.credit-packages li:nth-child(2) {
    background: #FF6500;
    color: #FFF;
}
ul.credit-packages span {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 0.9rem;
}
ul.credit-packages span.package {
    height: 4rem;
    position: relative;
}
ul.credit-packages li:first-child span.package:after,
ul.credit-packages li:nth-child(2) span.package:after,
ul.credit-packages li:nth-child(3) span.package:after {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    font-size: 2rem;
}
ul.credit-packages li:first-child span.package:after {
  content: "BEST PRICE";
}
ul.credit-packages li:nth-child(2) span.package:after {
    content: "POPULAR";
}
ul.credit-packages li:nth-child(3) span.package:after {
    content: "PREMIUM";
}
ul.credit-packages li a {
    color: inherit;
}
ul.credit-packages span.credit {
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: #FF6500;
}
ul.credit-packages li:nth-child(2) span.credit,
ul.credit-packages li:nth-child(2) span.cost {
  color: #FFF;
}
ul.credit-packages span.text {
  font-size: 0.85rem;
  margin-bottom: 1rem;
  height: 105px;
  overflow: hidden;
}
ul.credit-packages span.cost {
  font-size: 1.3rem;
  color: #FF6500;
}
.dashboard .credit-packages a.button {
  padding: 10px 1rem;
  font-size: 0.8rem;
  color: #FFF;
  width: 100%;
  background-color: #00D8BA !important;
  margin-top: 1rem;
  border-radius: 3px;
}
.dashboard .credit-packages a.button:hover {
  background-color: #00D8BA !important;
}
a, a:hover, a:focus {
  color: inherit;
}
.d-p-container {
    padding: 2rem 2rem;
    border: thin solid rgba(138, 152, 159, 0.4);
    background: #FFF;
}
.dash-tabs .login-form p {
    color: #8A989F;
}
span.profile-title {
    float: left;
    width: 40%;
}
span.profile-dets {
    float: right;
    width: 60%;
}
.dashboard .button {
  padding: 12px 1rem;
  font-size: 0.9rem;
  font-family: 'clear_sanslight';
  border-radius: 2px;
  background-color: #FF334D !important;
  border: none !important;
}
.dashboard .button:hover {
  background-color: #DC364B !important;
}
input#submittor {
    margin-top: 1rem;
    margin-bottom: 0;
}
.profile-title label {
    font-family: 'clear_sansregular';
}
.d-p-container .profile-img-container img {
    width: 40%;
}
.media-body p{
  font-size: 0.8rem;
}
.media-body img {
  width:auto;
}
ul.title-area {
  padding-top: 2px  !important;
}
nav.top-bar{
  height:  3.6125rem;
}
.bid-success-modal{
width: 60%;
border-radius: 8px;
padding-bottom: 20px;
}
.bid-success-modal .dets span{
  width: 100%;
  float: left;
  font-size: 0.8rem;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  /* Retina-specific stuff here */

i.dash-icon-m {
    background: url(../../img/dashboard/medium-dash-icons.png) 4px 3px no-repeat;
    background-size: 100%;
}
i.jobs-icon-m {
    background: url(../../img/dashboard/medium-dash-icons.png) 4px -33px no-repeat;
    background-size: 100%;
}
i.msgs-icon-m {
    background: url(../../img/dashboard/medium-dash-icons.png) 4px -67px no-repeat;
    background-size: 100%;
}
i.credit-icon-m {
    background: url(../../img/dashboard/medium-dash-icons.png) 4px -104px no-repeat;
    background-size: 100%;
}
i.shop-icon-m {
    background: url(../../img/dashboard/medium-dash-icons.png) 4px -317px no-repeat;
    background-size: 100%;
}
i.boost-icon-m {
    background: url(../../img/dashboard/medium-dash-icons.png) -2px -208px no-repeat;
    background-size: 100%;
}
i.reviews-icon-m {
    background: url(../../img/dashboard/medium-dash-icons.png) 4px -141px no-repeat;
    background-size: 100%;
}
i.profile-icon-m {
    background: url(../../img/dashboard/medium-dash-icons.png) 4px -242px no-repeat;
    background-size: 100%;
}
i.dash-tel-icon {
    background: url(../../img/dashboard/dash-icons.png) 12px 8px no-repeat;
    background-size: 50%;
}
.dash-icon {
  background: url(../../img/dashboard/small-dash-icons.png) 0px 3px no-repeat;
  background-size: 100%;
}
.jobs-icon {
  background: url(../../img/dashboard/small-dash-icons.png) 0px -18px no-repeat;
  background-size: 100%;
}
.msg-icon {
  background: url(../../img/dashboard/small-dash-icons.png) 0px -38px no-repeat;
  background-size: 100%;
}
.credit-icon {
  background: url(../../img/dashboard/small-dash-icons.png) 0px -59px no-repeat;
  background-size: 100%;
}
.review-icon {
  background: url(../../img/dashboard/small-dash-icons.png) 0px -80px no-repeat;
  background-size: 100%;
}
.blog-icon {
  background: url(../../img/dashboard/small-dash-icons.png) 0px -150px no-repeat;
  background-size: 100%;
}
.boost-icon {
  background: url(../../img/dashboard/small-dash-icons.png) 0px -120px no-repeat;
  background-size: 100%;
}
.shop-icon {
  background: url(../../img/dashboard/small-dash-icons.png) 0px -185px no-repeat;
  background-size: 100%;
}
.gallery-icon {
  background: url(../../img/dashboard/small-dash-icons.png) 0px -309px no-repeat;
  background-size: 100%;
}
.profile-icon {
  background: url(../../img/dashboard/small-dash-icons.png) 0px -141px no-repeat;
  background-size: 100%;
}
header.dash input#find {
  background-color: #FFFFFF !important;
  background-image: url(../../img/dashboard/dash-icons.png);
  background-position: 96% -46px;
  background-repeat: no-repeat;
  background-size: 10%;
}

}

/* small screens */
@media (max-width: 40.0625em) {
.bid-success-modal{
  width: 90%;
}
ul.title-area {
  padding-top: 4px;
  float: left;
  width: 90%;
}
header.dash .name h1 img {
  width: 60%;
  max-width: 54px;
}
.tab-title {
  width: 100%;
}
.menu--visible {
  -webkit-transform: none ;
  transform: none ;
}
.menu--hidden{
  -webkit-transform: translateX(-103%); 
  transform: translateX(-103%);
}
.menu--animatable {
    transition: all 410ms ease-in;
}

.menu--visible.menu--animatable {
    transition: all 410ms ease-out;
}
.dashboard > .medium-10.columns:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    will-change: opacity;
    pointer-events: none;
    transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
}

.dashboard > .main--under.medium-10.columns:after {
    opacity: 1;
    pointer-events: auto;
}
.dashboard > .medium-2.columns {
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  z-index: 99;
  background-color: #0B2531; 
}


header.dash i.fi-list {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  float: right;
  margin-right: 1rem;
  margin-top: 1rem;
}
.dashboard ul.left-navigation li.tab-title a {
  font-size: 0.85rem;
  font-family: 'clear_sanslight';
}
.dashboard ul.left-navigation li.tab-title.active:after {
  right: -1px;
}
.dashboard-main-icons-container ul li {
  width: 100%;
}
.dashboard-main-icons-container ul li:nth-child(1),
.dashboard-main-icons-container ul li:nth-child(2) {
    border-right: 1px solid #F28F85;
}
ul.jobs-list > li .small-12 {
    border-right: none;
}
ul.credit-packages li {
  width: 100%;
  margin-bottom: 1rem;
}


}
@media (max-width:380px){
  header.dash i.fi-list {
    margin-top: -2.3rem;
}
}