@font-face {
    font-family: 'clear_sansregular';
    src: url('../fonts/regular/ClearSans-Regular-webfont.eot');
    src: url('../fonts/regular/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/regular/ClearSans-Regular-webfont.woff') format('woff'),
    url('../fonts/regular/ClearSans-Regular-webfont.ttf') format('truetype'),
    url('../fonts/regular/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sanslight';
    src: url('../fonts/light/ClearSans-Light-webfont.eot');
    src: url('../fonts/light/ClearSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/light/ClearSans-Light-webfont.woff') format('woff'),
    url('../fonts/light/ClearSans-Light-webfont.ttf') format('truetype'),
    url('../fonts/light/ClearSans-Light-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'clear_sans_thinregular';
    src: url('../fonts/thin/ClearSans-Thin-webfont.eot');
    src: url('../fonts/thin/ClearSans-Thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/thin/ClearSans-Thin-webfont.woff') format('woff'),
    url('../fonts/thin/ClearSans-Thin-webfont.ttf') format('truetype'),
    url('../fonts/thin/ClearSans-Thin-webfont.svg#clear_sans_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
body {
    font-family: 'clear_sanslight';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'clear_sanslight' !important;
    color: #586E77 !important;
}

ul {
    margin-left: 0;
    list-style-type: none;
}

img {
    width: 100%;
}

p {
    margin-bottom: 1rem;
    font-size: 0.95rem;
}

.top-bar {
    background: #FFFFFF !important;
}

.top-bar-section ul.left {
    margin-left: 1rem;
}

ul.title-area {
    padding-top: 8px;
}

.top-bar-section input {
    margin-top:4%;
    padding: 0px 20px;
    width: 350px;
    border-top: none;
    box-shadow: none;
    border-right: none;
    border-left: none;
}

.top-bar-section ul li > a {
    font-family: 'clear_sansregular';
    color: #666766;
    font-size: 15px;
}

.top-bar-section ul li {
    background: transparent !important;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background: transparent;
}

.top-bar-section button {
    padding: 9px 20px;
    height: inherit;
    background-color: #00A89B;
    margin-top: -6px;
    display: block;
    font-family: 'clear_sans_thinregular';
}

.top-bar-section ul li:hover:not(.has-form) > a {
    background-color: transparent !important;
    color: #666766;
    background: transparent !important;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    padding: 15px 0.9375rem 0;
}
.contact-form{
    display: none;
    text-align: center;
    margin: 15px auto;
    width: 100% !important;
}
.package-middle{
    position: relative;
}
.package-middle h2{
    margin-top:10% !important;
}
.package-middle h4{
    color: #fff !important;
    text-shadow:1px 1px 1px rgba(0, 0, 0, 0.7);
}
.package-middle > a.button{
    margin-top: 18px;
    z-index: 99;
}
.package-desc > p {
    width: 75%;
    text-align: center;
    margin: auto;
}
main#shop, main#dealcat, main#dealview {
    /*background: rgba(211, 208, 203, 0.8);*/
}

footer .tft {
    background: #1BB2A6;
    padding: 2rem 0 1rem;
}

footer .bft {
    background: #196B64;
    padding: 10px 0;
    color: #FFFFFF;
    font-family: 'clear_sans_thinregular';
}

footer .tft h5 {
    color: #FFFFFF !important;
    font-size: 16px;
}

footer .tft ul li {
    font-family: 'clear_sans_thinregular';
}

footer .tft ul li a {
    font-size: 15px;
    color: #FFFFFF;
}

footer .tft ul li a:hover {
    text-decoration: underline;
}

footer .tft ul.right li {
    text-align: right;
}

footer .tft ul.right {
    width: 100%;
    margin-top: 1rem
}

footer .bft span {
    font-size: 13px;
}

ul.socials li {
    width: 33px;
    height: 34px;
    display: inline-block;
    margin-right: 5px;
    float: right;
}

ul.socials li:nth-child(1) {
    background: url(../img/socials.png) -4px -3px no-repeat;
}

ul.socials li:nth-child(2) {
    background: url(../img/socials.png) -40px -3px no-repeat;
}

ul.socials li:nth-child(3) {
    background: url(../img/socials.png) -77px -3px no-repeat;
}

ul.socials li:nth-child(4) {
    background: url(../img/socials.png) -114px -3px no-repeat;
}

ul.stars li {
    width: 10px;
    height: 12px;
    display: inline-block;
    margin: 0;
    box-shadow: none;
    color: rgba(50, 186, 175, 0.3);
    line-height: 1;
    font-size: 15px;
}

ul.stars li.active {
    color: #32BAAF;
}

section.deals-cat {
    padding: 1rem 0;
    background: #E9E8E5;
}

.deals-cat ul {
    margin-left: 8rem;
    margin-bottom: 0;
}

.deals-cat ul li {
    display: inline-block;
    width: 16%;
    text-align: center;
    color: #7C7B7B;
    font-family: 'clear_sansregular';
}

.main-ft,
.main-ft ul,
.main-ft ul li,
.deals-cats li {
    position: relative !important;
    margin-bottom: 0;
}

.ft-dets {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
}

.ft-dets h3 {
    text-align: center;
    color: #FFF;
}

.button.buy {
    background: #EA4036;
}

.button {
    /*padding: 0.5rem 2rem;*/
    /*display: block;*/
    /*max-width: 150px;*/
    /*margin: auto;*/
    /*font-family: 'clear_sansregular';*/
    /*font-size: 0.9rem;*/
}

.ft-dets h3 {
    text-align: center;
    color: #FFF;
    margin-bottom: 1.5rem;
}

.deals-cats li {
    width: 32%;
    float: left;
    margin-right: 2%;
    margin-bottom: 1.1rem;
}

.deals-cats li:nth-child(3n) {
    margin-right: 0;
}

section.promo {
    margin: 1rem 0;
}

section.deals-cats {
    padding: 0 0 1rem;
}

.d-cat-dets {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    border-left: 3px solid #EA4036;
}

.deals-cats h4 {
    color: #FFF;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.25rem;
}

section.pop-deals,
section.browse-deals {
    background: rgb(237, 236, 234);
    padding: 1rem 0 3rem;
}

.pop-deals h3,
.browse-deals h3 {
    padding: 10px 0;
    font-size: 1.1rem;
    color: #7C7B7B;
    font-family: 'clear_sansregular';
}

.pop-deals > div > div > ul > li,
.browse-deals > div > div > ul > li {
    width: 23.444495%;
    float: left;
    margin-bottom: 1.1rem;
    margin-right: 2%;
}

.pop-deals > div > div > ul > li:nth-child(4),
.browse-deals > div > div > ul > li:nth-child(4) {
    margin-right: 0
}

.d-dets {
    padding: 10px;
    background: #FFF;
    width: 100%;
    float: left;
    height: 140px;
}

.pop-deals h4,
.browse-deals h4 {
    color: #221F1F;
    font-size: 1.25rem;
}
.browse-deals ul li .wrap h6 {
    color: #FF334D !important;
    font-size: 1.2rem;
}
.pop-deals h5,
.browse-deals h5 {
    font-size: 0.9rem;
    color: #696A6B;
    margin: 0;
    float: left;
}

.d-dets ul.stars {
    float: left;
}

.d-prices, .d-buy {
    width: 50%;
    float: left;
}

.d-buy .button.buy {
    background: #F49F9A;
}
.price h5{
    float: none;
}
.actual-p{
    margin-left: 10% !important;
}

.actual-p {
    color: #8E9093 !important;
    font-size: 0.9rem;
    font-family: 'clear_sansregular';
    position: relative;
}

.actual-p:before {
    content: "Ksh";
    position: absolute;
    left: -26px;
    font-size: 0.8rem;
    font-family: 'clear_sanslight';
    bottom: 1px;
}

.deal-p {
    font-size: 1.2rem;
    font-family: 'clear_sansregular';
    position: relative;
}

.deal-p:before {
    content: "Ksh";
    left: -24px;
    font-size: 0.8rem;
    font-family: 'clear_sanslight';
    bottom: 6px;
}
.discount-p{
    font-size: 0.8rem;
    font-family: 'clear_sanslight';
}

.actual-p:after {
    content: "";
    width: 100%;
    position: absolute;
    top: 11px;
    left: -27px;
    border-top: thin solid #ccceca !important;
}
.price h5{
    margin-top: 45px !important;
    margin-bottom: 0 !important;
    text-align: center;
    float: none;
}
.price h6{
    font-size: .75rem !important;
    margin-top: 0 !important;
}
.price .actual-p:after {
    left: 6px;
}
.price .actual-p:before {
    left: 7px
}
.pop-deals .d-prices,
.deals-deals .d-prices,
.browse-deals .d-prices {
    margin-left: .4rem;
}

.ft-img {
    height: 402px;
}

.ft-img img {
    object-fit: cover;
    height: 100%;
}

.ft-dets-wrap {
    float: left;
    width: 100%;
    padding: 3rem 1rem 0;
    position: relative;
    background: #FFF;
}

.collapse {
    padding-left: 0;
    padding-right: 0;
}

.ft-dets-wrap h5 {
    position: absolute;
    width: 100%;
    text-align: right;
    font-size: 0.9rem;
    background: #00A89B;
    padding: 7px 1rem;
    top: 0;
    left: 0;
    margin: 0;
    color: #FFF;
}

#dealview .main-ft > .row {
    position: relative;
}

.deal-highlight {
    position: absolute;
    width: 100%;
    text-align: right;
    font-size: 0.9rem;
    background: #00A89B;
    padding: 7px 1rem;
    top: 0;
    left: 0;
    margin: 0;
    color: #FFF;
    z-index: 1;
}

.ft-dets-wrap h3 {
    font-size: 1.3rem;
    font-family: 'clear_sansregular';
    color: #231F20;
}

.ft-dets-wrap h6 {
    margin-bottom: 0;
    color: #686A6B;
    font-size: 0.9rem;
}

.ft-dets-wrap p {
    margin-top: 1rem;
}

.deal-p {
    font-size: 1.5rem;
    font-family: 'clear_sansregular';
    position: relative;
}

.deal-p:before {
    content: "Ksh";
    font-size: 1.1rem;
}

.ft-dets-wrap .d-buy .button {
    display: inline-block;
    font-size: 0.85rem;
    max-width: 172px;
    min-width: 121px;
}

.ft-dets-wrap .d-buy {
    margin: 1rem 0 1rem;
    width: 100%;
}

.ft-dets-wrap .d-buy .button.buy {
    background: #EA4036;
}

.d-dets .d-buy {
    margin-top: 1rem;
}

#dealview .ft-dets-wrap {
    /*padding-top: 7rem;*/
    min-height: 330px;
}

#dealview .ft-dets-wrap .deal-p {
    margin-top: 1rem;
}

#dealview .ft-img {
    height: 330px;
}

.deal-dets {
    margin-top: 5px;
    padding:.5rem;
}

.deal-dets .small-12.large-8.collapse.columns {
    border-right: thin solid rgba(104, 106, 107, 0.3);
}

.deal-dets > div {
    background: #FFF;
    margin-bottom: 1rem;
}

.deal-dets h6 {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #5E5E5E;
    font-family: 'clear_sansregular';
    margin-bottom: 0;
}

.deal-dets hr {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}
.shop_desc{
    font-size: 1.2rem !important;
    /*border-bottom: 1px solid rgba(128, 129, 132, 0.37);*/
    color: #808184;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 5px !important;
    
}
.deal-dets p {
    font-size: 0.9rem;
    color: #686A6B;
}

.button.query {
    background: #26A6DD;
}

.deal-dets i {
    color: #686A6B;
    font-size: 0.9rem;
}

.deal-dets p i {
    color: #00A89B;
}

.loading {
    display: none;
    position: absolute;
    margin-left: -50%;
    margin: 5% auto;
    left: 0;
    right: 0;
    top:45%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 0.25rem solid rgba(242, 143, 133, 0.57);
    border-top-color: #F28F85;
    z-index:9999;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

.loading--double {
  border-style: double;
  border-width: .5rem;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9; /* ie fallback png background image */
    z-index:999;
    color:white;
}

div.details-card  button.button[disabled], div.details-card  button.button[disabled]:active, div.details-card  button.button[disabled]:hover  {
    background-color: #FE5721;
    opacity: 0.5;
}
ul.job-subcategories{
    margin-left: 2rem;
    list-style-type: disc;
    color: #797676;

}
@media only screen and (min-width: 40.0625em) {
    .datepicker.dropdown-menu{
        top: 275px !important;
    }
    .top-bar-section ul li {
        border-bottom: 6px solid #FFFFFF;
        height: 70px;
    }

    .top-bar-section ul.right li:hover {
        border-bottom-color: #00A89B;
    }

    .top-bar-section ul.right li:first-child:hover {
        border-bottom-color: #FFFFFF;
    }
}

.showCart{
    padding-top: 25px !important;
    text-align: center;
}
.badge {
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 3px;
    min-width: 10px;
    padding: 4px 5px;
    font-size: 9px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #e9048b;
    border-radius: 10px;
}

.table {
    width: 100%;
    margin-bottom: 20px;
}
.pop-deals table thead {
    background: transparent;
}
.cart-table {
    box-shadow: 0px 1px 2px rgba(195, 195, 195, 0.2);
    background: #fff;
    border-radius: 0;
}

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.cart-table > thead > tr > th, .cart-table > tbody > tr > th, .cart-table > tfoot > tr > th {
    border-width: 1px;
    font-weight: 400;
    font-size: 16px;
}
.pop-deals a.button.shopbtn {
    background-color: #FF344E;
}
.pop-deals a.button.checkoutbtn {
    background-color: #00D9BB;
}
.pop-deals a.button.checkoutbtn:hover {
    background-color: #09BFA6;
}
.cart-table > thead > tr > th {
    padding: 1rem;
}
.cart-table > thead > tr > td, .cart-table > tbody > tr > td, .cart-table > tfoot > tr > td, .cart-table > thead > tr > th, .cart-table > tbody > tr > th, .cart-table > tfoot > tr > th {
    padding: 1rem 15px 10px;
    vertical-align: middle;
    border-right: 1px solid rgba(221, 221, 221, 0.5);
    color: #586E77;
}
.pop-deals .table > thead > tr > th:last-child,
td.cart-item-remove {
    border-right: none !important;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn {
    border: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #666;
    border: 1px solid #e6e6e6;
}

.btn-primary {
    background: #2a8fbd;
    color: #fff;
    border-color: #2681aa;
}

.pimg img {
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

#drop1 li {
    width: 100%;
}

.f-dropdown li a {
    padding: 5px 10px !important;
    font-size: 13px !important;
}
.browse-deals ul li,.browse-vendors ul li  {
    background-color: #FFF;
    padding: 0;
}

/* new shop styles */
.blissful-shop {
    color: #586E77 !important;
    font-family: 'clear_sanslight' !important;
    background-color: #F1F2F2;
}
.blissful-shop a, .blissful-shop a:hover, .blissful-shop a:focus {
    color: #586E77;
}
.blissful-shop header {
    background-color: #FFF;
    margin-bottom: 1rem;
}
.blissful-shop .top-header {
    border-bottom: 3px solid #FF334D;
}
.blissful-shop .main-nav ul {
    list-style-type: none;
    margin: 0;
}
.blissful-shop .main-nav ul li {
    display: inline-block;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    border-bottom: 2px solid transparent;
}
.blissful-shop .main-nav ul li a:hover,
.blissful-shop .main-nav ul li.active a {
    color: #E94432;
}
.blissful-shop .main-nav ul li:hover,
.blissful-shop .main-nav ul li.active {
    border-bottom-color: #E94432;
}
.blissful-shop .top-header h1 {
    line-height: 1;
}
.blissful-shop ul.title-area {
    margin-top: 10px;
}
.blissful-shop .top-header input[type="text"]#find {
    margin-bottom: 0;
    border-radius: 19px;
    width: 18rem;
    padding: 5px 10px;
    height: inherit;
    font-size: 0.9rem;
    border: none !important;
    box-shadow: none;
    margin-top: 10px;
    color: #586E77;
    background: #F1F1F2 url(../img/arrow.png) 97% 5px no-repeat !important;
    background-size: 6% !important;
    margin-left: 1rem;
}
.blissful-shop .top-header h1 img {
    max-width: 110px;
}
.blissful-shop .mainft {
    position: relative;
    height: 350px;
    overflow: hidden;
}
.blissful-shop .mainft:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: rgba(68, 68, 68, 0.1);
    width: 100%;
    height: 100%;
}
.blissful-shop .mainft img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.blissful-shop .mainft h2 {
    color: #FFF !important;
    line-height: 1.1;
    margin-top: 20%;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.blissful-shop .mainft .wrap {
    position: relative;
    margin-left: 2rem;
    width: 36%;
    z-index: 2
}
.blissful-shop .imgwrap,
.blissful-shop .textwrap {
    width: 50%;
    float: left;
}
.blissful-shop .ft {
    margin-top: 1rem;
    background-color: #FFF;
    height: 230px;
    overflow: hidden;
}
.blissful-shop .masthead {
    background-color: #E9ECED;
    padding-bottom: 1rem;
    margin-top: 131px;
    padding-top: 1rem;
}
.blissful-shop .textwrap {
    padding: 1rem 2rem;
}
.blissful-shop .textwrap {
    padding: 1rem 2rem;
    color: #FD7895;
}
.blissful-shop .textwrap h3 {
    font-family: 'clear_sansbold' !important;
    font-size: 3.5rem;
    color: #FD7895 !important;
}
.blissful-shop .textwrap .button {
    background-color: #FD7895
}
.blissful-shop .row {
    max-width: 75rem;
}
.blissful-shop .button {
    background-color: #FF334D;
}
.blissful-shop .button {
    font-size: 1rem;
    color: #FFF;
    transition: all 200ms ease-in-out;
    font-family: 'clear_sanslight';
    padding: 12px 2rem;
}
.blissful-shop .button:hover {
    background-color: #E53855;
    color: #FFF
}
.blissful-shop main[aria-role="main"] {
    background-color: #FFF;
    padding-bottom: 2rem;
}
.blissful-shop main[aria-role="main"] h3 {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 2rem;
}
.blissful-shop ul.shop-items {
    list-style-type: none;
    margin-left: 0;
    width: 100%;
    float: left;
    margin-top: 2rem;
}
.blissful-shop ul.shop-items li {
    width: 23.9%;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.32);
    transition: all 200ms ease-in;
}
.blissful-shop ul.shop-items li img,
.blissful-shop .browse-deals ul li img ,.browse-vendors ul li img {
    transition: all 100ms ease-in-out;
    object-fit: cover;
}
.blissful-shop ul.shop-items li:nth-child(4n) {
    margin-right: 0
}
.blissful-shop ul.shop-items li .wrap {
    padding: 5px 8px;
    border-bottom: 2px solid transparent;
}
.blissful-shop ul.shop-items li h4 {
    font-size: 1rem;
    margin-bottom: 2px;
    transition: all 200ms ease-in;
    height: 22px;
    overflow: hidden;
}
.blissful-shop ul.shop-items li:hover h4 {
    color: #FF334D  
}
.blissful-shop ul.shop-items li:hover {
    cursor: pointer;
}
.blissful-shop ul.shop-items li:hover .wrap {
    border-bottom-color: #FF334D;
}
.blissful-shop ul.shop-items li:hover img,
.blissful-shop .browse-deals ul li:hover img,.browse-vendors ul li:hover img {
    transform: scale(1.01);
}
.blissful-shop ul.shop-items li h6 {
    color: #FF334D !important;
    font-size: 1.2rem;
    margin: 0;
}
.blissful-shop button.button.load-shop-items {
    width: 16rem;
    margin: auto;
    display: block;
    background-color: transparent;
    color: inherit;
    border: thin solid #E6E7E8;
    padding: 10px 0;
    transition: all 100ms ease-in;
}
.blissful-shop button.button.load-shop-items:hover {
    border-color: #FF334D;
    color: #FF334D;
}
.blissful-shop main.shop-item {
    background-color: #E9ECED;
}
.blissful-shop .title-header {
    background-color: #FFF;
    padding: 1rem 0;
    margin-bottom: 1rem;
    margin-top: calc(131px + 1rem);
}
.blissful-shop .title-header h2 {
    font-size: 1.6rem;
    margin-bottom: 4px;
}
.blissful-shop .title-header h4 {
    font-size: 1.1rem;
    margin: 0;
}
.blissful-shop .item-summary .wrap {
    width: 100%;
    float: left;
    background-color: #FFF;
    padding-top: 1rem;
    font-size: 0.9rem;
}
.blissful-shop .item-summary {
    padding: 1rem 0;
    height: inherit;
    overflow: hidden;

}
.blissful-shop .cart h6 {
    font-size: 0.9rem;
}
.blissful-shop .cart h6.bold {
    font-family: 'clear_sansmedium';
}
.blissful-shop .cart h5 {
   font-size: 1.6rem;
    margin-bottom: 0;
}
.blissful-shop .cart .item-price h5 {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.4rem;
    margin-bottom: 1rem
}
.blissful-shop .cart p {
    font-size: 0.9rem;
}
.blissful-shop .cart .item-price h5.strike {
    text-decoration: line-through;
}
.cart h4.discount {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #FF334D !important;
}
.blissful-shop .cart .item-price h5.sale-price {
    color: #FF334D !important;
}
.cart .discount span.sup {
    font-size: 1.25rem;
    position: absolute;
    top: 11px;
    margin-left: 5px;
}
.blissful-shop .cart .button {
    width: 90%;
    margin: 1rem auto;
    display: block;
}
.blissful-shop .cart .button.query {
    background-color: transparent;
    border: thin solid #E6E7E8;
    color: #95A2A8
}
.blissful-shop .cart .button.query:hover {
    border-color: #FD7895;
    color: #FD7895
}
.blissful-shop .cart .wrap {
    height: inherit;
}
.blissful-shop .cart ul.user {
    list-style-type: none;
    margin-left: 0;
}
.blissful-shop .cart .wrap form {
    width: 10rem;
}
.blissful-shop .item-desc {
    background-color: #FFF;
    margin-top: 1rem;
    padding-top: 1rem;
    min-height: 300px;
}
.blissful-shop .item-desc .tabs-title > a {
    font-size: 0.9rem;
    border-left: thin solid rgba(88, 110, 119, 0.4);
    border-top: thin solid rgba(88, 110, 119, 0.4);
    margin-bottom: 0;
    padding: 1rem 4rem 1rem;
}
.blissful-shop .item-desc .tabs-content,
.blissful-shop .item-desc .tabs {
    border: none;
}
.blissful-shop .item-desc .tabs-title > a:focus,
.blissful-shop .item-desc .tabs-title > a[aria-selected='true'] {
    background-color: transparent;
    border-bottom: thin solid #FFF;
}
.blissful-shop .item-desc .tabs-title > a:hover {
    background-color: rgba(88, 110, 119, 0.05);
}
.blissful-shop .item-desc .tabs {
    border-bottom: thin solid rgba(88, 110, 119, 0.4);
    margin-top: 1rem;
}
.blissful-shop .item-desc .tabs-title:last-child a {
    border-right: thin solid rgba(88, 110, 119, 0.4)
}
.blissful-shop .item-desc h5 {
    font-size: 1rem;
}
.blissful-shop .tabs-panel {
    padding-left: 0
}
.blissful-shop .item-desc .tabs-title {
    float: left;
    padding-bottom: 1rem;
}
.blissful-shop .vendor-shop .row > .wrap {
    border: thin solid rgba(88, 110, 119, 0.4);
    padding: 1rem 10px;
    width: 100%;
    float: left;
}
.blissful-shop .vendor-shop .wrap > h5 {
    text-align: center;
    margin-bottom: 1rem;
}
.blissful-shop .vendor-shop ul {
    list-style-type: none;
    margin-left: 0;
}
.blissful-shop .vendor-shop ul li {
    width: 47%;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.32);
    float: left;
    margin: 0 1rem 1rem 0;
}
.blissful-shop .vendor-shop ul li:nth-child(2n) {
    margin-right: 0
}
.blissful-shop .vendor-shop ul li h4 {
    font-size: 0.9rem;
    margin-bottom: 0;
    height: 22px;
    overflow: hidden;
}
.blissful-shop .browse-deals ul li .wrap h4,.browse-vendors ul li .wrap h4 {
    font-size: 1rem;
    margin-bottom: 0;
    height: inherit;
    overflow: hidden;
}
.browse-vendors ul.vendor-container li .wrap h4 {
    height: 22px;
}
.blissful-shop .browse-deals li .wrap,.browse-vendors li .wrap {
    padding: 5px 8px;
    border-bottom: 2px solid transparent;
}
.blissful-shop .browse-deals li:hover .wrap {
    border-bottom-color: #FF334D;
}
.blissful-shop .vendor-shop ul li h6 {
    color: #FF334D
}
.blissful-shop .vendor-shop .wrap {
    padding: 3px 10px; 
}
.blissful-shop section.shop-meta {
    padding: 2rem 0;
    background-color: #F9F9F9;
    border-top: 1px solid #E9ECED;
}
.shop-meta p {
    font-size: 0.85rem;
    margin-bottom: 0.3rem;
}
p.shop-intro {
    width: 75%;
    text-align: center;
    margin: auto;
}
section.pop-deals {
    padding-top: 5rem;
}
.pop-deals h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #FF344E !important
}
.pop-deals ul.cart-table {
    width: 100%;
    float: left;
}
.pop-deals ul.cart-table li {
    float: left;
    width: 100%;
    padding: 1rem;
    margin: 0;
    border-bottom: thin solid gainsboro;
}
.pop-deals ul.cart-table li .cart-det {
    width: 48%;
    float: left;
}
.pop-deals ul.cart-table li .cart-det:nth-child(even) {
    text-align: right;
    margin-right: 1%;
}
.lSSlideWrapper.usingCss {
    max-width: 100%;
    margin-right: 0;
    float: none;
}
.f-dropdown > li{
    height: inherit !important;
    width: 100%;
}
.order-details{
    clear:both;
    text-align: center;
    padding: 15px;
}
.details-card{
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 10px auto;
    display: inline-block;
}
.details-card > h3 {
    border-bottom: 2px solid #ccc;
}
.details-card > h4{
    border-bottom: 1px solid #ccc;
}
.details-card label > span {
    color: #FF334D;
}
.details-card textarea{
    background-color: #ececec;
}
.delivery-details{
    text-align: left;
}
.details-card > div.delivery-details:first-child{
    border-right:1px solid #ccc;
}
.delivery-details h5:first-of-type{
    margin-bottom: 1rem;
}
.blurry h3 > span, .current h3 >  span {
    border-radius: 50%;
    background-color: #1BB2A6;
    color: #fff;
    padding: 5px 10px;
    font-size: 13px;
    margin-right: 10px;
} 
.blurry{
    opacity: 0.5;
}
.details-card  button{
    background-color:#FE5721;
}
.details-card h5{
    font-size: 1.0rem;
}
.pricing-area{
    margin-top: 15px;
    border-top: 1px solid #ccc;
    text-align: right;
}
.user-delivery-details{
    border-right: 1px solid #ccc;
}
.successful-order-header{ 
    border-bottom: 1px solid  #ccc;
}
.successful-order-header h3{
    color: #4DAF51 !important;
    text-align: center;
    font-weight: bolder;
}
.successful-order-card > .img-container {
    margin-top:10px;
    margin-bottom:10px;
}
.successful-order-content{
    text-align: center;
}
.successful-order-content > p{
    margin-bottom:0.4rem;
}
.browse-vendors > div > div > ul > li {
    margin-bottom: 1rem;
}
.vendor-header{
    margin-top: 1.1rem !important;
}
/* small & medium screens */
@media screen and (min-width: 40.1rem) and (max-width: 850px) {
.blissful-shop ul.shop-items li {
    width: 30%;
}
.blissful-shop ul.shop-items li:nth-child(3n) {
    margin-right: 0
}
.blissful-shop ul.shop-items li:nth-child(4n) {
    margin-right: 1rem
}

}

/* medium screens */
@media screen and (max-width: 850px) {
.blissful-shop .mainft,
.blissful-shop .ft {
    height: inherit;
}
.blissful-shop .mainft img {
    object-fit: cover;
    height: 100%;
}
.blissful-shop .button {
    font-size: 0.9rem;
    padding: 10px 1rem;
}
.blissful-shop .textwrap {
    padding: 0 1rem;
}
.blissful-shop .textwrap h3 {
    font-size: 2rem;
    margin: 0;
}
}

/* small screens */
@media screen and (max-width: 40rem) {
.blissful-shop .imgwrap,
.blissful-shop .textwrap {
    width: 100%;
}
section.pop-deals {
    padding-top: 1rem;
}
select {
    margin-bottom: 0;
}
li.cart-total {
    background-color: #7D8D95;
}
.cart-total h3 {
    color: #FFF !important;
    font-size: 1.2rem;
}
span.ion-ios-close-outline {
    color: #0E2D3B;
    font-size: 1.2rem;
}
span.ion-ios-close-outline:hover {
    color: #02C9DF;
}
.blissful-shop header {
    margin-bottom: 0;
}
.blissful-shop .textwrap h3 {
    font-size: 1.6rem;
    margin: 0;
}
.blissful-shop .textwrap p {
    line-height: 1.3;
}
.blissful-shop .textwrap .button {
    margin-bottom: 0;
}
.blissful-shop main[aria-role="main"] h3 {
    font-size: 1.3rem;
}
.blissful-shop ul.shop-items li {
    width: 47%;
}
.blissful-shop ul.shop-items li:nth-child(2n) {
    margin-right: 0
}
.blissful-shop ul.shop-items li h4 {
    font-size: 0.9rem;
    margin-bottom: 0;
}
.blissful-shop ul.shop-items li h6 {
    font-size: 1.1rem;
}
.blissful-shop .mainft .wrap {
    width: 88%;
    margin: auto;
    text-align: center;
}
.blissful-shop .ft {
    padding: 1rem;
}
.blissful-shop .textwrap {
    padding: 0;
}
.blissful-shop .title-header h2 {
    font-size: 1.4rem;
}
.blissful-shop .cart .wrap {
    margin-left: 3%;
    width: 94%;
    float: left;
}
.blissful-shop .tab-title {
    width: 50%;
}
.blissful-shop .tab-title>a {
    padding: 10px !important;
    width: 100%;
    text-align: left;
    font-size: 0.7rem;
}
.blissful-shop .item-summary {
    height: inherit;
}
.blissful-shop .item-desc .tabs-title {
    width: 42%;
}
.blissful-shop .top-bar {
    height: 3.8rem;
}
.blissful-shop .top-bar.expanded {
    height: auto;
    padding-bottom: 0;
}
.blissful-shop .top-bar-section ul li {
    border-bottom: none;
}
.blissful-shop .expanded .top-bar-section {
    border-top: 1px solid #FF334D;
    width: 100%;
    float: left;
}
.blissful-shop .top-bar.expanded .title-area {
    padding-bottom: 7px;
}
.top-bar .toggle-topbar.menu-icon a {
    margin-top: -4px;
}
.blissful-shop .expanded ul {
    margin-left: 0 !important;
    width: 100%;
    float: left;
    padding-left: 0;
}
.blissful-shop .top-header input[type="text"]#find {
    width: 90%;
    border-radius: 1rem;
    background-size: 3.5% !important;
}
.blissful-shop .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 8px 0.9375rem;
    font-family: 'clear_sanslight' !important;
    border-bottom: thin solid rgba(88, 110, 119, 0.32);
}
.blissful-shop .top-bar-section ul:last-child li:not(.has-form):last-child a:not(.button) {
    border-bottom: none;
}
.blissful-shop .top-bar-section li:not(.has-form) a:not(.button) > i {
    display: none;
}
li.mobile-shop-search {
    padding: 0 1rem 16px;
    border-bottom: thin solid #CCC !important;
    width: 100%;
    float: left;
}
.blissful-shop .masthead {
    margin-top: 0;
    padding-top: 0;
}
.blissful-shop .title-header {
    margin-top: 0;
}
.browse-vendors > div > div > ul > li {
    width: 100%;
}
.browse-deals > div > div > ul > li {
    width: 48%;
    margin-right: 3%;
}
.browse-deals > div > div > ul > li:nth-of-type(2n) {
    margin-right: 0;
}


}


/* end of new shop design styles */


@media only screen and (min-width: 40.0625em) {
    .vendor-header{
        margin-top: 5.3rem !important;
    }
    .f-dropdown li {
        border-bottom: none !important;
        height: inherit !important;
        padding: 5px 20px !important;
        font-size: 13px !important;
    }
    .browse-vendors > div > div > ul > li {
    width: 32%;
    margin-right: 2%;
    float: left;
    }
    .browse-vendors > div > div > ul > li:nth-of-type(3n+3) {
        margin-right: 0;
    }
}
@media(max-width: 768px){
    .blissful-shop .cart .wrap {
        margin-top: 1rem;
    }
    .badge{
        right: 45%;
    }

}