
<div class="modal fade categoryAdd" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Categoty</h4>
            </div>
            <form class="form" name="addCategoryForm" ng-submit="addCategoryFn()">
                <div class="modal-body">
                    <div class="form-group clearfix pull-in">
                        <div class="col-sm-6">
                            <label>
                                Name
                                <span class="error" ng-show="addCategoryForm.name.$error.required" style="color:RED">*</span>
                                <span class="valid" ng-show="addCategoryForm.name.$valid" style="color:#31B404">*</span>
                            </label>
                            <input type="text" name="name" class="form-control" ng-model="category.name" required>
                        </div>
                        <div class="col-sm-6">
                            <label>
                                Description
                            </label>
                            <textarea name="description" class="form-control" ng-model="category.description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" ng-disabled="addCategoryForm.$invalid" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>