
<div class="modal fade productAdd" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Product</h4>
            </div>
            <form class="form" name="addProductsForm" ng-submit="addProductsFn()">
                <div class="modal-body">
                    <div class="form-group clearfix pull-in">
                        <div class="col-sm-3">
                            <label>
                                Type
                                <span class="error" ng-show="addProductsForm.type.$error.required" style="color:RED">*</span>
                                <span class="valid" ng-show="addProductsForm.type.$valid" style="color:#31B404">*</span>
                            </label>
                            <select ng-model="product.type" name="type" class="form-control" required>
                                <option value="1">Product</option>
                                <option value="2">Service</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label>
                                Name
                                <span class="error" ng-show="addProductsForm.name.$error.required" style="color:RED">*</span>
                                <span class="valid" ng-show="addProductsForm.name.$valid" style="color:#31B404">*</span>
                            </label>
                            <input type="text" name="name" class="form-control" ng-model="product.name" required>
                        </div>
                        <div class="col-sm-3">
                            <label>
                                Categoty
                                <span class="error" ng-show="addProductsForm.category_id.$error.required" style="color:RED">*</span>
                                <span class="valid" ng-show="addProductsForm.category_id.$valid" style="color:#31B404">*</span>
                            </label>
                            <select ng-options="category.id as category.name for category in categories" ng-change="getSubCategoryFn(product.category_id)"
                                    ng-model="product.category_id" name="category_id" class="form-control" required></select>
                        </div>
                        <div class="col-sm-3">
                            <label>
                                Sub Categoty
                            </label>
                            <select ng-options="subcategory.id as subcategory.name for subcategory in subcategories"
                                    ng-model="product.sub_category_id" name="sub_category_id" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group clearfix pull-in">
                        <div class="col-sm-12">
                            <label>Description</label>
                            <text-angular ng-model="product.description"></text-angular>
                        </div>
                    </div>
                    <div class="form-group clearfix pull-in">
                        <div class="col-sm-12">
                            <label>Highlights</label>
                            <text-angular ng-model="product.highlights"></text-angular>
                        </div>     
                    </div>     
                    <div class="form-group clearfix pull-in">
                        <div class="col-sm-12">
                            <label>Terms & Conditions</label>                            
                            <text-angular ng-model="product.tnc"></text-angular>
                        </div>
                    </div>
                    <div class="form-group clearfix pull-in">
                        <div class="col-sm-4">
                            <label>
                                Location
                            </label>
                            <input type="text" name="location" class="form-control" ng-model="product.location">
                        </div>
                        <div class="col-sm-4">
                            <label>
                                Seller
                            </label>
                            <select ng-options="vd.id as vd.first_name + ' ' +vd.last_name for vd in vendors"
                                    ng-model="product.seller_id" name="seller_id" class="form-control"></select>
                        </div>
                        <div class="col-sm-4" ng-show="product.type == 1">
                            <label>Qty</label>
                            <input type="number" name="qty" class="form-control" ng-model="product.qty" step="1">
                        </div>  
                    </div>
                    <div class="form-group clearfix pull-in">    
                        <div class="col-sm-4">
                            <label>
                                Price
                                <span class="error" ng-show="addProductsForm.price.$error.required || addProductsForm.price.$invalid" style="color:RED">*</span>
                                <span class="valid" ng-show="addProductsForm.price.$valid" style="color:#31B404">*</span>
                            </label>
                            <input type="number" name="price" class="form-control" ng-model="product.price" min="1" required>
                        </div>
                        <div class="col-sm-4">
                            <label>Discount</label>
                            <input type="number" name="discount" class="form-control" ng-model="product.discount" min="1">
                        </div>
                        <div class="col-md-4" ng-if="product.discount">
                            <label>
                                Expiry Date
                                <span class="error" ng-show="addProductsForm.expiry_date.$error.required || addProductsForm.expiry_date.$invalid" style="color: RED">*</span>
                                <span class="valid" ng-show="addProductsForm.expiry_date.$valid" style="color: #31B404">*</span>
                            </label>
                            <p class="input-group">
                                <input type="text" name="expiry_date" class="form-control" 
                                       min-date="minDate" datepicker-popup="{{format}}" is-open="opened"
                                       ng-model="product.expiry_date" close-text="Close" ng-required="product.discount" readonly/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="form-group clearfix pull-in">
                        <div class="col-sm-3">
                            <label>Picture</label>
                            <input type="file" accept="image/*" name="picture" class="form-control" image="product.picture"/>
                        </div>                     
                        <div class="col-sm-3">
                            <div ng-show="product.picture">
                                <img ng-src="{{product.picture.dataURL}}" style="height: 100px; width: 100px;" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" ng-disabled="addProductsForm.$invalid" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>