<!-- Start Page Header -->
<div class="page-header">
    <h1 class="title">Products</h1>
</div>
<!-- End Page Header -->

<!-- START CONTAINER -->
<div class="container-padding">
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-md-12">
            <button type="button" ui-sref="app.products.add" class="btn btn-info pull-right">Add Product</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-title">
                    Product List
                </div>
                <div class="panel-body">
                    <table class="table table-bordered" ng-show="products.length">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Sub Category</th>
                                <th>Price</th>
                                <th>Seller</th>
                                <th>Qty</th>
                                <th>Status</th>
                                <th class="col-md-2">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="prd in products">
                                <td class="text-center">{{$index + 1}}</td>
                                <td>{{prd.name}}</td>
                                <td>{{prd.description}}</td>
                                <td>{{prd.category.name}}</td>
                                <td>{{prd.sub_category.name}}</td>
                                <td>{{prd.price}}</td>
                                <td>{{prd.user.name}}</td>
                                <td>{{prd.qty}}</td>
                                <td>{{prd.status}}</td>
                                <td>
                                    <button class="btn-xs btn-primary" type="button" ui-sref="app.products.edit({id:prd.id})" tooltip="Edit Product"><i class="fa fa-edit"></i></button>
                                    <button class="btn-xs btn-danger" ng-confirm-click confirmed-click="deleteProductsFn(prd.id)" type="button"  tooltip="Delete Prodcut"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="text-right m-t-lg m-b-lg" ng-show="products.length">
                        <!--<div class="col-md-6 text-right" >-->
                        <pagination boundary-links="true" style="margin: 0 0 5px 0;"
                                    total-items="totalCount"
                                    items-per-page="limit"
                                    ng-model="currentPage"
                                    class="pagination-sm"
                                    previous-text="&lsaquo;"
                                    ng-click="getPaginate()"
                                    max-size="maxSize"
                                    next-text="&rsaquo;"
                                    first-text="&laquo;"
                                    last-text="&raquo;">
                        </pagination>
                    </div>
                </div>
            </div>
        </div
    </div>  
</div>
<!-- END CONTAINER -->

<div ui-view=""></div>
