<!--Header Section-->
<div data-ng-include="'../app/common/partials/common/header.html'"></div>

<!--Nav Section-->
<div data-ng-include="'../app/common/partials/common/nav.html'"></div>

<!--Main Content Section-->
<div class="content" ui-view=""></div>
